@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-7BGmCcvcZSXH_font-family: "Inter", sans-serif;
  --mixin-7BGmCcvcZSXH_font-size: 16px;
  --mixin-7BGmCcvcZSXH_font-weight: 400;
  --mixin-7BGmCcvcZSXH_font-style: normal;
  --mixin-7BGmCcvcZSXH_color: #535353;
  --mixin-7BGmCcvcZSXH_text-align: left;
  --mixin-7BGmCcvcZSXH_text-transform: none;
  --mixin-7BGmCcvcZSXH_line-height: 1.5;
  --mixin-7BGmCcvcZSXH_letter-spacing: normal;
  --mixin-7BGmCcvcZSXH_white-space: pre-wrap;
  --mixin-7BGmCcvcZSXH_user-select: text;
  --mixin-7BGmCcvcZSXH_text-decoration-line: none;
  --mixin-7BGmCcvcZSXH_text-overflow: clip;
  --mixin-FtJ2KK2L2ecl_color: #000000;
  --mixin-FtJ2KK2L2ecl_font-weight: 700;
  --mixin-FtJ2KK2L2ecl_font-size: 64px;
  --mixin-FtJ2KK2L2ecl_line-height: 1;
  --mixin-FtJ2KK2L2ecl_letter-spacing: -1px;
  --mixin-FtJ2KK2L2ecl_white-space: pre-wrap;
  --mixin-bYJ8MRtj7_X7_color: #000000;
  --mixin-bYJ8MRtj7_X7_font-size: 48px;
  --mixin-bYJ8MRtj7_X7_font-weight: 700;
  --mixin-bYJ8MRtj7_X7_letter-spacing: -0.5px;
  --mixin-bYJ8MRtj7_X7_line-height: 1.1;
  --mixin-bYJ8MRtj7_X7_white-space: pre-wrap;
  --mixin-JVM2M4kRSsmy_color: #0070f3;
  --mixin-JVM2M4kRSsmy_white-space: pre-wrap;
  --mixin--8krobU4cdJF_color: #000000;
  --mixin--8krobU4cdJF_font-size: 32px;
  --mixin--8krobU4cdJF_font-weight: 600;
  --mixin--8krobU4cdJF_line-height: 1.2;
  --mixin--8krobU4cdJF_white-space: pre-wrap;
  --mixin-PZ8J_x7wnHsb_color: #000000;
  --mixin-PZ8J_x7wnHsb_font-size: 24px;
  --mixin-PZ8J_x7wnHsb_font-weight: 600;
  --mixin-PZ8J_x7wnHsb_line-height: 1.3;
  --mixin-PZ8J_x7wnHsb_white-space: pre-wrap;
  --mixin-sd8udtGY7yiG_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-sd8udtGY7yiG_border-bottom-color: #dddddd;
  --mixin-sd8udtGY7yiG_border-bottom-style: solid;
  --mixin-sd8udtGY7yiG_border-bottom-width: 1px;
  --mixin-sd8udtGY7yiG_border-left-color: #dddddd;
  --mixin-sd8udtGY7yiG_border-left-style: solid;
  --mixin-sd8udtGY7yiG_border-left-width: 1px;
  --mixin-sd8udtGY7yiG_border-right-color: #dddddd;
  --mixin-sd8udtGY7yiG_border-right-style: solid;
  --mixin-sd8udtGY7yiG_border-right-width: 1px;
  --mixin-sd8udtGY7yiG_border-top-color: #dddddd;
  --mixin-sd8udtGY7yiG_border-top-style: solid;
  --mixin-sd8udtGY7yiG_border-top-width: 1px;
  --mixin-sd8udtGY7yiG_border-bottom-left-radius: 3px;
  --mixin-sd8udtGY7yiG_border-bottom-right-radius: 3px;
  --mixin-sd8udtGY7yiG_border-top-left-radius: 3px;
  --mixin-sd8udtGY7yiG_border-top-right-radius: 3px;
  --mixin-sd8udtGY7yiG_font-family: "Inconsolata";
  --mixin-sd8udtGY7yiG_padding-bottom: 1px;
  --mixin-sd8udtGY7yiG_padding-left: 4px;
  --mixin-sd8udtGY7yiG_padding-right: 4px;
  --mixin-sd8udtGY7yiG_padding-top: 1px;
  --mixin-sd8udtGY7yiG_white-space: pre-wrap;
  --mixin-DyytlA5m8Lf__border-left-color: #dddddd;
  --mixin-DyytlA5m8Lf__border-left-style: solid;
  --mixin-DyytlA5m8Lf__border-left-width: 3px;
  --mixin-DyytlA5m8Lf__color: #888888;
  --mixin-DyytlA5m8Lf__padding-left: 10px;
  --mixin-DyytlA5m8Lf__white-space: pre-wrap;
  --mixin-4qz_3xb9GDZW_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-4qz_3xb9GDZW_border-bottom-color: #dddddd;
  --mixin-4qz_3xb9GDZW_border-bottom-style: solid;
  --mixin-4qz_3xb9GDZW_border-bottom-width: 1px;
  --mixin-4qz_3xb9GDZW_border-left-color: #dddddd;
  --mixin-4qz_3xb9GDZW_border-left-style: solid;
  --mixin-4qz_3xb9GDZW_border-left-width: 1px;
  --mixin-4qz_3xb9GDZW_border-right-color: #dddddd;
  --mixin-4qz_3xb9GDZW_border-right-style: solid;
  --mixin-4qz_3xb9GDZW_border-right-width: 1px;
  --mixin-4qz_3xb9GDZW_border-top-color: #dddddd;
  --mixin-4qz_3xb9GDZW_border-top-style: solid;
  --mixin-4qz_3xb9GDZW_border-top-width: 1px;
  --mixin-4qz_3xb9GDZW_border-bottom-left-radius: 3px;
  --mixin-4qz_3xb9GDZW_border-bottom-right-radius: 3px;
  --mixin-4qz_3xb9GDZW_border-top-left-radius: 3px;
  --mixin-4qz_3xb9GDZW_border-top-right-radius: 3px;
  --mixin-4qz_3xb9GDZW_font-family: "Inconsolata";
  --mixin-4qz_3xb9GDZW_padding-bottom: 3px;
  --mixin-4qz_3xb9GDZW_padding-left: 6px;
  --mixin-4qz_3xb9GDZW_padding-right: 6px;
  --mixin-4qz_3xb9GDZW_padding-top: 3px;
  --mixin-4qz_3xb9GDZW_white-space: pre-wrap;
  --mixin-sv0tdbZeBrX3_display: flex;
  --mixin-sv0tdbZeBrX3_flex-direction: column;
  --mixin-sv0tdbZeBrX3_align-items: stretch;
  --mixin-sv0tdbZeBrX3_justify-content: flex-start;
  --mixin-sv0tdbZeBrX3_list-style-position: outside;
  --mixin-sv0tdbZeBrX3_padding-left: 40px;
  --mixin-sv0tdbZeBrX3_position: relative;
  --mixin-sv0tdbZeBrX3_list-style-type: disc;
  --mixin-sv0tdbZeBrX3_white-space: pre-wrap;
  --mixin-nAgl6HFAyhsV_display: flex;
  --mixin-nAgl6HFAyhsV_flex-direction: column;
  --mixin-nAgl6HFAyhsV_align-items: stretch;
  --mixin-nAgl6HFAyhsV_justify-content: flex-start;
  --mixin-nAgl6HFAyhsV_list-style-position: outside;
  --mixin-nAgl6HFAyhsV_padding-left: 40px;
  --mixin-nAgl6HFAyhsV_position: relative;
  --mixin-nAgl6HFAyhsV_list-style-type: decimal;
  --mixin-nAgl6HFAyhsV_white-space: pre-wrap;
  --mixin-LU2qckl2Mxi4_color: #000000;
  --mixin-LU2qckl2Mxi4_font-size: 20px;
  --mixin-LU2qckl2Mxi4_font-weight: 600;
  --mixin-LU2qckl2Mxi4_line-height: 1.5;
  --mixin-LU2qckl2Mxi4_white-space: pre-wrap;
  --mixin-AX-KnxZUoiMp_color: #000000;
  --mixin-AX-KnxZUoiMp_font-size: 16px;
  --mixin-AX-KnxZUoiMp_font-weight: 600;
  --mixin-AX-KnxZUoiMp_line-height: 1.5;
  --mixin-AX-KnxZUoiMp_white-space: pre-wrap;
  --mixin-5OW8c56i4qbu_color: #3291ff;
  --mixin-5OW8c56i4qbu_white-space: pre-wrap;
  --mixin-N0AQ-4FU2bQ5_white-space: pre-wrap;
  --mixin-_x6VTkXbwJmE_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-7BGmCcvcZSXH_font-family);
  font-size: var(--mixin-7BGmCcvcZSXH_font-size);
  font-weight: var(--mixin-7BGmCcvcZSXH_font-weight);
  font-style: var(--mixin-7BGmCcvcZSXH_font-style);
  color: var(--mixin-7BGmCcvcZSXH_color);
  text-align: var(--mixin-7BGmCcvcZSXH_text-align);
  text-transform: var(--mixin-7BGmCcvcZSXH_text-transform);
  line-height: var(--mixin-7BGmCcvcZSXH_line-height);
  letter-spacing: var(--mixin-7BGmCcvcZSXH_letter-spacing);
  white-space: var(--mixin-7BGmCcvcZSXH_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-FtJ2KK2L2ecl_color);
  font-weight: var(--mixin-FtJ2KK2L2ecl_font-weight);
  font-size: var(--mixin-FtJ2KK2L2ecl_font-size);
  line-height: var(--mixin-FtJ2KK2L2ecl_line-height);
  letter-spacing: var(--mixin-FtJ2KK2L2ecl_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-bYJ8MRtj7_X7_color);
  font-size: var(--mixin-bYJ8MRtj7_X7_font-size);
  font-weight: var(--mixin-bYJ8MRtj7_X7_font-weight);
  letter-spacing: var(--mixin-bYJ8MRtj7_X7_letter-spacing);
  line-height: var(--mixin-bYJ8MRtj7_X7_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-JVM2M4kRSsmy_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin--8krobU4cdJF_color);
  font-size: var(--mixin--8krobU4cdJF_font-size);
  font-weight: var(--mixin--8krobU4cdJF_font-weight);
  line-height: var(--mixin--8krobU4cdJF_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-PZ8J_x7wnHsb_color);
  font-size: var(--mixin-PZ8J_x7wnHsb_font-size);
  font-weight: var(--mixin-PZ8J_x7wnHsb_font-weight);
  line-height: var(--mixin-PZ8J_x7wnHsb_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-sd8udtGY7yiG_font-family);
  border-radius: var(--mixin-sd8udtGY7yiG_border-top-left-radius)
    var(--mixin-sd8udtGY7yiG_border-top-right-radius)
    var(--mixin-sd8udtGY7yiG_border-bottom-right-radius)
    var(--mixin-sd8udtGY7yiG_border-bottom-left-radius);
  padding: var(--mixin-sd8udtGY7yiG_padding-top)
    var(--mixin-sd8udtGY7yiG_padding-right)
    var(--mixin-sd8udtGY7yiG_padding-bottom)
    var(--mixin-sd8udtGY7yiG_padding-left);
  border-top: var(--mixin-sd8udtGY7yiG_border-top-width)
    var(--mixin-sd8udtGY7yiG_border-top-style)
    var(--mixin-sd8udtGY7yiG_border-top-color);
  border-right: var(--mixin-sd8udtGY7yiG_border-right-width)
    var(--mixin-sd8udtGY7yiG_border-right-style)
    var(--mixin-sd8udtGY7yiG_border-right-color);
  border-bottom: var(--mixin-sd8udtGY7yiG_border-bottom-width)
    var(--mixin-sd8udtGY7yiG_border-bottom-style)
    var(--mixin-sd8udtGY7yiG_border-bottom-color);
  border-left: var(--mixin-sd8udtGY7yiG_border-left-width)
    var(--mixin-sd8udtGY7yiG_border-left-style)
    var(--mixin-sd8udtGY7yiG_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-DyytlA5m8Lf__color);
  padding-left: var(--mixin-DyytlA5m8Lf__padding-left);
  border-left: var(--mixin-DyytlA5m8Lf__border-left-width)
    var(--mixin-DyytlA5m8Lf__border-left-style)
    var(--mixin-DyytlA5m8Lf__border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-4qz_3xb9GDZW_font-family);
  border-radius: var(--mixin-4qz_3xb9GDZW_border-top-left-radius)
    var(--mixin-4qz_3xb9GDZW_border-top-right-radius)
    var(--mixin-4qz_3xb9GDZW_border-bottom-right-radius)
    var(--mixin-4qz_3xb9GDZW_border-bottom-left-radius);
  padding: var(--mixin-4qz_3xb9GDZW_padding-top)
    var(--mixin-4qz_3xb9GDZW_padding-right)
    var(--mixin-4qz_3xb9GDZW_padding-bottom)
    var(--mixin-4qz_3xb9GDZW_padding-left);
  border-top: var(--mixin-4qz_3xb9GDZW_border-top-width)
    var(--mixin-4qz_3xb9GDZW_border-top-style)
    var(--mixin-4qz_3xb9GDZW_border-top-color);
  border-right: var(--mixin-4qz_3xb9GDZW_border-right-width)
    var(--mixin-4qz_3xb9GDZW_border-right-style)
    var(--mixin-4qz_3xb9GDZW_border-right-color);
  border-bottom: var(--mixin-4qz_3xb9GDZW_border-bottom-width)
    var(--mixin-4qz_3xb9GDZW_border-bottom-style)
    var(--mixin-4qz_3xb9GDZW_border-bottom-color);
  border-left: var(--mixin-4qz_3xb9GDZW_border-left-width)
    var(--mixin-4qz_3xb9GDZW_border-left-style)
    var(--mixin-4qz_3xb9GDZW_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-sv0tdbZeBrX3_display);
  flex-direction: var(--mixin-sv0tdbZeBrX3_flex-direction);
  align-items: var(--mixin-sv0tdbZeBrX3_align-items);
  justify-content: var(--mixin-sv0tdbZeBrX3_justify-content);
  list-style-position: var(--mixin-sv0tdbZeBrX3_list-style-position);
  padding-left: var(--mixin-sv0tdbZeBrX3_padding-left);
  position: var(--mixin-sv0tdbZeBrX3_position);
  list-style-type: var(--mixin-sv0tdbZeBrX3_list-style-type);
  flex-column-gap: var(--mixin-sv0tdbZeBrX3_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-nAgl6HFAyhsV_display);
  flex-direction: var(--mixin-nAgl6HFAyhsV_flex-direction);
  align-items: var(--mixin-nAgl6HFAyhsV_align-items);
  justify-content: var(--mixin-nAgl6HFAyhsV_justify-content);
  list-style-position: var(--mixin-nAgl6HFAyhsV_list-style-position);
  padding-left: var(--mixin-nAgl6HFAyhsV_padding-left);
  position: var(--mixin-nAgl6HFAyhsV_position);
  list-style-type: var(--mixin-nAgl6HFAyhsV_list-style-type);
  flex-column-gap: var(--mixin-nAgl6HFAyhsV_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-LU2qckl2Mxi4_color);
  font-size: var(--mixin-LU2qckl2Mxi4_font-size);
  font-weight: var(--mixin-LU2qckl2Mxi4_font-weight);
  line-height: var(--mixin-LU2qckl2Mxi4_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-AX-KnxZUoiMp_color);
  font-size: var(--mixin-AX-KnxZUoiMp_font-size);
  font-weight: var(--mixin-AX-KnxZUoiMp_font-weight);
  line-height: var(--mixin-AX-KnxZUoiMp_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-5OW8c56i4qbu_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
