.root:global(.__wab_instance) {
  object-fit: cover;
  box-sizing: border-box;
  color: #6b7280;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  position: relative;
}
.freeBox {
  position: relative;
  display: flex;
}
