.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.modal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__vCRw {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    80deg,
    var(--token-IFYe29KCwQQV) 0%,
    #2b4dcc 100%
  );
  column-gap: 10px;
  min-width: 0;
  border-radius: 12px;
  padding: 12px;
}
.svg__pZ978 {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox__g3Jf5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__lxbmy {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-KUiXUfHPkqkm);
  font-weight: 600;
  color: #ffffff;
  padding-right: 0px;
  min-width: 0;
}
.text__bgHsJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-P2saABvfDCPH);
  font-weight: 400;
  color: #ffffff;
  padding-right: 0px;
  opacity: 0.8;
  min-width: 0;
}
.svg__vnpeg {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__wZzV1 {
  padding-left: 0px;
}
.freeBox__grJvQ {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  min-width: 0;
}
.freeBox__aXuZ6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  border-radius: 7px;
  padding: 10px;
  border: 1.5px solid var(--token-4iQ-8GWBqX6X);
}
.text__yw7Bu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-0D6VF35kZC-C);
  text-align: center;
  min-width: 0;
}
.paziresh24Button:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 10px;
}
.svg__dsMly {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wuPd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
