.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
}
.launcherComponentsTitle:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__orbIy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  column-gap: 10px;
  min-width: 0;
}
.freeBox__fsa9L {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 55px;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 255px;
  column-gap: 7px;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 12px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 4px;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__esRdo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 7px;
  min-width: 0;
}
.text__kZuO5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.7;
  min-width: 0;
}
.paziresh24Button:global(.__wab_instance) {
  max-width: 100%;
}
.svg___8CTfj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rr47D {
  font-size: 10px;
  font-weight: 600;
}
.svg__vv22V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
