.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  cursor: pointer;
  min-width: 0;
  border-radius: 12px;
  padding: 10px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.freeBox__avrUp {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  cursor: pointer;
  background: none;
  min-width: 0;
  border-radius: 12px;
}
.freeBox__avrUp > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__avrUp > :global(.__wab_flex-container) > *,
.freeBox__avrUp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__avrUp > :global(.__wab_flex-container) > picture > img,
.freeBox__avrUp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBox__f64ZV {
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
  max-width: 100%;
}
.freeBox__f64ZV > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__f64ZV > :global(.__wab_flex-container) > *,
.freeBox__f64ZV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f64ZV > :global(.__wab_flex-container) > picture > img,
.freeBox__f64ZV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.paziresh24Avatar:global(.__wab_instance) {
  max-width: 100%;
  width: 40px;
  height: 40px;
  min-width: 40px;
  flex-shrink: 0;
}
.freeBox__fBrbq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__fBrbq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.freeBox__fBrbq > :global(.__wab_flex-container) > *,
.freeBox__fBrbq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fBrbq > :global(.__wab_flex-container) > picture > img,
.freeBox__fBrbq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 3px;
}
.text__aIqVq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  font-weight: 600;
}
.freeBox__wsgSt {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__wsgSt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
}
.freeBox__wsgSt > :global(.__wab_flex-container) > *,
.freeBox__wsgSt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wsgSt > :global(.__wab_flex-container) > picture > img,
.freeBox__wsgSt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.svg__iiLjr {
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  height: 14px;
  color: #3861fb;
  flex-shrink: 0;
}
.text__xfrz8 {
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #3861fb;
  font-weight: 500;
}
.freeBox__oqxGm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__oqxGm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
}
.freeBox__oqxGm > :global(.__wab_flex-container) > *,
.freeBox__oqxGm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oqxGm > :global(.__wab_flex-container) > picture > img,
.freeBox__oqxGm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.text__pEcwE {
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.6;
}
.freeBox__vXwnm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.svg__usu5T {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.launcherBlocksWallet:global(.__wab_instance) {
  max-width: 100%;
}
