.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-3WxvfyIdJppy);
  position: relative;
}
.freeBox {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 70px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  outline-style: solid;
  outline-offset: var(--token-omrXvBNBcWTN);
  outline-color: var(--token-IFYe29KCwQQV);
  outline-width: medium;
  flex-shrink: 0;
  border-radius: 110px;
  border: 1px solid var(--token-4iQ-8GWBqX6X);
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  min-width: 0;
}
