.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  column-gap: 15px;
  min-width: 0;
  border-radius: 314px;
  padding: 10px 15px 10px 10px;
}
.apiRequest2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__daNwg {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.svg__psTe {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.freeBox__xh81H {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 2px;
  min-width: 0;
  min-height: 0;
}
.freeBox__g495E {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.text__i1Zr2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-top: 0px;
  font-size: 13px;
  font-weight: 500;
  color: #00b894;
  min-width: 0;
}
.text__psjuT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 0px;
  font-size: 9px;
  min-width: 0;
}
.freeBox__wM0Lm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 12px;
  column-gap: 3px;
  min-width: 0;
}
.text__jTlDl {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 0px;
  font-size: 10px;
  color: #3861fb;
  font-weight: 500;
}
.svg__gmwpb {
  object-fit: cover;
  max-width: 100%;
  width: 13px;
  height: 13px;
  color: #3861fb;
  flex-shrink: 0;
}
.freeBox__wxcz5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 2px;
}
.freeBox__vnEpp {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.freeBox__dyTj {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 6px;
  justify-content: flex-start;
  align-items: center;
  background: #00b894;
  width: 6px;
  flex-shrink: 1;
  min-width: 6px;
  min-height: 6px;
  max-width: 6px;
  max-height: 6px;
  border-radius: 200px;
}
.text___8VQOi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-top: 0px;
  font-size: 13px;
  font-weight: 500;
  color: #00b894;
  min-width: 0;
}
.freeBox__bvg8K {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.freeBox__fd0Vr {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 7px;
  justify-content: flex-start;
  align-items: center;
  background: #b80000;
  width: 7px;
  flex-shrink: 1;
  min-width: 7px;
  min-height: 7px;
  max-width: 7px;
  max-height: 7px;
  border-radius: 200px;
}
.text__thjMx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-top: 0px;
  font-size: 13px;
  font-weight: 500;
  color: #b80000;
  min-width: 0;
}
.text__ru0Jt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-top: 0px;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  min-width: 0;
}
._switch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
