.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
}
.multilineTextInput:global(.__wab_instance) {
  max-width: 100%;
}
.multilineTextInputinstance:global(.__wab_instance) {
  display: none;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
}
.freeBoxinstance {
  display: none;
}
.paziresh24Button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__vVonh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ps90 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
