.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.launcherWrapper:global(.__wab_instance) {
  max-width: 100%;
}
.apiRequest2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__irEu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  column-gap: 10px;
  margin-bottom: 20px;
  min-width: 0;
}
.launcherComponentsCategory:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.freeBox__edkby {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 2px;
  width: 10px;
  flex-shrink: 0;
}
.freeBox__bug {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  min-width: 0;
}
.freeBox__qIMhb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
}
.launcherComponentsTitle___9YhTd:global(.__wab_instance) {
  max-width: 100%;
}
.launcherComponentsApp__v6ChM:global(.__wab_instance) {
  max-width: 100%;
}
.launcherComponentsSeparator:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 20px;
}
.freeBox__nu6H4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
}
.launcherComponentsTitle__mMdX8:global(.__wab_instance) {
  max-width: 100%;
}
.launcherComponentsApp__bytUs:global(.__wab_instance) {
  max-width: 100%;
}
.launcherComponentsApp__mWccY:global(.__wab_instance) {
  max-width: 100%;
}
.launcherComponentsApp___4BsSl:global(.__wab_instance) {
  max-width: 100%;
}
.launcherComponentsApp___6Tcy5:global(.__wab_instance) {
  max-width: 100%;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__wtXm5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #fcf7ee;
  row-gap: 10px;
  margin-top: 20px;
  min-width: 0;
  border-radius: 10px;
  padding: 15px;
}
.launcherComponentsTitle__fsOfS:global(.__wab_instance) {
  max-width: 100%;
}
.launcherComponentsApp__cIv3S:global(.__wab_instance) {
  max-width: 100%;
}
.getCenters:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
