.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  column-gap: 4px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-top: 1px solid #e7e7e7;
}
