.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__hMf3O {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 30px;
  flex-shrink: 0;
}
.svg__yg0YQ {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.freeBox__y7Dp2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 9px;
  height: 9px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-lBXxoq0q4VUt);
  left: auto;
  top: 7px;
  right: 7px;
  flex-shrink: 0;
  border-radius: 60px;
  border: 2px solid #ffffff;
}
.modal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__f2F9W {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
}
.paziresh24Button:global(.__wab_instance) {
  max-width: 100%;
  height: 27px;
  width: 110px;
  flex-shrink: 0;
}
.svg__qo4Dq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-s_XuzePAGmOh);
  min-width: 20px;
  margin-left: -5px;
}
.text__lr7Jv {
  font-size: var(--token-P2saABvfDCPH);
}
.svg__m7JA9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__il1Ao {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-KVcr9NiMwFLr);
  max-height: 40rem;
  overflow: auto;
  min-width: 0;
}
.freeBox__yh4MJ {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-KVcr9NiMwFLr);
  background: #ffffff;
  cursor: pointer;
  min-width: 0;
  border-radius: 9px;
  padding: var(--token-KVcr9NiMwFLr);
  border: 1px solid var(--token-M8SHDPuEHkX2);
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  min-width: 40px;
  flex-shrink: 0;
  border-radius: 120px;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__pbIj0 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.paziresh24LineClamp___9AgWu:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__dprCd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-P2saABvfDCPH);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dprCd {
    font-size: var(--token-P2saABvfDCPH);
  }
}
.paziresh24LineClamp__zjvK:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__e94Iq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__e94Iq {
    font-size: 10px;
    opacity: 0.8;
  }
}
.text__u6Ny4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  font-size: 9px;
  opacity: 0.7;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u6Ny4 {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    align-self: auto;
    width: 100%;
    text-align: left;
    margin-top: 5px;
    min-width: 0;
  }
}
.text__xPkb9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-P2saABvfDCPH);
  color: var(--token-azHduLBqoiGZ);
  font-weight: 500;
  min-width: 0;
}
.svg__pblB7 {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
