.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
}
.paziresh24Button:global(.__wab_instance) {
  max-width: 100%;
}
.svg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-IFYe29KCwQQV);
}
.text {
  font-weight: 500;
}
.svg__ax04Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.fragmentPortal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.reveal__lN8Uc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 99;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #0f172a99;
  display: block;
  overflow: auto;
  min-height: 0;
  padding: 30px;
}
.freeBox__wNyAd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.reveal__rgO5E:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__p3Im9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30rem;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  background: #ffffff;
  max-height: 100%;
  border-radius: 10px;
  padding: 8px;
}
.launcherApps:global(.__wab_instance) {
  max-width: 100%;
}
