.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
.freeBox__qeAnl {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__qeAnl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__qeAnl > :global(.__wab_flex-container) > *,
.freeBox__qeAnl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qeAnl > :global(.__wab_flex-container) > picture > img,
.freeBox__qeAnl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text__uEnbX {
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14px;
}
.text__euOlJ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  font-weight: 500;
  color: #b65a6b;
  background: #f6ebef;
  text-align: center;
  border-radius: 30px;
  padding: 1px 7px;
}
.freeBox__fiYAr {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}
.freeBox__fiYAr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__fiYAr > :global(.__wab_flex-container) > *,
.freeBox__fiYAr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fiYAr > :global(.__wab_flex-container) > picture > img,
.freeBox__fiYAr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text__dn3R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  min-width: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  min-width: 15px;
  flex-shrink: 0;
}
