.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 4px;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 58px;
  height: 58px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f4f5f7;
  flex-shrink: 0;
  border-radius: 11px;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  min-width: 0;
}
