.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  column-gap: 4px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__iwcwy {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 1px;
}
.freeBox__wfqSr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 5px;
  min-width: 0;
}
.text__jHwly {
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14px;
}
.text__iPlZd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  font-weight: 500;
  color: #b65a6b;
  background: #f6ebef;
  text-align: center;
  border-radius: 30px;
  padding: 1px 7px;
}
.text__hSjXq {
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 12px;
  opacity: 0.9;
}
.freeBox__qeAnl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 5px;
}
.text__uEnbX {
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 14px;
}
.text__euOlJ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  font-weight: 500;
  color: #b65a6b;
  background: #f6ebef;
  text-align: center;
  border-radius: 30px;
  padding: 1px 7px;
}
.freeBox__fiYAr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  column-gap: 5px;
}
.text__dn3R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  min-width: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  min-width: 15px;
  flex-shrink: 0;
}
