.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--token-3WxvfyIdJppy);
  min-width: 0;
}
.freeBox__gh58J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.fragmentPortal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__z69Rp {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background: #ffffff;
}
.freeBox__l2V7K {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: auto;
  z-index: 5;
  right: 0;
  bottom: 150px;
  padding: 30px;
}
.freeBox__o105E {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 10px 25px 0px #0000001f;
  row-gap: 10px;
  min-width: 0;
  border-radius: 11px;
  padding: 20px;
}
.textAreaInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.paziresh24Button__javBp:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__ii4SY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__q2J8I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__bmaFq {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 4;
  right: 0;
  bottom: 140px;
}
.freeBox__siZSv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___09PLj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__gwBrj {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  column-gap: 10px;
  right: 0;
  z-index: 3;
  padding: 20px;
}
.launcherBlocksStoryTimeLine:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.freeBox___8Q6J {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  box-shadow: none;
  background: linear-gradient(0deg, #a3b4f5 0%, #56b8ff03 99%, #ffffff00 100%)
    0% 0% / 100% 190% repeat;
  padding: 40px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #3861fb;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.paziresh24Button___79VTh:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__s80Am {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__nbP3A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background: #ffffff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__qljdH {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 999999999999;
  background: #ffffff;
  right: 0;
  bottom: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qljdH {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
.img {
  object-fit: scale-down;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: scale-down;
}
