.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
}
.freeBox__maEkG {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  row-gap: 18px;
  min-width: 0;
  min-height: 0;
  padding: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__maEkG {
    background: #ffffff;
  }
}
.launcherWrapper:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__nuLhv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-KUiXUfHPkqkm);
  padding-right: 0px;
  padding-top: 0px;
  color: var(--token-IFYe29KCwQQV);
  min-width: 0;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.launcherBlocksApps:global(.__wab_instance) {
  max-width: 100%;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 34px;
  height: 34px;
  flex-shrink: 0;
}
