.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  cursor: pointer;
  row-gap: 10px;
  min-width: 0;
  border-radius: 341px;
  padding: 10px 15px 10px 10px;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__hIhKh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  column-gap: 10px;
  min-width: 0;
  min-height: 0;
  border-radius: 14px;
}
.freeBox__sgOar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.text__vnxRa {
  font-size: 14px;
  font-weight: 600;
}
.text___31Mxf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-top: 0px;
  font-size: 11px;
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 33px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
