.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px #d1d5db;
  color: #030712;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  width: 100%;
  position: relative;
  outline-style: none;
  min-width: 0;
  border-radius: 0.375rem;
  padding: 0.375rem 0.625rem;
  border-style: none;
}
.ariaInput[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-focused]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: 0.125rem;
  outline-offset: 1px;
  outline-color: #2563eb;
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: #f3f4f6;
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered]:global(.__wab_instance) {
  background: #e5e7eb;
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered]:global(.__wab_instance) {
  background: #f3f4f6;
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: 2rem;
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: 2rem;
}
