.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--token-KDnC5QlJdkgq);
  min-width: 0;
}
.freeBox__gh58J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.fragmentPortal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__qljdH {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 999999999999;
  background: #ffffff;
  right: 0px;
  bottom: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qljdH {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
.freeBox__bmaFq {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 100px;
  z-index: 4;
}
.freeBox__siZSv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___09PLj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__gwBrj {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 9999999;
  column-gap: 10px;
  right: 0;
  padding: 20px;
}
.freeBox__uWqfk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  height: 3px;
  max-width: 100%;
  background: #e2e8f0;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  border-radius: 60px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox___8Q6J {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 40px;
}
.paziresh24Button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__buk1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__mGwhT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
