.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 15px;
  position: relative;
  min-width: 0;
}
.freeBox__mn2Od {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 3px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-s_XuzePAGmOh);
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.text {
  width: 10px;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-P2saABvfDCPH);
  padding-top: 0px;
  opacity: 0.8;
  text-align: left;
  flex-shrink: 0;
}
.freeBox___0GJV {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 9px;
  max-width: 100%;
  overflow: hidden;
  background: var(--token-4iQ-8GWBqX6X);
  max-height: 9px;
  min-height: 9px;
  min-width: 0;
  border-radius: 60px;
}
.freeBox__fXlEc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 9px;
  max-width: 100%;
  background: var(--token-s_XuzePAGmOh);
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 50px;
}
