.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f4f5f8;
  min-width: 0;
}
.freeBox__by7Eu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f4f5f8;
  row-gap: 15px;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
  min-height: 0;
  padding: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__by7Eu {
    background: #f2f3f5;
  }
}
.launcherWrapper:global(.__wab_instance) {
  max-width: 100%;
}
.launcherBlocksProfile:global(.__wab_instance) {
  max-width: 100%;
}
.reveal__pf8Ib:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.apiRequest:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.launcherBlocksAdaptive__vSkT0:global(.__wab_instance) {
  max-width: 100%;
}
.reveal__hjiWw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.launcherBlocksShortcuts:global(.__wab_instance) {
  max-width: 100%;
}
.reveal__vsuQt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__cJfkN {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
}
.launcherBlocksWidgetsSanje:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}
.launcherBlocksWidgetsNelson:global(.__wab_instance) {
  max-width: 100%;
  min-width: 40%;
  height: auto;
}
.reveal__j5ZyC:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.launcherBlocksStory:global(.__wab_instance) {
  max-width: 100%;
}
.reveal___6Ikjw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.apiRequest2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.freeBox___35XCx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 15px;
  min-width: 0;
}
.launcherBlocksAdaptive___6XoP8:global(.__wab_instance) {
  max-width: 100%;
}
.paziresh24Button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___0POC {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 17px;
  color: var(--token-IFYe29KCwQQV);
  margin-left: 5px;
}
.text__qeI4L {
  font-weight: 600;
  font-size: var(--token-P2saABvfDCPH);
}
.svg__xT1Pw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.reveal__vvBKi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.launcherBlocksApps:global(.__wab_instance) {
  max-width: 100%;
}
.launcherBlocksFeaturedApps:global(.__wab_instance) {
  max-width: 100%;
}
.appsChannelNotice:global(.__wab_instance) {
  position: relative;
}
.reveal__wzbgq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.launcherBlocksSectionsStore:global(.__wab_instance) {
  position: relative;
}
.reveal__h09Vw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.launcherBlocksPatientServices:global(.__wab_instance) {
  max-width: 100%;
}
.reveal__lQIW:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__rnWpl {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 1;
  margin-top: 10px;
  cursor: pointer;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  display: none;
}
.svg__cIfm {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__tD5Mh {
  position: relative;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: var(--token-P2saABvfDCPH);
}
.svg__mRkc {
  object-fit: cover;
  max-width: 100%;
  width: 34px;
  height: 34px;
  flex-shrink: 0;
}
