.root {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: none;
  justify-self: flex-start;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: none;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
