.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
}
.launcherComponentsTitle:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__orbIy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__orbIy {
    border-radius: 12px;
  }
}
.launcherBlocksAppCard:global(.__wab_instance) {
  position: relative;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__xdXmf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-right: 41px;
  min-width: 0;
}
.text___5BKmn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 600;
  font-size: var(--token-0D6VF35kZC-C);
  min-width: 0;
}
.text__i547Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-P2saABvfDCPH);
  text-align: right;
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  position: absolute;
  left: 10px;
  top: 1px;
  bottom: 0;
  height: 70px;
  transform: none;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
