.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  cursor: pointer;
  row-gap: 4px;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 58px;
  height: 58px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f4f5f7;
  flex-shrink: 0;
  border-radius: 11px;
  padding: 8px;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
}
.img > picture > img {
  object-fit: cover;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  min-width: 0;
}
