.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.modal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___1Nreg {
  padding-left: 0px;
  font-size: var(--token-0D6VF35kZC-C);
}
.freeBox__ehbPk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5px;
  min-width: 0;
}
.freeBox__cXju2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__egvir {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.freeBox__fxh6D {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 3px;
  min-width: 0;
}
.text__o7OQ9 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-0D6VF35kZC-C);
}
.text__bHHa {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-P2saABvfDCPH);
  color: var(--token-IFYe29KCwQQV);
}
.span__vkxT1 {
  padding-left: 0px;
}
.text__njMq2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: var(--token-P2saABvfDCPH);
  color: var(--token-aWDgJo5BrkPj);
  opacity: 0.6;
  min-width: 0;
}
.svg__aqoze {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.launcherComponentsSeparator:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__o8LB {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___6Y1Vp {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.freeBox__dUpyi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 3px;
  min-width: 0;
}
.text__jUkNv {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-0D6VF35kZC-C);
}
.text__uRjAf {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-P2saABvfDCPH);
  color: var(--token-IFYe29KCwQQV);
}
.span__eg3AZ {
  padding-left: 0px;
}
.text__aaTdi {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: var(--token-P2saABvfDCPH);
  color: #5e2311;
  opacity: 0.6;
  padding-top: 0px;
  min-width: 0;
}
.svg__xevjl {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__dpTyg {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid #d6dce5;
}
.freeBox__nrZdj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 6px;
}
.svg__kOroc {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #000000;
  flex-shrink: 0;
}
.text__vx14S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 13px;
  color: #000000;
  min-width: 0;
}
.freeBox__j27OP {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
}
.getCenters:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__wIjLu {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.svg__bnGad {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__fRj6R {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.svg__uUzav {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.freeBox__iL1Tm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 6px;
  min-width: 0;
}
.text__hl19I {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
}
.svg__z79 {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.freeBox__ixcoN {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 6px;
  min-width: 0;
}
.text__oZ7Ry {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
}
.text__qGszz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
}
.svg__wJkmF {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  min-width: 15px;
  flex-shrink: 0;
}
