.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__dpTyg {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid #d6dce5;
}
.freeBox__nrZdj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 6px;
}
.svg__kOroc {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #000000;
  flex-shrink: 0;
}
.text__vx14S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 13px;
  color: #000000;
  min-width: 0;
}
.freeBox__j27OP {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
}
.getCenters:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__wIjLu {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.svg__bnGad {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__z79 {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.freeBox__ixcoN {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 6px;
  min-width: 0;
}
.text__qGszz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
}
.svg__wJkmF {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  min-width: 15px;
  flex-shrink: 0;
}
