.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  row-gap: 10px;
  min-width: 0;
  min-height: 0;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    align-items: center;
    justify-content: flex-start;
  }
}
.rootmobileView {
  align-items: center;
  justify-content: space-between;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__a1Prp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.svg__ipTPa {
  object-fit: cover;
  max-width: 100%;
  width: 34px;
  height: 34px;
  flex-shrink: 0;
}
.freeBox__xRQeg {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 740px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xRQeg {
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;
    width: 100%;
    row-gap: 0px;
    column-gap: 0px;
    min-width: 0;
  }
}
.freeBoxmobileView__xRQegybl4O {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 0px;
  justify-content: space-between;
  height: 100%;
  column-gap: 0px;
  min-width: 0;
  min-height: 0;
}
.freeBox___8LIpp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 350px;
  height: 230px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    display: block;
  }
}
.imgmobileView {
  display: block;
}
.freeBox__jCz6K {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jCz6K {
    display: flex;
  }
}
.freeBoxmobileView__jCz6Kybl4O {
  display: flex;
}
.text__axZC {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  text-align: center;
  color: var(--token-IFYe29KCwQQV);
  min-width: 0;
}
.text___8Fn1F {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  text-align: center;
  font-size: var(--token-KUiXUfHPkqkm);
  min-width: 0;
}
.freeBox___7WZyr {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 15px;
  min-width: 0;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7WZyr {
    row-gap: 10px;
    column-gap: 0px;
    display: flex;
    padding: 20px;
  }
}
.freeBoxmobileView___7WZyrybl4O {
  row-gap: 10px;
  column-gap: 0px;
  display: flex;
  padding: 20px;
}
.freeBox__eWyNl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eWyNl {
    align-items: center;
    justify-content: flex-start;
  }
}
.freeBoxmobileView__eWyNlybl4O {
  align-items: center;
  justify-content: flex-start;
}
.text__hXLgE {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  text-align: center;
  color: var(--token-IFYe29KCwQQV);
}
.text__i8Oer {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  text-align: right;
  font-size: var(--token-KUiXUfHPkqkm);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__i8Oer {
    text-align: center;
  }
}
.textmobileView__i8Oerybl4O {
  text-align: center;
}
.freeBox___5Sfdc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
}
.svg__ee4Ba {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-IFYe29KCwQQV);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__acrRr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: var(--token-0D6VF35kZC-C);
}
.freeBox__v2Czy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  background: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v2Czy {
    left: 0;
    top: auto;
    position: fixed;
    right: 0;
    bottom: 63px;
    width: auto;
    padding: 15px;
    border-top: 1px solid var(--token-4iQ-8GWBqX6X);
  }
}
.freeBoxmobileView__v2CzYybl4O {
  left: auto;
  top: auto;
  position: relative;
  right: auto;
  bottom: auto;
  width: 100%;
  min-width: 0;
  display: none;
  padding: 15px;
  border-top: 1px solid var(--token-4iQ-8GWBqX6X);
}
.paziresh24Button___0Jxf3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__yRMz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__n0NqO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__mGtJh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  background: #ffffff;
  min-width: 0;
}
.freeBoxmobileView__mGtJhybl4O {
  left: auto;
  top: auto;
  position: relative;
  right: auto;
  bottom: auto;
  width: 100%;
  min-width: 0;
  display: flex;
  padding: 15px;
  border-top: 1px solid var(--token-4iQ-8GWBqX6X);
}
.paziresh24Button__dwGi1:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___6Jwz5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__zx54T {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
