#image : node:14.17.6

stages:
  - docker
  - deploy-develop
  - deploy

variables:
  STAGING_DOMAIN: sepehrsalamat.ir
  PRODUCTION_DOMAIN: paziresh24.com
  PROJECT_DOCKER_IMAGE_TAG: dockerhub.paziresh24.com/patient-app
  ANSIBLE_HOST_KEY_CHECKING: 'false'
  ANSIBLE_FORCE_COLOR: 'true'
  KUBERNETES_DOCKER_TAG: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}-${CI_PIPELINE_ID

services:
  - name: dockerhub.paziresh24.com/docker:dind
    alias: docker

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/



# build all branches pushes except master branch and merge requests
.package install feature branches:
  stage: install_packages
  except:
    - master
    - merge_requests
  script:
    - yarn install --prefer-offline  --frozen-lockfile  --non-interactive

build and push docker develop image:
  stage: docker
  image: dockerhub.paziresh24.com/docker:stable
  only:
    - develop
  script:
    - docker login $DOCKER_AUTH_URL -u $DOCKER_AUTH_USERNAME -p $DOCKER_AUTH_PASSWORD
    - docker build
      --build-arg BUILD_ARGUMENT_ENV=dev
      --tag $PROJECT_DOCKER_IMAGE_TAG:develop
      --cache-from $PROJECT_DOCKER_IMAGE_TAG:develop
      .
    - docker push $PROJECT_DOCKER_IMAGE_TAG:develop
  tags:
    - france-loc

build and push docker production image:
  stage: docker
  image: dockerhub.paziresh24.com/docker:stable
  only:
    - master
  script:
    - docker login $DOCKER_AUTH_URL -u $DOCKER_AUTH_USERNAME -p $DOCKER_AUTH_PASSWORD
    - docker build
      --build-arg BUILD_ARGUMENT_ENV=prod
      --tag $PROJECT_DOCKER_IMAGE_TAG:latest
      --tag $PROJECT_DOCKER_IMAGE_TAG:$KUBERNETES_DOCKER_TAG
      --cache-from $PROJECT_DOCKER_IMAGE_TAG:latest
      .
    - docker push $PROJECT_DOCKER_IMAGE_TAG:latest
    - docker push $PROJECT_DOCKER_IMAGE_TAG:$KUBERNETES_DOCKER_TAG
  tags:
    - france-loc



deploy develop:
  image: dockerhub.paziresh24.com/docker-ansible:latest
  stage: deploy-develop
  only:
    - develop
  script:
    - ansible-playbook ./ansible/playbook_develop.yml -i ./ansible/inventory.yml -e 'ansible_python_interpreter=/usr/bin/python3'


deploy staging:
  image: dockerhub.paziresh24.com/docker-ansible:latest
  stage: deploy
  only:
    - master
  script:
    - ansible-playbook ./ansible/playbook_staging.yml -i ./ansible/inventory.yml -e 'ansible_python_interpreter=/usr/bin/python3'


deploy production:
  image: dockerhub.paziresh24.com/docker-ansible:latest
  stage: deploy
  only:
    - master
  when: manual
  script:
#    - ansible-playbook ./ansible/playbook.yml -i ./ansible/inventory.yml -e 'ansible_python_interpreter=/usr/bin/python3'
    - curl -X POST -F variables[DOCKER_TAG_PATIENT]=${KUBERNETES_DOCKER_TAG} -F token=${KUBIT_WEBHOOK_TOKEN} https://api.kubit.ir/api/core/packs/pand5jlz/vars/
