# Auto detect text files and perform LF normalization
* text=auto

# JavaScript files
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf

# Config files
*.json text eol=lf
*.config.js text eol=lf
next.config.js text eol=lf

# Markdown
*.md text eol=lf

# Shell scripts
*.sh text eol=lf

