version: '3.7'

services:
  patient-app:
    container_name: patient-app-dev
    image: dockerhub.paziresh24.com/patient-app:develop
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 9081:3000
    restart: always

