.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  background: #ffffff;
  column-gap: var(--token-KVcr9NiMwFLr);
  border-radius: 5px;
  padding: var(--token-KVcr9NiMwFLr);
}
.freeBoxcolor_green {
  background: #eafaee;
  column-gap: var(--token-omrXvBNBcWTN);
  row-gap: 0px;
}
.freeBoxcolor_blue {
  background: #e5f6fd;
}
.freeBoxcolor_gray {
  background: var(--token-M8SHDPuEHkX2);
}
.freeBoxsize_small {
  column-gap: var(--token-omrXvBNBcWTN);
  row-gap: 0px;
  padding: var(--token-omrXvBNBcWTN) var(--token-3WxvfyIdJppy);
}
.freeBoxsize_xSmall {
  column-gap: var(--token-omrXvBNBcWTN);
  row-gap: 0px;
  padding: 0.2rem 0.42rem;
}
.freeBoxrounded {
  border-radius: 100px;
}
.svg__xaRwW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 13px;
  height: 13px;
  color: var(--token-GigJJXFlebPW);
  flex-shrink: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-KUiXUfHPkqkm);
  font-weight: 500;
  color: var(--token-aWDgJo5BrkPj);
  min-width: 0;
}
.textcolor_green {
  color: #15803d;
}
.textcolor_blue {
  color: #1d4ed8;
}
.textcolor_gray {
  color: var(--token-azHduLBqoiGZ);
}
.textsize_small {
  font-size: var(--token-P2saABvfDCPH);
}
.textsize_xSmall {
  font-size: 0.64rem;
}
.svg__vnyqq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: #15803d;
  flex-shrink: 0;
}
