@import url("https://fonts.googleapis.com/css2?family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-s_XuzePAGmOh: #3861fb;
  --plasmic-token-primary: var(--token-s_XuzePAGmOh);
  --token-GigJJXFlebPW: #2b2f33;
  --plasmic-token-dark: var(--token-GigJJXFlebPW);
  --token-nAFD6CLl8U9b: #3f4079;
  --plasmic-token-brand: var(--token-nAFD6CLl8U9b);
  --token-VzWdrvFHnhlm: #2b4dcc;
  --plasmic-token-primary-dark: var(--token-VzWdrvFHnhlm);
  --token-M8SHDPuEHkX2: #f1f5f9;
  --plasmic-token-slate-100: var(--token-M8SHDPuEHkX2);
  --token-4iQ-8GWBqX6X: #e2e8f0;
  --plasmic-token-slate-200: var(--token-4iQ-8GWBqX6X);
  --token-omrXvBNBcWTN: 0.25rem;
  --plasmic-token-1: var(--token-omrXvBNBcWTN);
  --token-KVcr9NiMwFLr: 0.5rem;
  --plasmic-token-2: var(--token-KVcr9NiMwFLr);
  --token-3WxvfyIdJppy: 0.75rem;
  --plasmic-token-3: var(--token-3WxvfyIdJppy);
  --token-6eH8UjLOmr7v: 1rem;
  --plasmic-token-4: var(--token-6eH8UjLOmr7v);
  --token-KDnC5QlJdkgq: 1.25rem;
  --plasmic-token-5: var(--token-KDnC5QlJdkgq);
  --token-podr231_9RBN: 1rem;
  --plasmic-token-base: var(--token-podr231_9RBN);
  --token-Gq2ZclrSKBOi: 1.125rem;
  --plasmic-token-large: var(--token-Gq2ZclrSKBOi);
  --token-KUiXUfHPkqkm: 0.875rem;
  --plasmic-token-small: var(--token-KUiXUfHPkqkm);
  --token-7E1YyiP6sAP9: 1.25rem;
  --plasmic-token-x-large: var(--token-7E1YyiP6sAP9);
  --token-P2saABvfDCPH: 0.75rem;
  --plasmic-token-x-small: var(--token-P2saABvfDCPH);
  --token-aWDgJo5BrkPj: #2b2f33;
  --plasmic-token-base-text: var(--token-aWDgJo5BrkPj);
  --token-ezMpHdKVwSWQ: #cbd5e1;
  --plasmic-token-slate-300: var(--token-ezMpHdKVwSWQ);
  --token-ynsKl5i_n6Or: #94a3b8;
  --plasmic-token-slate-400: var(--token-ynsKl5i_n6Or);
  --token-azHduLBqoiGZ: #64748b;
  --plasmic-token-slate-500: var(--token-azHduLBqoiGZ);
  --token-I_yaFrj8gHQz: #475569;
  --plasmic-token-slate-600: var(--token-I_yaFrj8gHQz);
  --token-apPIKpRTkrZ7: #334155;
  --plasmic-token-slate-700: var(--token-apPIKpRTkrZ7);
  --token-isZ27F32wdLY: #1e293b;
  --plasmic-token-slate-800: var(--token-isZ27F32wdLY);
  --token--fsPf0hcXOpA: #0f172a;
  --plasmic-token-slate-900: var(--token--fsPf0hcXOpA);
  --token-lBXxoq0q4VUt: #ef4444;
  --plasmic-token-red-500: var(--token-lBXxoq0q4VUt);
  --token-Y6VPJRl8CTdF: #22c55e;
  --plasmic-token-green-500: var(--token-Y6VPJRl8CTdF);
  --token-CLN8EitO07Ao: #f8fafc;
  --plasmic-token-slate-50: var(--token-CLN8EitO07Ao);
  --token-QMEhwYzwsf71: 2.5rem;
  --plasmic-token-10: var(--token-QMEhwYzwsf71);
  --token-jx3XE3Y2PbBC: 2.25rem;
  --plasmic-token-9: var(--token-jx3XE3Y2PbBC);
  --token-rjo2t_xMK-6Z: 2rem;
  --plasmic-token-8: var(--token-rjo2t_xMK-6Z);
  --token-KOvs0JsTP5o3: 1.75rem;
  --plasmic-token-7: var(--token-KOvs0JsTP5o3);
  --token-RPGjJxLh3tUl: 1.5rem;
  --plasmic-token-6: var(--token-RPGjJxLh3tUl);
  --token-qc3RjKzQDJ33: #16a34a;
  --plasmic-token-green-600: var(--token-qc3RjKzQDJ33);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-grtZigwc1rs2_font-size: var(--token-podr231_9RBN);
  --mixin-grtZigwc1rs2_font-weight: 400;
  --mixin-grtZigwc1rs2_font-style: normal;
  --mixin-grtZigwc1rs2_color: var(--token-GigJJXFlebPW);
  --mixin-grtZigwc1rs2_text-align: right;
  --mixin-grtZigwc1rs2_text-transform: none;
  --mixin-grtZigwc1rs2_line-height: 1.5;
  --mixin-grtZigwc1rs2_letter-spacing: normal;
  --mixin-grtZigwc1rs2_white-space: pre-wrap;
  --mixin-grtZigwc1rs2_user-select: text;
  --mixin-grtZigwc1rs2_text-decoration-line: none;
  --mixin-grtZigwc1rs2_text-overflow: clip;
  --mixin-grtZigwc1rs2_font-family: var(--iran-sans-x);
  --mixin-m6HZf81oIbu1_color: #000000;
  --mixin-m6HZf81oIbu1_font-weight: 700;
  --mixin-m6HZf81oIbu1_font-size: 64px;
  --mixin-m6HZf81oIbu1_line-height: 1;
  --mixin-m6HZf81oIbu1_letter-spacing: -1px;
  --mixin-m6HZf81oIbu1_white-space: pre-wrap;
  --mixin-2s7yyTPfpAKr_color: #000000;
  --mixin-2s7yyTPfpAKr_font-size: 48px;
  --mixin-2s7yyTPfpAKr_font-weight: 700;
  --mixin-2s7yyTPfpAKr_letter-spacing: -0.5px;
  --mixin-2s7yyTPfpAKr_line-height: 1.1;
  --mixin-2s7yyTPfpAKr_white-space: pre-wrap;
  --mixin-bntuVt9sU5IZ_color: #0070f3;
  --mixin-bntuVt9sU5IZ_white-space: pre-wrap;
  --mixin-BNyu0pq4G0rt_color: #000000;
  --mixin-BNyu0pq4G0rt_font-size: 32px;
  --mixin-BNyu0pq4G0rt_font-weight: 600;
  --mixin-BNyu0pq4G0rt_line-height: 1.2;
  --mixin-BNyu0pq4G0rt_white-space: pre-wrap;
  --mixin-31dxYogVxZld_color: #000000;
  --mixin-31dxYogVxZld_font-size: 24px;
  --mixin-31dxYogVxZld_font-weight: 600;
  --mixin-31dxYogVxZld_line-height: 1.3;
  --mixin-31dxYogVxZld_white-space: pre-wrap;
  --mixin-Yt4VQcFPQma3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Yt4VQcFPQma3_border-bottom-color: #dddddd;
  --mixin-Yt4VQcFPQma3_border-bottom-style: solid;
  --mixin-Yt4VQcFPQma3_border-bottom-width: 1px;
  --mixin-Yt4VQcFPQma3_border-left-color: #dddddd;
  --mixin-Yt4VQcFPQma3_border-left-style: solid;
  --mixin-Yt4VQcFPQma3_border-left-width: 1px;
  --mixin-Yt4VQcFPQma3_border-right-color: #dddddd;
  --mixin-Yt4VQcFPQma3_border-right-style: solid;
  --mixin-Yt4VQcFPQma3_border-right-width: 1px;
  --mixin-Yt4VQcFPQma3_border-top-color: #dddddd;
  --mixin-Yt4VQcFPQma3_border-top-style: solid;
  --mixin-Yt4VQcFPQma3_border-top-width: 1px;
  --mixin-Yt4VQcFPQma3_border-bottom-left-radius: 3px;
  --mixin-Yt4VQcFPQma3_border-bottom-right-radius: 3px;
  --mixin-Yt4VQcFPQma3_border-top-left-radius: 3px;
  --mixin-Yt4VQcFPQma3_border-top-right-radius: 3px;
  --mixin-Yt4VQcFPQma3_font-family: "Inconsolata";
  --mixin-Yt4VQcFPQma3_padding-bottom: 1px;
  --mixin-Yt4VQcFPQma3_padding-left: 4px;
  --mixin-Yt4VQcFPQma3_padding-right: 4px;
  --mixin-Yt4VQcFPQma3_padding-top: 1px;
  --mixin-Yt4VQcFPQma3_white-space: pre-wrap;
  --mixin-RIIMo7htERSc_border-left-color: #dddddd;
  --mixin-RIIMo7htERSc_border-left-style: solid;
  --mixin-RIIMo7htERSc_border-left-width: 3px;
  --mixin-RIIMo7htERSc_color: #888888;
  --mixin-RIIMo7htERSc_padding-left: 10px;
  --mixin-RIIMo7htERSc_white-space: pre-wrap;
  --mixin-Rexf8rZ9oQjw_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Rexf8rZ9oQjw_border-bottom-color: #dddddd;
  --mixin-Rexf8rZ9oQjw_border-bottom-style: solid;
  --mixin-Rexf8rZ9oQjw_border-bottom-width: 1px;
  --mixin-Rexf8rZ9oQjw_border-left-color: #dddddd;
  --mixin-Rexf8rZ9oQjw_border-left-style: solid;
  --mixin-Rexf8rZ9oQjw_border-left-width: 1px;
  --mixin-Rexf8rZ9oQjw_border-right-color: #dddddd;
  --mixin-Rexf8rZ9oQjw_border-right-style: solid;
  --mixin-Rexf8rZ9oQjw_border-right-width: 1px;
  --mixin-Rexf8rZ9oQjw_border-top-color: #dddddd;
  --mixin-Rexf8rZ9oQjw_border-top-style: solid;
  --mixin-Rexf8rZ9oQjw_border-top-width: 1px;
  --mixin-Rexf8rZ9oQjw_border-bottom-left-radius: 3px;
  --mixin-Rexf8rZ9oQjw_border-bottom-right-radius: 3px;
  --mixin-Rexf8rZ9oQjw_border-top-left-radius: 3px;
  --mixin-Rexf8rZ9oQjw_border-top-right-radius: 3px;
  --mixin-Rexf8rZ9oQjw_font-family: "Inconsolata";
  --mixin-Rexf8rZ9oQjw_padding-bottom: 3px;
  --mixin-Rexf8rZ9oQjw_padding-left: 6px;
  --mixin-Rexf8rZ9oQjw_padding-right: 6px;
  --mixin-Rexf8rZ9oQjw_padding-top: 3px;
  --mixin-Rexf8rZ9oQjw_white-space: pre-wrap;
  --mixin-ZoDqPPY9K-bA_display: flex;
  --mixin-ZoDqPPY9K-bA_flex-direction: column;
  --mixin-ZoDqPPY9K-bA_align-items: stretch;
  --mixin-ZoDqPPY9K-bA_justify-content: flex-start;
  --mixin-ZoDqPPY9K-bA_list-style-position: outside;
  --mixin-ZoDqPPY9K-bA_padding-left: 40px;
  --mixin-ZoDqPPY9K-bA_position: relative;
  --mixin-ZoDqPPY9K-bA_list-style-type: disc;
  --mixin-ZoDqPPY9K-bA_white-space: pre-wrap;
  --mixin-tZHLiciEWbGK_display: flex;
  --mixin-tZHLiciEWbGK_flex-direction: column;
  --mixin-tZHLiciEWbGK_align-items: stretch;
  --mixin-tZHLiciEWbGK_justify-content: flex-start;
  --mixin-tZHLiciEWbGK_list-style-position: outside;
  --mixin-tZHLiciEWbGK_padding-left: 40px;
  --mixin-tZHLiciEWbGK_position: relative;
  --mixin-tZHLiciEWbGK_list-style-type: decimal;
  --mixin-tZHLiciEWbGK_white-space: pre-wrap;
  --mixin-dVZCWL_2l1Uv_color: #000000;
  --mixin-dVZCWL_2l1Uv_font-size: 20px;
  --mixin-dVZCWL_2l1Uv_font-weight: 600;
  --mixin-dVZCWL_2l1Uv_line-height: 1.5;
  --mixin-dVZCWL_2l1Uv_white-space: pre-wrap;
  --mixin-EZU1jWmHEMnn_color: #000000;
  --mixin-EZU1jWmHEMnn_font-size: 16px;
  --mixin-EZU1jWmHEMnn_font-weight: 600;
  --mixin-EZU1jWmHEMnn_line-height: 1.5;
  --mixin-EZU1jWmHEMnn_white-space: pre-wrap;
  --mixin-9Ey-_FdyCayV_color: #3291ff;
  --mixin-9Ey-_FdyCayV_white-space: pre-wrap;
  --mixin-Iw72U682-fzn_white-space: pre-wrap;
  --mixin-7Q3Z09rN0v4Z_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-grtZigwc1rs2_font-family);
  font-size: var(--mixin-grtZigwc1rs2_font-size);
  font-weight: var(--mixin-grtZigwc1rs2_font-weight);
  font-style: var(--mixin-grtZigwc1rs2_font-style);
  color: var(--mixin-grtZigwc1rs2_color);
  text-align: var(--mixin-grtZigwc1rs2_text-align);
  text-transform: var(--mixin-grtZigwc1rs2_text-transform);
  line-height: var(--mixin-grtZigwc1rs2_line-height);
  letter-spacing: var(--mixin-grtZigwc1rs2_letter-spacing);
  white-space: var(--mixin-grtZigwc1rs2_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-m6HZf81oIbu1_color);
  font-weight: var(--mixin-m6HZf81oIbu1_font-weight);
  font-size: var(--mixin-m6HZf81oIbu1_font-size);
  line-height: var(--mixin-m6HZf81oIbu1_line-height);
  letter-spacing: var(--mixin-m6HZf81oIbu1_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-2s7yyTPfpAKr_color);
  font-size: var(--mixin-2s7yyTPfpAKr_font-size);
  font-weight: var(--mixin-2s7yyTPfpAKr_font-weight);
  letter-spacing: var(--mixin-2s7yyTPfpAKr_letter-spacing);
  line-height: var(--mixin-2s7yyTPfpAKr_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-bntuVt9sU5IZ_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-BNyu0pq4G0rt_color);
  font-size: var(--mixin-BNyu0pq4G0rt_font-size);
  font-weight: var(--mixin-BNyu0pq4G0rt_font-weight);
  line-height: var(--mixin-BNyu0pq4G0rt_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-31dxYogVxZld_color);
  font-size: var(--mixin-31dxYogVxZld_font-size);
  font-weight: var(--mixin-31dxYogVxZld_font-weight);
  line-height: var(--mixin-31dxYogVxZld_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Yt4VQcFPQma3_font-family);
  border-radius: var(--mixin-Yt4VQcFPQma3_border-top-left-radius)
    var(--mixin-Yt4VQcFPQma3_border-top-right-radius)
    var(--mixin-Yt4VQcFPQma3_border-bottom-right-radius)
    var(--mixin-Yt4VQcFPQma3_border-bottom-left-radius);
  padding: var(--mixin-Yt4VQcFPQma3_padding-top)
    var(--mixin-Yt4VQcFPQma3_padding-right)
    var(--mixin-Yt4VQcFPQma3_padding-bottom)
    var(--mixin-Yt4VQcFPQma3_padding-left);
  border-top: var(--mixin-Yt4VQcFPQma3_border-top-width)
    var(--mixin-Yt4VQcFPQma3_border-top-style)
    var(--mixin-Yt4VQcFPQma3_border-top-color);
  border-right: var(--mixin-Yt4VQcFPQma3_border-right-width)
    var(--mixin-Yt4VQcFPQma3_border-right-style)
    var(--mixin-Yt4VQcFPQma3_border-right-color);
  border-bottom: var(--mixin-Yt4VQcFPQma3_border-bottom-width)
    var(--mixin-Yt4VQcFPQma3_border-bottom-style)
    var(--mixin-Yt4VQcFPQma3_border-bottom-color);
  border-left: var(--mixin-Yt4VQcFPQma3_border-left-width)
    var(--mixin-Yt4VQcFPQma3_border-left-style)
    var(--mixin-Yt4VQcFPQma3_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-RIIMo7htERSc_color);
  padding-left: var(--mixin-RIIMo7htERSc_padding-left);
  border-left: var(--mixin-RIIMo7htERSc_border-left-width)
    var(--mixin-RIIMo7htERSc_border-left-style)
    var(--mixin-RIIMo7htERSc_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Rexf8rZ9oQjw_font-family);
  border-radius: var(--mixin-Rexf8rZ9oQjw_border-top-left-radius)
    var(--mixin-Rexf8rZ9oQjw_border-top-right-radius)
    var(--mixin-Rexf8rZ9oQjw_border-bottom-right-radius)
    var(--mixin-Rexf8rZ9oQjw_border-bottom-left-radius);
  padding: var(--mixin-Rexf8rZ9oQjw_padding-top)
    var(--mixin-Rexf8rZ9oQjw_padding-right)
    var(--mixin-Rexf8rZ9oQjw_padding-bottom)
    var(--mixin-Rexf8rZ9oQjw_padding-left);
  border-top: var(--mixin-Rexf8rZ9oQjw_border-top-width)
    var(--mixin-Rexf8rZ9oQjw_border-top-style)
    var(--mixin-Rexf8rZ9oQjw_border-top-color);
  border-right: var(--mixin-Rexf8rZ9oQjw_border-right-width)
    var(--mixin-Rexf8rZ9oQjw_border-right-style)
    var(--mixin-Rexf8rZ9oQjw_border-right-color);
  border-bottom: var(--mixin-Rexf8rZ9oQjw_border-bottom-width)
    var(--mixin-Rexf8rZ9oQjw_border-bottom-style)
    var(--mixin-Rexf8rZ9oQjw_border-bottom-color);
  border-left: var(--mixin-Rexf8rZ9oQjw_border-left-width)
    var(--mixin-Rexf8rZ9oQjw_border-left-style)
    var(--mixin-Rexf8rZ9oQjw_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-ZoDqPPY9K-bA_display);
  flex-direction: var(--mixin-ZoDqPPY9K-bA_flex-direction);
  align-items: var(--mixin-ZoDqPPY9K-bA_align-items);
  justify-content: var(--mixin-ZoDqPPY9K-bA_justify-content);
  list-style-position: var(--mixin-ZoDqPPY9K-bA_list-style-position);
  padding-left: var(--mixin-ZoDqPPY9K-bA_padding-left);
  position: var(--mixin-ZoDqPPY9K-bA_position);
  list-style-type: var(--mixin-ZoDqPPY9K-bA_list-style-type);
  column-gap: var(--mixin-ZoDqPPY9K-bA_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-tZHLiciEWbGK_display);
  flex-direction: var(--mixin-tZHLiciEWbGK_flex-direction);
  align-items: var(--mixin-tZHLiciEWbGK_align-items);
  justify-content: var(--mixin-tZHLiciEWbGK_justify-content);
  list-style-position: var(--mixin-tZHLiciEWbGK_list-style-position);
  padding-left: var(--mixin-tZHLiciEWbGK_padding-left);
  position: var(--mixin-tZHLiciEWbGK_position);
  list-style-type: var(--mixin-tZHLiciEWbGK_list-style-type);
  column-gap: var(--mixin-tZHLiciEWbGK_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-dVZCWL_2l1Uv_color);
  font-size: var(--mixin-dVZCWL_2l1Uv_font-size);
  font-weight: var(--mixin-dVZCWL_2l1Uv_font-weight);
  line-height: var(--mixin-dVZCWL_2l1Uv_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-EZU1jWmHEMnn_color);
  font-size: var(--mixin-EZU1jWmHEMnn_font-size);
  font-weight: var(--mixin-EZU1jWmHEMnn_font-weight);
  line-height: var(--mixin-EZU1jWmHEMnn_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-9Ey-_FdyCayV_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
