.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 55px;
  height: 55px;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
}
.rootring_slate {
  min-width: 55px;
  min-height: 55px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 100px;
}
.img > picture > img {
  object-fit: cover;
}
.imgring_blue {
  border: 2px solid var(--token-s_XuzePAGmOh);
}
.imgring_green {
  border: 2px solid #2fc75e;
}
.imgring_slate {
  border: 2px solid var(--token-4iQ-8GWBqX6X);
}
.freeBox {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  border-radius: 100px;
  padding: 8px;
}
.freeBoxring_blue {
  border: 2px solid var(--token-s_XuzePAGmOh);
}
.freeBoxring_green {
  border: 2px solid #2fc75e;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 0.74rem;
  min-width: 0;
}
.svg {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: auto;
  width: 25%;
  height: 25%;
  bottom: 5px;
  display: none;
}
.svgbadge_check {
  display: block;
}
