.root {
  display: flex;
  position: relative;
  flex-direction: row;
  background: var(--token-s_XuzePAGmOh);
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  pointer-events: auto;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: 6px;
  padding: 11px 20px;
  border-width: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.rootshowStartIcon {
  padding-left: 16px;
}
.rootshowEndIcon {
  padding-right: 16px;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.rootoutline {
  background: none;
  border: 1px solid #3861fb66;
}
.rootshape_rounded {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  border-radius: 999px;
}
.rootshape_round {
  border-radius: 50%;
  padding: 12px;
}
.rootshape_sharp {
  border-radius: 0px;
}
.rootsize_compact {
  padding: 6px 16px;
}
.rootsize_minimal {
  padding: 0px;
}
.rootcolor_blue {
  background: #0091ff;
}
.rootcolor_green {
  background: #30a46c;
}
.rootcolor_yellow {
  background: #f5d90a;
}
.rootcolor_red {
  background: #e54d2e;
}
.rootcolor_sand {
  background: #717069;
}
.rootcolor_white {
  background: #ffffff;
}
.rootcolor_softBlue {
  background: #edf6ff;
}
.rootcolor_softGreen {
  background: #e9f9ee;
}
.rootcolor_softYellow {
  background: #fffbd1;
}
.rootcolor_softRed {
  background: #fff0ee;
}
.rootcolor_softSand {
  background: #eeeeec;
}
.rootcolor_clear {
  background: #ffffff00;
  border-radius: 0px;
  padding: 0px;
}
.rootcolor_link {
  background: #ffffff00;
}
.rootcolor_text {
  background: none;
}
.rootcolor_orange {
  background: #f37f00;
}
.rootspace {
  padding-left: 10px;
}
.rootspace > :global(.__wab_flex-container) {
  justify-content: space-between;
}
.rootshape_rounded_showStartIcon {
  padding-left: 16px;
}
.rootshowEndIcon_shape_rounded {
  padding-right: 16px;
}
.rootshape_round_size_compact {
  padding: 6px;
}
.rootcolor_green_outline {
  background: none;
}
.rootcolor_red_outline {
  background: none;
  border-color: #e54d2e;
}
.rootcolor_sand_outline {
  background: none;
  border-color: #717069;
}
.rootloading_showStartIcon {
  padding: 12px 20px;
}
.rootloading_showEndIcon {
  padding: 12px 20px;
}
.root___focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root:focus-within {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root:hover {
  background: var(--token-VzWdrvFHnhlm);
}
.root:active {
  background: #2644b5;
}
.rootoutline:hover {
  background: #3861fb12;
}
.rootoutline:active {
  background: #3861fb1f;
}
.rootcolor_blue:hover {
  background: #369eff;
}
.rootcolor_blue:active {
  background: #52a9ff;
}
.rootcolor_green:hover {
  background: #3cb179;
}
.rootcolor_green:active {
  background: #4cc38a;
}
.rootcolor_yellow:hover {
  background: #ffef5c;
}
.rootcolor_yellow:active {
  background: #f0c000;
}
.rootcolor_red:hover {
  background: #ec5e41;
}
.rootcolor_red:active {
  background: #f16a50;
}
.rootcolor_red:focus-within {
  box-shadow: 0px 0px 0px 3px #edb9ae;
  outline: none;
}
.rootcolor_red____focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px #edb9ae;
  outline: none;
}
.rootcolor_sand:hover {
  background: #7f7e77;
}
.rootcolor_sand:active {
  background: #a1a09a;
}
.rootcolor_white:hover {
  background: #ffef5c;
}
.rootcolor_white:active {
  background: #f0c000;
}
.rootcolor_softBlue:hover {
  background: #e1f0ff;
}
.rootcolor_softBlue:active {
  background: #cee7fe;
}
.rootcolor_softGreen:active {
  background: #ccebd7;
}
.rootcolor_softGreen:hover {
  background: #ddf3e4;
}
.rootcolor_softYellow:active {
  background: #fef2a4;
}
.rootcolor_softYellow:hover {
  background: #fff8bb;
}
.rootcolor_softRed:active {
  background: #fdd8d3;
}
.rootcolor_softRed:hover {
  background: #ffe6e2;
}
.rootcolor_softSand:hover {
  background: #e9e9e6;
}
.rootcolor_softSand:active {
  background: #e3e3e0;
}
.rootcolor_clear:hover {
  background: none;
}
.rootcolor_clear:active {
  background: none;
}
.rootcolor_clear____focusVisibleWithin {
  box-shadow: none;
  outline: none;
}
.rootcolor_clear:focus-within {
  box-shadow: none;
  outline: none;
}
.rootcolor_link:hover {
  background: #ffffff00;
}
.rootcolor_link:active {
  background: #ffffff00;
}
.rootcolor_text:hover {
  background: #2b4dcc08;
}
.rootcolor_text____focusVisibleWithin {
  box-shadow: none;
  outline: none;
}
.rootcolor_text:focus-within {
  box-shadow: none;
  outline: none;
}
.rootcolor_text:active {
  background: #3861fb1a;
}
.rootcolor_red_outline:hover {
  background: #ec5e4112;
}
.rootcolor_red_outline:focus-within {
  box-shadow: 0px 0px 0px 3px #edb9ae;
  outline: none;
}
.rootcolor_red_outline:active {
  background: #f16a5021;
}
.rootcolor_red_outline____focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px #edb9ae;
  outline: none;
}
.rootcolor_sand_outline:hover {
  background: #71706912;
  border-color: #717069;
}
.rootcolor_sand_outline:active {
  background: #7170691f;
  border-color: #717069;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.startIconContainershowStartIcon {
  display: flex;
}
.slotTargetStartIcon {
  color: #ededec;
}
.slotTargetStartIconcolor_yellow {
  color: #35290f;
}
.slotTargetStartIconcolor_white {
  color: #35290f;
}
.slotTargetStartIconcolor_softBlue {
  color: #006adc;
}
.slotTargetStartIconcolor_softGreen {
  color: #18794e;
}
.slotTargetStartIconcolor_softYellow {
  color: #946800;
}
.slotTargetStartIconcolor_softRed {
  color: #ca3214;
}
.slotTargetStartIconcolor_softSand {
  color: #706f6c;
}
.slotTargetStartIconcolor_clear {
  color: #1b1b18;
}
.slotTargetStartIconcolor_link {
  color: #0091ff;
}
.rootcolor_link:hover .slotTargetStartIconcolor_link {
  color: #0081f1;
}
.rootcolor_link:active .slotTargetStartIconcolor_link {
  color: #006adc;
}
.svg__clpFd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.root .contentContainer___focusVisibleWithin {
  outline: none;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: none;
}
.svgloading {
  display: block;
}
.svgoutline_loading {
  color: var(--token-s_XuzePAGmOh);
}
.svgloading_color_link {
  color: var(--token-aWDgJo5BrkPj);
}
.svgcolor_red_outline_loading {
  color: #e54d2e;
}
.slotTargetChildren2 {
  color: #ededec;
  font-weight: 700;
  white-space: pre;
  font-size: var(--token-KUiXUfHPkqkm);
}
.slotTargetChildren2outline {
  color: var(--token-s_XuzePAGmOh);
}
.slotTargetChildren2color_blue {
  color: #ffffff;
}
.slotTargetChildren2color_green {
  color: #ffffff;
}
.slotTargetChildren2color_yellow {
  color: #35290f;
}
.slotTargetChildren2color_red {
  color: #ffffff;
}
.slotTargetChildren2color_sand {
  color: #ffffff;
}
.slotTargetChildren2color_white {
  color: #1b1b18;
}
.slotTargetChildren2color_softBlue {
  color: #006adc;
}
.slotTargetChildren2color_softGreen {
  color: #18794e;
}
.slotTargetChildren2color_softYellow {
  color: #946800;
}
.slotTargetChildren2color_softRed {
  color: #ca3214;
}
.slotTargetChildren2color_softSand {
  color: #46453e;
}
.slotTargetChildren2color_clear {
  color: #1b1b18;
}
.slotTargetChildren2color_link {
  color: #0091ff;
}
.slotTargetChildren2color_text {
  color: var(--token-s_XuzePAGmOh);
}
.slotTargetChildren2color_red_outline {
  color: #e54d2e;
}
.slotTargetChildren2color_sand_outline {
  color: #717069;
}
.slotTargetChildren2color_red_outline_shape_rounded {
  color: #160d0c;
}
.slotTargetChildren2color_red_outline_loading {
  color: #e54d2e;
}
.root:focus-within .slotTargetChildren2 > *,
.root:focus-within .slotTargetChildren2 > :global(.__wab_slot) > *,
.root:focus-within
  .slotTargetChildren2
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren2
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within .slotTargetChildren2 > picture > img,
.root:focus-within .slotTargetChildren2 > :global(.__wab_slot) > picture > img,
.root:focus-within
  .slotTargetChildren2
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetChildren2
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.root .slotTargetChildren2___focusVisibleWithin > *,
.root .slotTargetChildren2___focusVisibleWithin > :global(.__wab_slot) > *,
.root
  .slotTargetChildren2___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root
  .slotTargetChildren2___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root .slotTargetChildren2___focusVisibleWithin > picture > img,
.root
  .slotTargetChildren2___focusVisibleWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren2___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren2___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.rootcolor_link:hover .slotTargetChildren2color_link {
  color: #0081f1;
}
.rootcolor_link:hover .slotTargetChildren2color_link > :global(.__wab_text),
.rootcolor_link:hover
  .slotTargetChildren2color_link
  > :global(.__wab_expr_html_text),
.rootcolor_link:hover
  .slotTargetChildren2color_link
  > :global(.__wab_slot-string-wrapper),
.rootcolor_link:hover
  .slotTargetChildren2color_link
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_link:hover
  .slotTargetChildren2color_link
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_link:hover
  .slotTargetChildren2color_link
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor_link:hover
  .slotTargetChildren2color_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_link:hover
  .slotTargetChildren2color_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_link:hover
  .slotTargetChildren2color_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor_link:hover
  .slotTargetChildren2color_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_link:hover
  .slotTargetChildren2color_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_link:hover
  .slotTargetChildren2color_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: underline;
}
.rootcolor_link:active .slotTargetChildren2color_link {
  color: #006adc;
}
.rootcolor_red_outline:focus-within .slotTargetChildren2color_red_outline > *,
.rootcolor_red_outline:focus-within
  .slotTargetChildren2color_red_outline
  > :global(.__wab_slot)
  > *,
.rootcolor_red_outline:focus-within
  .slotTargetChildren2color_red_outline
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.rootcolor_red_outline:focus-within
  .slotTargetChildren2color_red_outline
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.rootcolor_red_outline:focus-within
  .slotTargetChildren2color_red_outline
  > picture
  > img,
.rootcolor_red_outline:focus-within
  .slotTargetChildren2color_red_outline
  > :global(.__wab_slot)
  > picture
  > img,
.rootcolor_red_outline:focus-within
  .slotTargetChildren2color_red_outline
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.rootcolor_red_outline:focus-within
  .slotTargetChildren2color_red_outline
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIcon {
  color: #ededec;
}
.slotTargetEndIconcolor_yellow {
  color: #35290f;
}
.slotTargetEndIconcolor_white {
  color: #35290f;
}
.slotTargetEndIconcolor_softBlue {
  color: #006adc;
}
.slotTargetEndIconcolor_softGreen {
  color: #18794e;
}
.slotTargetEndIconcolor_softYellow {
  color: #946800;
}
.slotTargetEndIconcolor_softRed {
  color: #ca3214;
}
.slotTargetEndIconcolor_softSand {
  color: #706f6c;
}
.slotTargetEndIconcolor_clear {
  color: #1b1b18;
}
.slotTargetEndIconcolor_link {
  color: #0091ff;
}
.rootcolor_link:hover .slotTargetEndIconcolor_link {
  color: #0081f1;
}
.rootcolor_link:active .slotTargetEndIconcolor_link {
  color: #006adc;
}
.svg__vRrFs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
