.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.sideEffect__fGVs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.sideEffect__ng0Sh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.textarea {
  position: relative;
  width: 100%;
  height: var(--token-QMEhwYzwsf71);
  max-width: 100%;
  min-height: var(--token-QMEhwYzwsf71);
  font-size: var(--token-KUiXUfHPkqkm);
  color: var(--token-aWDgJo5BrkPj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 6px;
  padding: var(--token-KVcr9NiMwFLr);
  border: 1px solid var(--token-4iQ-8GWBqX6X);
}
.root .textarea:focus {
  outline: none;
  border-color: var(--token-s_XuzePAGmOh);
}
