.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fef2f2;
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-3WxvfyIdJppy);
  border: 1px solid #fca5a5;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-KVcr9NiMwFLr));
  width: calc(100% + var(--token-KVcr9NiMwFLr));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-KVcr9NiMwFLr);
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-siU7LkKKOmDd);
  height: 23px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-lBXxoq0q4VUt);
  font-size: var(--token-yAKnbMh5X7ke);
  font-weight: 500;
  font-style: normal;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
  min-width: 0;
}
