.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.bookingAlert:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-bottom: var(--token-_c276Gs_1FIE);
  margin-top: var(--token-vMUQwr5Jto1d);
  min-width: 0;
  padding: 0px;
}
.text__gjrke {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-sMH6_tUwTYlv);
  font-size: var(--token-tKyCk2cmS2CI);
}
.text__thzw1 {
  position: relative;
  height: auto;
  max-width: 100%;
  width: auto;
  color: var(--token-6sli1sYB-Ose);
  font-weight: 500;
  font-size: var(--token-tKyCk2cmS2CI);
}
