.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fffbeb;
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-vMUQwr5Jto1d);
  border: 1px solid #fde79c;
}
.freeBoxerror {
  background: #fef2f2;
  border-color: #fca5a5;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-oBgwYVJk3n4Z);
  height: 23px;
}
.svgerror {
  display: none;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-O6pDaOQ0VqQn);
  font-size: var(--token-tKyCk2cmS2CI);
  font-weight: 500;
  min-width: 0;
}
.texterror {
  color: var(--token-1jTXKEDkeRHC);
}
