.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
}
.getFullProfileData:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  margin-top: var(--token-UIMkdd_bvvx_);
  margin-bottom: var(--token-UIMkdd_bvvx_);
  width: 24px;
  height: 24px;
}
.freeBox__gTjnf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__gTjnf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__gTjnf > :global(.__wab_flex-container) > *,
.freeBox__gTjnf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gTjnf > :global(.__wab_flex-container) > picture > img,
.freeBox__gTjnf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.bookingService__iHeOr:global(.__wab_instance) {
  max-width: 100%;
}
.bookingService___5MdRf:global(.__wab_instance) {
  max-width: 100%;
}
.waitingApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.centerListDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.centerList:global(.__wab_instance) {
  max-width: 100%;
}
.serviceListDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.centerListService:global(.__wab_instance) {
  max-width: 100%;
}
.mashhadBookingDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__y0RsR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-W6cMLA0AZVBO);
  min-width: 0;
  border-top: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__y0RsR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__y0RsR > :global(.__wab_flex-container) > *,
.freeBox__y0RsR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y0RsR > :global(.__wab_flex-container) > picture > img,
.freeBox__y0RsR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text__jb5K1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  line-height: 1.75rem;
  min-width: 0;
}
.link {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__nl513:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__uQ4Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___5AQLy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.applicationDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__hmcX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-W6cMLA0AZVBO);
  min-width: 0;
  border-top: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__hmcX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__hmcX > :global(.__wab_flex-container) > *,
.freeBox__hmcX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hmcX > :global(.__wab_flex-container) > picture > img,
.freeBox__hmcX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text__hu845 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  line-height: 1.75rem;
  min-width: 0;
}
.button__iMhm9:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__vXtA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__utSRl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
