.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
}
.freeBox__oTCv2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oTCv2 {
    padding-right: var(--token-Fv8-L_kN-2Ma);
    padding-left: var(--token-Fv8-L_kN-2Ma);
  }
}
.h2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-tM2Vh4zTir7U);
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg___8XMac {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-JDvyxAtm9ONK);
  height: 1em;
}
.text__lwA1 {
  font-size: var(--token-VrIY9r5RDQZ_);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lwA1 {
    font-weight: 600;
  }
}
.svg__odEm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__mlKb3 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 7px 25px 0px #98a1a926;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-vMUQwr5Jto1d);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mlKb3 {
    border-radius: 0px;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__uvwZr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__yqxSv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rSQm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__sf5Up {
  object-fit: cover;
  max-width: 100px;
  width: 20px;
  height: 1em;
}
.text__gWav {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
