.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  min-width: 0;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.button__o3I8D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ieOcA {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-JDvyxAtm9ONK);
}
.text__jtSe {
  text-align: right;
}
.svg__ov3Ns {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hsVOo {
  font-size: var(--token-6NbVMeD6zQwn);
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__vpiFh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__mzAE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.freeBox__uNfGv {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__uNfGv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__uNfGv > :global(.__wab_flex-container) > *,
.freeBox__uNfGv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uNfGv > :global(.__wab_flex-container) > picture > img,
.freeBox__uNfGv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__dKT8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-1jTXKEDkeRHC);
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.text__t71AX {
  font-size: var(--token-6NbVMeD6zQwn);
  text-align: center;
  font-weight: 500;
  color: var(--token-1jTXKEDkeRHC);
}
.freeBox__qv9Rk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__qv9Rk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__qv9Rk > :global(.__wab_flex-container) > *,
.freeBox__qv9Rk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qv9Rk > :global(.__wab_flex-container) > picture > img,
.freeBox__qv9Rk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.popoverCore:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.button__exzpj:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__oj47 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___4WLk1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__kShU {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: #ffffff;
  width: 350px;
  border-radius: 8px;
  padding: var(--token-Fv8-L_kN-2Ma);
  border: 1px solid #e2e8f0;
}
.freeBox__kShU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__kShU > :global(.__wab_flex-container) > *,
.freeBox__kShU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kShU > :global(.__wab_flex-container) > picture > img,
.freeBox__kShU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kShU {
    width: 100%;
    min-width: 300px;
  }
}
.text__xYhmM {
  font-size: var(--token-VrIY9r5RDQZ_);
  font-weight: 600;
}
.button__hIyj4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xyX9O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__reKeh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__fgI1 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 3px;
  padding-bottom: var(--token-_c276Gs_1FIE);
  min-width: 0;
  border-bottom: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__cBbSj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.text__x42En {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 600;
  color: var(--token-JDvyxAtm9ONK);
  min-width: 0;
}
.freeBox__nvcct {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__uTljt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.freeBox__xhyyH {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xhyyH > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__xhyyH > :global(.__wab_flex-container) > *,
.freeBox__xhyyH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xhyyH > :global(.__wab_flex-container) > picture > img,
.freeBox__xhyyH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__psuCv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-sMH6_tUwTYlv);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text___6L5Zm {
  font-size: var(--token-6NbVMeD6zQwn);
  text-align: center;
  font-weight: 500;
  color: var(--token-sMH6_tUwTYlv);
}
