@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 100;
  src: url("../public/fonts/ttf/IRANSansWeb\(FaNum\)_UltraLight.ttf");
}
@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../public/fonts/ttf/IRANSansWeb\(FaNum\)_Light.ttf");
}

@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/ttf/IRANSansWeb\(FaNum\).ttf");
}

@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../public/fonts/ttf/IRANSansWeb\(FaNum\)_Medium.ttf");
}

@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/ttf/IRANSansWeb\(FaNum\)_Bold.ttf");
}

@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("../public/fonts/ttf/IRANSansWeb\(FaNum\)_Black.ttf");
}

* {
  font-family: "IRANSans";
}

body {
  direction: rtl;
  font-family: "IRANSans";
  color: #2b2f33;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.leaflet-control-zoom {
  display: none;
}
