@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'IRANSansXV';
    src: url('../../public/fonts/IRANSansXV.woff2') format('woff2-variations'), url('../../public/fonts/IRANSansXV.woff2') format('woff2');
    font-weight: 100 900;
    font-display: fallback;
  }

  * {
    font-family: 'IRANSansXV', tahoma;
    -moz-font-feature-settings: 'ss02';
    -webkit-font-feature-settings: 'ss02';
    font-feature-settings: 'ss02';
  }

  @layer utilities {
    .font-thin {
      font-weight: 100;
      font-variation-settings: 'wght' 100;
    }
    .font-extralight {
      font-weight: 200;
      font-variation-settings: 'wght' 200;
    }
    .font-light {
      font-weight: 300;
      font-variation-settings: 'wght' 300;
    }
    .font-normal {
      font-weight: 400;
      font-variation-settings: 'wght' 400;
    }
    .font-medium {
      font-weight: 500;
      font-variation-settings: 'wght' 500;
    }
    .font-semibold {
      font-weight: 600;
      font-variation-settings: 'wght' 600;
    }
    .font-bold {
      font-weight: 700;
      font-variation-settings: 'wght' 700;
    }
    .font-extrabold {
      font-weight: 800;
      font-variation-settings: 'wght' 800;
    }
    .font-black {
      font-weight: 900;
      font-variation-settings: 'wght' 900;
    }
  }
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 100;
    src: url('../../public/fonts/IRANSansXFaNum-Thin.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 200;
    src: url('../../public/fonts/IRANSansXFaNum-UltraLight.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 300;
    src: url('../../public/fonts/IRANSansXFaNum-Light.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 500;
    src: url('../../public/fonts/IRANSansXFaNum-Medium.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 600;
    src: url('../../public/fonts/IRANSansXFaNum-DemiBold.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 800;
    src: url('../../public/fonts/IRANSansXFaNum-ExtraBold.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 900;
    src: url('../../public/fonts/IRANSansXFaNum-Black.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: bold;
    src: url('../../public/fonts/IRANSansXFaNum-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: normal;
    src: url('../../public/fonts/IRANSansXFaNum-Regular.woff2') format('woff2');
  }

  * {
    font-family: IRANSansX, tahoma;
  }
}

body {
  color: #2b2f33;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dont-fa-number-font * {
  -moz-font-feature-settings: normal !important;
  -webkit-font-feature-settings: normal !important;
  font-feature-settings: normal !important;
}

.no-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #e8ecf1;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: #8995a7;
  border-radius: 100px;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}

.leaflet-control-zoom {
  display: none;
}

input[type='range']::-webkit-slider-thumb {
  @apply w-5 h-5 bg-white border-[6px] border-solid rounded-full appearance-none pointer-events-auto border-primary cursor-pointer;
}

.PhotoView-Portal {
  direction: ltr;
}

.loader {
  @apply animate-spin;
}

.recharts-layer.recharts-pie,
.recharts-sector:focus {
    outline: none !important;
}