.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: stretch;
  justify-self: flex-start;
  row-gap: var(--token-Bi0wtDhzOf2Z);
  min-width: 0;
}
.roottype_visitOnline {
  width: 100%;
  justify-self: flex-start;
  min-width: 0;
}
.freeBox__wMEqE {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-Bi0wtDhzOf2Z);
  min-width: 0;
  padding: 0px;
}
.freeBoxtype_visitOnline__wMEqElbrEa {
  display: flex;
}
.freeBox__gVl5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  column-gap: var(--token-Bi0wtDhzOf2Z);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gVl5 {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-3GkKk-9XllPR);
    column-gap: 0px;
  }
}
.freeBoxtype_visitOnline__gVl5LbrEa {
  display: flex;
}
.button___4PRmJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 2.5rem;
  align-self: auto;
}
.svg__oSr2Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cZKzi {
  font-size: var(--token-9YpWDRZpBZcs);
  align-self: center;
  font-weight: 600;
}
.text___3T58C {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9YpWDRZpBZcs);
  font-weight: 600;
  margin: var(--token-8t2HiygMJyNO);
}
.svg__cjQgE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__zsQjd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 2.5rem;
  align-self: auto;
}
.buttontype_visitOnline__zsQjdlbrEa:global(.__wab_instance) {
  display: flex;
}
.svg__pnuor {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-OlVuQmI49cL3);
}
.text__p3Q8E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9YpWDRZpBZcs);
  font-weight: 600;
  min-width: 0;
}
.svg__fCjgR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ox71N:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 2.5rem;
  position: relative;
  min-width: 0;
  flex-shrink: 0;
}
.svg__cXoJg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.شرحاولیهبیماری {
  font-size: var(--token-9YpWDRZpBZcs);
}
.svg__fcikG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.alert__auAds:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.alerttype_visitOnline__auAdSlbrEa:global(.__wab_instance) {
  display: flex;
}
.svg__gjGbE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.freeBox__uzO0V {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-3GkKk-9XllPR);
  min-width: 0;
  padding: 8px;
}
.text__nDjEt {
  text-align: right;
  color: #864c1e;
  font-size: var(--token-9YpWDRZpBZcs);
  font-weight: 500;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.button__q4NA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 2.5rem;
  min-width: 0;
}
.svg__wQhzH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hrhsm {
  font-size: var(--token-9YpWDRZpBZcs);
}
.svg__kX7Cm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__naG8C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__hKxT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  align-self: center;
  transform: none;
}
.freeBox__jdJui {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.doctorCard:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button__y6Ijs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__lzJMz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___3NL0 {
  color: #adb4d0;
  font-weight: 500;
  text-decoration-line: none !important;
}
.svg__bq5V2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___63WC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-Bi0wtDhzOf2Z);
  min-width: 0;
  padding: 8px;
}
.text__t2GsO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 600;
  min-width: 0;
}
.freeBox__eVlJ3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
}
.dialog3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 435px;
}
.dialog3type_visitOnline:global(.__wab_instance):global(.__wab_instance) {
  display: flex;
}
.button__jfewW:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 2.5rem;
  min-width: 0;
}
.svg__haohE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #e54d2e;
}
.text__ez2Vp {
  font-size: var(--token-9YpWDRZpBZcs);
}
.svg___9CQU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__k6E2L {
  font-weight: 700;
}
.freeBox__hk0YF {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-Bi0wtDhzOf2Z);
  min-width: 0;
}
.button__pAnu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__nFvw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__q6TE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__sRfrr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___48N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__v2W6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___4AFlz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-Bi0wtDhzOf2Z);
  row-gap: var(--token-3GkKk-9XllPR);
  min-width: 0;
  border-top: 1px solid #2b2f3329;
}
.freeBoxtype_visitOnline___4AFlzlbrEa {
  display: flex;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 435px;
}
.button__wub4Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 2.5rem;
  align-self: auto;
}
.svg__cOl6F {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-OlVuQmI49cL3);
}
.text__bvIk2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9YpWDRZpBZcs);
  font-weight: 600;
  min-width: 0;
}
.text___2Jvpq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-yqXSKH2iGQD2);
  margin-right: var(--token-3GkKk-9XllPR);
  align-self: center;
  font-weight: 500;
}
.timer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.svg__xjufj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__grMlf {
  font-weight: 700;
}
.form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 8px;
  min-width: 0;
}
.alert__h9Pd3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__n83Qf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  align-self: auto;
}
.freeBox__tAi5S {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__j0CLt {
  color: #864c1e;
  font-size: var(--token-9YpWDRZpBZcs);
  font-weight: 500;
}
.textarea {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9YpWDRZpBZcs);
  min-width: 0;
  border-radius: 8px;
  padding: var(--token-Bi0wtDhzOf2Z);
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__xxBbL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pc2Wn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__qtTyR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__xj7Xc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gioLe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__eZm5G:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 2.5rem;
  align-self: auto;
  flex-shrink: 0;
}
.svg__gaLj3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-OlVuQmI49cL3);
}
.text___6BkhJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9YpWDRZpBZcs);
  font-weight: 600;
  min-width: 0;
}
.svg__kyh4C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.sideEffecttype_visitOnline:global(.__wab_instance) {
  display: flex;
}
