.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 0.5rem;
  padding: var(--token--IM3__qUOemQ);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-Bi0wtDhzOf2Z));
  height: calc(100% + var(--token-Bi0wtDhzOf2Z));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-Bi0wtDhzOf2Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    border-radius: 0rem;
  }
}
.text___5J4Mt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__hg5Ic {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hnXgm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hXQhB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9YpWDRZpBZcs);
  font-weight: 500;
  opacity: 0.95;
  min-width: 0;
}
