.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-left: var(--token-8t2HiygMJyNO);
  padding-right: var(--token-8t2HiygMJyNO);
  column-gap: var(--token-8t2HiygMJyNO);
}
.link {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Q3Gquahrk2dK);
  font-size: var(--token-yqXSKH2iGQD2);
  font-weight: 500;
  min-width: 0;
}
.span {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Q3Gquahrk2dK);
  opacity: 0.5;
  font-size: var(--token-yqXSKH2iGQD2);
  font-weight: 500;
  min-width: 0;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
