.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.wwwpaziresh24ComByHtmltodesignFreeVersion18022024101317Gmt330 {
  width: 525px;
  height: 360px;
  display: block;
  flex-shrink: 0;
}
.divflex {
  height: 36px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
.linkButton {
  width: 177px;
  height: 36px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 8px;
}
.زارشتلفنوآدرسصحح {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 133px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__viyky {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "IRANSansXV";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 16px;
  color: rgba(55, 96, 250, 1);
}
.svg___6JOgf {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #3861fb;
  transform: translate(-0.47100000000000364px, -0.5px);
  width: 17px;
  height: 17px;
  display: block;
  top: 10px;
  left: 148px;
  overflow: hidden;
}
.heading2آدرسوتلفنتماس {
  position: absolute;
  top: 6px;
  right: -1px;
  width: 127px;
  height: 24px;
  transform: translate(-0.48099999999999454px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading2آدرسوتلفنتماس2 {
  display: block;
  font-size: 16px;
  text-align: right;
  font-family: "IRANSansXV";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(42, 46, 51, 1);
}
.divp3 {
  background: rgba(255, 255, 255, 1);
  height: 312px;
  display: block;
  position: absolute;
  top: 48px;
  left: 0px;
  right: 0px;
  border-radius: 8px;
}
.divflex2 {
  background: rgba(247, 249, 251, 1);
  height: 224px;
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  border-radius: 8px;
}
.divflex3 {
  height: 24px;
  display: block;
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
}
.linkبمارستانامرالمومننسمنان {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 24px;
  transform: translate(0.19999999999998863px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.linkبمارستانامرالمومننسمنان2 {
  display: block;
  font-size: 16px;
  text-align: right;
  font-family: "IRANSansXV";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(42, 46, 51, 1);
}
.divh2Db0F309Cd {
  height: 48px;
  display: block;
  position: absolute;
  top: 44px;
  left: 16px;
  right: 16px;
}
.سمنان {
  position: absolute;
  top: 3px;
  right: -1px;
  width: 38px;
  height: 20px;
  transform: translate(-0.4409999999999741px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___9Iv5H {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "IRANSansXV";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(42, 46, 51, 1);
}
._ {
  position: absolute;
  top: 0px;
  right: 42px;
  width: 5px;
  height: 24px;
  transform: translate(0.32900000000000773px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__dLye1 {
  display: block;
  font-size: 16px;
  text-align: right;
  font-family: "IRANSansXV";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(42, 46, 51, 1);
}
.بلوارمصطفخمنرهروبروهارصددستاهمرزآموزشدرمان {
  position: absolute;
  top: 3px;
  right: 46px;
  width: 397px;
  height: 20px;
  transform: translate(-0.2710000000000008px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__czvx {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "IRANSansXV";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(42, 46, 51, 1);
}
.امرالمومنن {
  position: absolute;
  top: 27px;
  right: -1px;
  width: 71px;
  height: 20px;
  transform: translate(-0.22100000000000364px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__dSYmV {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "IRANSansXV";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(42, 46, 51, 1);
}
.divflex4 {
  height: 104px;
  display: block;
  position: absolute;
  top: 104px;
  left: 16px;
  right: 16px;
}
.button {
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  border-radius: 8px;
}
._02333460066 {
  position: absolute;
  top: 14px;
  left: 174px;
  width: 97px;
  height: 20px;
  transform: translate(0.30000000000001137px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__vj7Hv {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "IRANSansXV";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(55, 96, 250, 1);
}
.svg___4OMwg {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #3861fb;
  transform: translate(-0.30000000000001137px, 0px);
  width: 20px;
  height: 20px;
  display: block;
  top: 14px;
  left: 275px;
  overflow: hidden;
}
.button2 {
  height: 48px;
  display: block;
  position: absolute;
  top: 56px;
  left: 0px;
  right: 0px;
  border-radius: 8px;
}
.مشاهدهدرنقشهومسراب {
  position: absolute;
  top: 14px;
  left: 141px;
  width: 165px;
  height: 20px;
  transform: translate(-0.28000000000000114px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__iOhbS {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "IRANSansXV";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(55, 96, 250, 1);
}
.svg__f5Sc5 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #3861fb;
  transform: translate(0.29899999999997817px, 0px);
  width: 20px;
  height: 20px;
  display: block;
  top: 14px;
  left: 308px;
  overflow: hidden;
}
.divflex5 {
  background: rgba(247, 249, 251, 1);
  height: 56px;
  display: block;
  position: absolute;
  top: 244px;
  left: 12px;
  right: 12px;
  border-radius: 8px;
}
.linkمطبسودههوشمند {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 146px;
  height: 24px;
  transform: translate(-0.2699999999999818px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.linkمطبسودههوشمند2 {
  display: block;
  font-size: 16px;
  text-align: right;
  font-family: "IRANSansXV";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(42, 46, 51, 1);
}
