.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-Bi0wtDhzOf2Z);
  min-width: 0;
}
.breadcrumbs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  row-gap: var(--token-3GkKk-9XllPR);
  min-width: 0;
  border-radius: 0.5rem;
  padding: var(--token--IM3__qUOemQ);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    border-radius: 0rem;
  }
}
.opener:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
}
