.root {
  display: flex;
  position: relative;
  height: auto;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - var(--token-Bi0wtDhzOf2Z));
  height: calc(100% + var(--token-Bi0wtDhzOf2Z));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-Bi0wtDhzOf2Z);
}
.text__tpL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.freeBox__njTt0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 0.5rem;
  padding: var(--token--IM3__qUOemQ);
}
.freeBox__njTt0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-3GkKk-9XllPR));
  height: calc(100% + var(--token-3GkKk-9XllPR));
}
.freeBox__njTt0 > :global(.__wab_flex-container) > *,
.freeBox__njTt0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__njTt0 > :global(.__wab_flex-container) > picture > img,
.freeBox__njTt0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-3GkKk-9XllPR);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__njTt0 {
    border-radius: 0rem;
  }
}
.freeBox___1VxTv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-hWslDZ5dN9go);
  min-width: 0;
  border-radius: 0.5rem;
  padding: var(--token--IM3__qUOemQ);
}
.freeBox___1VxTv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-3GkKk-9XllPR));
  width: calc(100% + var(--token-3GkKk-9XllPR));
}
.freeBox___1VxTv > :global(.__wab_flex-container) > *,
.freeBox___1VxTv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1VxTv > :global(.__wab_flex-container) > picture > img,
.freeBox___1VxTv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-3GkKk-9XllPR);
}
.svg__fSiU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  min-width: 24px;
  flex-shrink: 0;
}
.text__aBxMc {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9YpWDRZpBZcs);
}
.freeBox__npHib {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-hWslDZ5dN9go);
  min-width: 0;
  border-radius: 0.5rem;
  padding: var(--token--IM3__qUOemQ);
}
.freeBox__npHib > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-3GkKk-9XllPR));
  width: calc(100% + var(--token-3GkKk-9XllPR));
}
.freeBox__npHib > :global(.__wab_flex-container) > *,
.freeBox__npHib > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__npHib > :global(.__wab_flex-container) > picture > img,
.freeBox__npHib
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-3GkKk-9XllPR);
}
.svg__s35Ry {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  min-width: 24px;
  flex-shrink: 0;
}
.freeBox__pCmV {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__pCmV > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-8t2HiygMJyNO));
  width: calc(100% + var(--token-8t2HiygMJyNO));
}
.freeBox__pCmV > :global(.__wab_flex-container) > *,
.freeBox__pCmV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pCmV > :global(.__wab_flex-container) > picture > img,
.freeBox__pCmV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-8t2HiygMJyNO);
}
.text__y5Ldh {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9YpWDRZpBZcs);
  font-weight: 700;
}
.svg___3CMaB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__b2LaP {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9YpWDRZpBZcs);
}
.popoverCore:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__kebuB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pnGkU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  opacity: 0.6;
}
.svg__edgUi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___3JExA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #e2e8f0;
}
.text__wKeem {
  font-size: var(--token-9YpWDRZpBZcs);
  font-weight: 500;
}
.freeBox__tcVrm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-hWslDZ5dN9go);
  min-width: 0;
  border-radius: 0.5rem;
  padding: var(--token--IM3__qUOemQ);
}
.freeBox__tcVrm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-3GkKk-9XllPR));
  width: calc(100% + var(--token-3GkKk-9XllPR));
}
.freeBox__tcVrm > :global(.__wab_flex-container) > *,
.freeBox__tcVrm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tcVrm > :global(.__wab_flex-container) > picture > img,
.freeBox__tcVrm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-3GkKk-9XllPR);
}
.svg___6A1Z5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  min-width: 24px;
  flex-shrink: 0;
}
.text__dpKhj {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9YpWDRZpBZcs);
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
