.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.jsFuncScripts:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  left: auto;
  top: auto;
  z-index: 1;
  margin-top: 11px;
  min-width: 0;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.useMyLocation:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__m2QR0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__zTqP5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__c5XwP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__prdvl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.locationSelectionScriptEmbed:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 0px;
  height: 0px;
  flex-shrink: 0;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
