.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  min-width: 0;
}
.freeBox___2I0J3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-W6cMLA0AZVBO) var(--token-UIMkdd_bvvx_);
}
.freeBox___2I0J3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox___2I0J3 > :global(.__wab_flex-container) > *,
.freeBox___2I0J3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2I0J3 > :global(.__wab_flex-container) > picture > img,
.freeBox___2I0J3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.freeBox__hopQe {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__hopQe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__hopQe > :global(.__wab_flex-container) > *,
.freeBox__hopQe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hopQe > :global(.__wab_flex-container) > picture > img,
.freeBox__hopQe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #0f766e;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__dLnM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #0f766e;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 500;
  min-width: 0;
}
.freeBox__ooR52 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__i5ZAb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__yeOpF {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: var(--token-W6cMLA0AZVBO);
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 44px;
  height: 44px;
  margin-right: -16px;
  box-shadow: 0px 4px 19px 0px #00000038;
  flex-shrink: 0;
  border-radius: 1000px;
}
.img > picture > img {
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__eDrte {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wYCy {
  padding-bottom: 0px;
}
.svg__yg21I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__koV5N {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.suggestedDoctor:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
