.root {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  margin-right: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - var(--token-Fv8-L_kN-2Ma));
  height: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-Fv8-L_kN-2Ma);
}
.setGrowthbookAttributes:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.showMySearchPerformance {
  position: relative;
  text-align: right;
  font-weight: 700;
  padding-top: 8px;
}
.topSuggestedCardVerticalStack {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 100%;
  margin-right: 0px;
  background: none;
  width: 100%;
  min-width: 0;
  border-radius: var(--token-fhaz6q6bl-fW);
  border: 1px solid var(--token-zGjeYJZOhQzx);
}
.topSuggestedCardVerticalStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.topSuggestedCardVerticalStack > :global(.__wab_flex-container) > *,
.topSuggestedCardVerticalStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.topSuggestedCardVerticalStack > :global(.__wab_flex-container) > picture > img,
.topSuggestedCardVerticalStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__oSJu {
  margin-bottom: 354px;
  margin-top: 2px;
}
.text__ffikx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.topSuggestedCard:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  position: relative;
  min-width: 0;
}
.resultCardsVerticalStack2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-right: 0px;
  background: none;
  min-width: 0;
  min-height: 0;
}
.resultCardsVerticalStack2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.resultCardsVerticalStack2 > :global(.__wab_flex-container) > *,
.resultCardsVerticalStack2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.resultCardsVerticalStack2 > :global(.__wab_flex-container) > picture > img,
.resultCardsVerticalStack2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.resultCardsVerticalStack2isHorizental {
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 100%;
  flex-grow: 0;
  min-height: 0;
}
.resultCardsVerticalStack2isHorizental > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  min-height: 0;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.resultCardsVerticalStack2isHorizental > :global(.__wab_flex-container) > *,
.resultCardsVerticalStack2isHorizental
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.resultCardsVerticalStack2isHorizental
  > :global(.__wab_flex-container)
  > picture
  > img,
.resultCardsVerticalStack2isHorizental
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
  margin-top: 0px;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBoxisHorizental {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  min-width: auto;
}
.productCard:global(.__wab_instance) {
  width: 100%;
  position: relative;
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 100%;
  min-width: 0;
}
.productCardisHorizental:global(.__wab_instance) {
  height: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  max-width: auto;
  min-width: 0;
  min-height: 0;
}
.paginationMoreButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__eDvlU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__steSm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.noResultsBlockVerticalStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffedd5;
  min-width: 0;
  border-radius: 8px;
  padding: var(--token-Fv8-L_kN-2Ma);
  border: 1px dashed #d8b07a;
}
.noResultsBlockVerticalStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.noResultsBlockVerticalStack > :global(.__wab_flex-container) > *,
.noResultsBlockVerticalStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.noResultsBlockVerticalStack > :global(.__wab_flex-container) > picture > img,
.noResultsBlockVerticalStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.text__psRc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-RxWJli6xyBzp);
  font-weight: 700;
  min-width: 0;
}
.text__fjxY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.text__bUp8Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ul__u9LlH {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  list-style-type: none;
  padding: 0px;
}
.ul__qa1Fo {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  text-align: right;
  padding-left: 0px;
  width: 100%;
  min-width: 0;
}
.ul__qa1Fo > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - var(--token-fhaz6q6bl-fW));
  height: calc(100% + var(--token-fhaz6q6bl-fW));
}
.ul__qa1Fo > :global(.__wab_flex-container) > *,
.ul__qa1Fo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul__qa1Fo > :global(.__wab_flex-container) > picture > img,
.ul__qa1Fo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-fhaz6q6bl-fW);
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.peopleAlsoSearchForBox:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.searchFooterSecondaryTasks:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + var(--token-Fv8-L_kN-2Ma)) !important;
}
.externalBookSurveyPopup:global(.__wab_instance) {
  max-width: 100%;
}
