.root:global(.__wab_instance) {
  position: relative;
  color: var(--token-LXnAFDUkrIJT);
  font-family: var(--token-uXLnbRD-R6zJ);
  font-size: var(--token-1nDNJIYJ8foS);
  line-height: var(--token-9evef4D4tD-c);
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-9Cwse874ebqD);
}
.slotTargetChildrensize_sm {
  font-size: var(--token-DYylOebVmAtQ);
  line-height: var(--token-K5NK9JOoz7qD);
}
.slotTargetChildrensize_lg {
  font-size: var(--token-vW2Zw7kwUlhj);
  line-height: var(--token-BysUmio9hB-d);
}
.text {
  position: relative;
  display: none;
}
.textrequirementIndicator_optional {
  color: var(--token--OFi8MN_ymYh);
  display: block;
}
.textrequirementIndicator_required {
  color: var(--token-zUx4MrVvJIED);
  display: block;
}
