.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__gvQGw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__e0Ajm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__arO0I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___3K4Wv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
}
.freeBox__urbAk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: var(--token-QcxRWQfhgyJI);
  max-width: 100%;
  padding-right: var(--token-vMUQwr5Jto1d);
  padding-left: var(--token-vMUQwr5Jto1d);
  cursor: pointer;
  border-radius: var(--token-_c276Gs_1FIE);
  border: 1px solid var(--token-VeLONbiJQakl);
}
.text {
  color: var(--token-h60EUZH0cVA6);
  font-weight: 600;
  font-size: var(--token-6NbVMeD6zQwn);
  border-radius: 0px;
  padding: 0px;
  border: 1px none var(--token-VeLONbiJQakl);
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-JDvyxAtm9ONK);
  height: 24px;
}
.svg__oeDk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.userLocation:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__hlKod {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  min-width: 0;
}
.locationList:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .locationList:global(.__wab_instance) {
    min-height: 55em;
  }
}
