.root {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
}
.text___0Id94 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.setUserCityStateVarByCookieIfExist:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
}
.text__c4Vlb {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: auto;
  top: auto;
  z-index: 1;
  margin-top: 11px;
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.useMyLocation:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__i3Xxk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__sUamd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__xMDsF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hsnO9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.locationSelectionScriptEmbed:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 0px;
  height: 0px;
  flex-shrink: 0;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
