.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__s6Ax2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__s6Ax2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__s6Ax2 > :global(.__wab_flex-container) > *,
.freeBox__s6Ax2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s6Ax2 > :global(.__wab_flex-container) > picture > img,
.freeBox__s6Ax2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox__owPgt {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__owPgt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__owPgt > :global(.__wab_flex-container) > *,
.freeBox__owPgt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__owPgt > :global(.__wab_flex-container) > picture > img,
.freeBox__owPgt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.sort:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox___9E8T {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-6NbVMeD6zQwn);
  white-space: pre-wrap;
  flex-shrink: 1;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
