.root {
  display: flex;
  position: relative;
  height: auto;
  flex-direction: column;
  background: #ffffff;
  width: 100%;
  max-width: 100%;
  row-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
  border-radius: 0.5rem;
  padding: var(--token-Fv8-L_kN-2Ma);
}
.rootisSingleCard {
  row-gap: 0px;
  column-gap: 0px;
  padding: var(--token-_c276Gs_1FIE);
}
.freeBox__bcNgL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.text__hKulC {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-kpM4b4mG4f2d);
  color: var(--token-It8BufY6ejOY);
  align-self: center;
  padding-left: 0px;
  padding-right: 6px;
  border-top-right-radius: var(--token-fhaz6q6bl-fW);
  border-bottom-right-radius: var(--token-fhaz6q6bl-fW);
  z-index: 5;
}
.text__hUA {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-kpM4b4mG4f2d);
  color: var(--token-It8BufY6ejOY);
  align-self: center;
  padding-left: 11px;
  padding-right: 6px;
  transform: translate3d(20px, 0px, 0px) skew(43deg, 0deg);
  z-index: 4;
  border-radius: var(--token-fhaz6q6bl-fW);
}
.freeBox__wJlKm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.freeBox__vbw0E {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: auto;
  max-width: 74px;
  min-width: 74px;
  row-gap: var(--token-fhaz6q6bl-fW);
  flex-shrink: 0;
}
.link__hyRw8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
}
.avatar:global(.__wab_instance) {
  max-width: 74px;
  width: 74px;
  height: 74px;
  max-height: 74px;
  min-width: 74px;
  left: auto;
  top: auto;
  position: relative;
  flex-shrink: 0;
}
.classificationTitle {
  height: auto;
  min-width: auto;
  display: flex;
  flex-direction: row;
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 100px;
}
.badgesChip2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  transform: skew(0deg, 0deg);
  z-index: 1;
}
.freeBox__uwhEa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  row-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.freeBox__d8Dss {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link__iYnI7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.lineClamp___342Ax:global(.__wab_instance) {
  max-width: 100%;
}
.cardTitle {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-tM2Vh4zTir7U);
  color: #000000;
  white-space: pre-wrap;
  min-width: 0;
}
.link__jKdVb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg__mb4OC {
  object-fit: cover;
  max-width: 100%;
  color: var(--token--OFi8MN_ymYh);
  height: 1em;
}
.moreOptionsMenu:global(.__wab_instance) {
  position: relative;
  width: auto;
  min-width: var(--token-W6cMLA0AZVBO);
}
.linkSubtitle {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.lineClamp__lmqY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.cardSubtitle {
  height: auto;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 400;
  white-space: pre-wrap;
  min-width: auto;
}
.linkTagsOfExpertise {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.lineClamp___7VvD7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tagsRow__kdQvn:global(.__wab_instance) {
  max-width: 100%;
}
.linkTags {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.lineClamp__k1Ixo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tagsRow__jtDwd:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__zf7Bm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0.5rem;
  column-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
.svg___4KelP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-1Ycj6LtmzBSK);
  margin-bottom: 5px;
  filter: none;
  box-shadow: none;
  flex-shrink: 0;
}
.svgexternalBookDesign___4KelPhqYe {
  color: var(--token-1Ycj6LtmzBSK);
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.span__zMlGi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-JDvyxAtm9ONK);
  font-weight: 500;
  font-size: var(--token-tM2Vh4zTir7U);
}
.span__qbAn4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-tM2Vh4zTir7U);
}
.freeBox__rdT8C {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  column-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
.svg__uyLb1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  min-width: 18px;
  color: var(--token-mlpFD9INNnro);
  flex-shrink: 0;
}
.lineClamp__sDffa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.cardAddressRow {
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 300;
  white-space: pre-wrap;
  width: 100%;
  filter: grayscale(100%);
  color: var(--token-mlpFD9INNnro);
  min-width: 0;
}
.freeBox__ddsL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
.svg__oF6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.cardPrice {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 500;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
}
.freeBox__sd0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: center;
  column-gap: var(--token-fhaz6q6bl-fW);
  row-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sd0 {
    justify-content: flex-start;
    align-content: flex-start;
  }
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 1;
}
.badgesChip:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  width: auto;
  transform: skew(0deg, 0deg);
}
.svg__fj8S {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-sMH6_tUwTYlv);
  min-width: 20px;
}
.svg__vdNz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: #1d4ed8;
  min-width: 20px;
}
.svg___2BpJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-sMH6_tUwTYlv);
  min-width: 20px;
}
.svg___4AT6K {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: var(--token-zGjeYJZOhQzx);
  min-width: 18px;
  display: none;
}
.text__qVzhr {
  font-size: var(--token-VrIY9r5RDQZ_);
}
.text__aNeb4 {
  max-width: 100%;
  font-size: var(--token-tM2Vh4zTir7U);
  font-weight: 500;
  flex-shrink: 1;
  flex-grow: 0;
}
.actionButtonsContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 2.5em;
  min-width: 0;
}
.freeBox__kHysu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.rismanActionBtn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___4XLvC {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
  display: none;
}
.freeBox___5XDh0 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 45px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-BU1JCAY6hntB);
  border-radius: 8px;
}
.freeBox__sWa1I {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 45px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-BU1JCAY6hntB);
  border-radius: 8px;
}
.freeBox__obAvn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.button__heg2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___6Utg6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uEvbb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ihcOu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__aOe53 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__amGxa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__nvVzj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.cardActionSduiV2UiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__s4JDx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__ybVvU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.freeBox__mf4Qz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.span___0BetQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.button__j7YzP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__fAvHp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ptUpu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.oldActionButtonsHorizontalStack {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.freeBox__xozVc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
  border-radius: 7px;
  border: 0px solid var(--token-JDvyxAtm9ONK);
}
.span__mY5Gg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 95%;
  font-size: var(--token-VrIY9r5RDQZ_);
  flex-shrink: 1;
  margin-bottom: -6px;
  min-width: 0;
}
.freeBox__xzb64 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.getProviderFromSlugApiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__c1SLh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__lq4Dj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.availabilityStatus:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__emhrt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__utvuQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.span__dqNWz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VrIY9r5RDQZ_);
  min-width: 0;
}
.button__kYXz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__dDPe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__b1Zmp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__pV4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___7UCt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__bz8I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.text__yzXdY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.freeBox__u1Q0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___7Gyd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .dialog2:global(.__wab_instance):global(.__wab_instance) {
    display: flex;
  }
}
.text__kr9Zz {
  display: none;
}
.freeBox___9VOzO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  padding-bottom: 80px;
  min-width: 0;
}
.paziresh24DoctorInvoiceNotice:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.paziresh24Factor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
