.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  flex-shrink: 1;
}
.freeBox___8Q83S {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__xnRm8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: var(--token-_c276Gs_1FIE);
  column-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
}
.freeBox__bLpwi {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 12px;
  height: 12px;
  background: var(--token-VeLONbiJQakl);
  flex-shrink: 0;
  border-radius: 0.125rem;
}
.text__l9Onv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  min-width: 0;
}
.freeBox__lvcKr {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  max-width: 100%;
  height: auto;
  margin-right: var(--token-vMUQwr5Jto1d);
  margin-top: var(--token-_c276Gs_1FIE);
  padding-bottom: var(--token-fhaz6q6bl-fW);
  border-right: 1px solid var(--token-VeLONbiJQakl);
}
.freeBox__puw5N {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: var(--token-Fv8-L_kN-2Ma);
  min-width: 0;
}
.lineClamp:global(.__wab_instance) {
  max-width: 100%;
}
.text__ncMdh {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
  color: var(--token-sMH6_tUwTYlv);
  background: var(--token-BU1JCAY6hntB);
  white-space: pre-wrap;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-fhaz6q6bl-fW) var(--token-_c276Gs_1FIE);
}
.freeBox__qg5E {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  transform: translateX(0px) translateY(14px) translateZ(0px);
  margin-top: var(--token-_c276Gs_1FIE);
  row-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.freeBox__i8FmB {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  column-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
}
.freeBox__qn0Zo {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 12px;
  height: 1px;
  background: var(--token-VeLONbiJQakl);
  flex-shrink: 0;
  border-radius: 0.125rem;
}
.text__lubU0 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
  font-style: normal;
  color: var(--token-sMH6_tUwTYlv);
  cursor: pointer;
}
.freeBox__ijG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  column-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
}
.freeBox__j308O {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 12px;
  height: 1px;
  background: var(--token-VeLONbiJQakl);
  flex-shrink: 0;
  border-radius: 0.125rem;
}
.text__i5Mjy {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
  font-style: normal;
  color: var(--token-sMH6_tUwTYlv);
  cursor: pointer;
}
