.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  row-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
  padding: var(--token-W6cMLA0AZVBO);
}
.title {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h3 {
  font-size: var(--token-RxWJli6xyBzp);
}
.linkToSearchs {
  position: relative;
}
