.root {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  background: none;
  margin-right: 0px;
  width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  height: 100%;
  row-gap: var(--token-Fv8-L_kN-2Ma);
  min-width: 0;
  min-height: 0;
}
.setGrowthbookAttributes:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___7EYwI {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: var(--token-BCWljTOyDNmw);
  min-width: 0;
}
.showMySearchPerformance {
  position: relative;
  text-align: right;
  font-weight: 700;
  padding-top: 8px;
}
.topSuggestedCardVerticalStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  background: none;
  flex-wrap: nowrap;
  align-content: stretch;
  width: 100%;
  row-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.topSuggestedCard:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  position: relative;
  min-width: 0;
}
.resultCardsVerticalStack2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-right: 0px;
  background: none;
  flex-wrap: nowrap;
  align-content: stretch;
  row-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
  min-height: 0;
}
.resultCardsVerticalStack2isHorizental {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: auto;
  height: 100%;
  flex-grow: 0;
  flex-wrap: nowrap;
  align-content: stretch;
  column-gap: var(--token-vMUQwr5Jto1d);
  row-gap: 0px;
  min-height: 0;
}
.freeBox__a25Zy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBoxisHorizental__a25ZysX3UT {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  min-width: auto;
  column-gap: 0px;
}
.noItemFound {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #fff1ec;
  min-width: 0;
  border-radius: 6px;
  margin: var(--token-vMUQwr5Jto1d);
  border: 1px solid #c5885e;
}
.freeBox__apXlz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__gd1Tp {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: var(--token-_c276Gs_1FIE);
}
.text__d3Bmq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
  padding: var(--token-fhaz6q6bl-fW);
}
.span {
  font-weight: 700;
  font-size: var(--token-6NbVMeD6zQwn);
}
.productCard:global(.__wab_instance) {
  width: 100%;
  position: relative;
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 100%;
  min-width: 0;
}
.productCardisHorizental:global(.__wab_instance) {
  height: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  max-width: auto;
  min-width: 0;
  min-height: 0;
}
.paginationMoreButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__eDvlU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__steSm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.noResultsBlockVerticalStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fff7ec;
  row-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
  border-radius: 8px;
  padding: var(--token-Fv8-L_kN-2Ma);
  border: 1px dashed #d8b07a;
}
.text__psRc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-RxWJli6xyBzp);
  font-weight: 700;
  min-width: 0;
}
.text__fjxY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.text__bUp8Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ul__u9LlH {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  list-style-type: none;
  padding: 0px;
}
.ul__qa1Fo {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  text-align: right;
  padding-left: 0px;
  width: 100%;
  row-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.externalBookSurveyPopup:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__knrNp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
