.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.roothasBorder {
  border-bottom: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: var(--token-_c276Gs_1FIE);
  padding-left: var(--token-_c276Gs_1FIE);
  cursor: pointer;
  min-width: 0;
}
.freeBoxhasIcon {
  justify-content: space-between;
  align-items: center;
}
.root:hover .freeBox {
  background: var(--token-It8BufY6ejOY);
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: var(--token-6NbVMeD6zQwn);
  padding-top: var(--token-_c276Gs_1FIE);
  padding-bottom: var(--token-_c276Gs_1FIE);
}
.textisSelected {
  color: var(--token-JDvyxAtm9ONK);
}
.svg {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  display: none;
}
.svghasIcon {
  display: block;
}
