.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: var(--token-_c276Gs_1FIE);
  row-gap: 2px;
  min-width: 0;
  border-bottom: 1px solid var(--token-Y3HOiwZmAcAF);
}
.rootisLastChild {
  border-bottom-width: 0px;
}
.freeBox__iBo76 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-bottom: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
.switchButton:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__gfvgx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gfvgx {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: var(--token-_c276Gs_1FIE);
    column-gap: 0px;
  }
}
.radioFilter:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
  margin: 2px 0px 0px;
}
