.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  justify-self: flex-start;
  flex-shrink: 1;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  flex-shrink: 1;
  border-radius: 1000px;
  padding: 3px var(--token-vMUQwr5Jto1d);
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.freeBoxisSelected {
  background: #c8d6e266;
  border-color: var(--token-JDvyxAtm9ONK);
}
.sortIcon {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  color: var(--token-zGjeYJZOhQzx);
  flex-shrink: 0;
}
.sortIconisSelected {
  color: var(--token-JDvyxAtm9ONK);
  display: block;
}
.svg__zaOfU {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  color: var(--token-zGjeYJZOhQzx);
  flex-shrink: 0;
}
.svgisSelected__zaOfUjXAqb {
  color: var(--token-JDvyxAtm9ONK);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  color: var(--token-rjAIDXsTjJqJ);
  font-size: var(--token-VrIY9r5RDQZ_);
  white-space: pre;
  min-width: 0;
}
.textisSelected {
  color: var(--token-JDvyxAtm9ONK);
}
._delete {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  max-width: 100%;
  flex-shrink: 0;
  display: none;
  border-radius: 1000px;
  border: 1px solid var(--token-JDvyxAtm9ONK);
}
._deleteisSelected {
  display: flex;
}
.svg__vXxbX {
  object-fit: cover;
  max-width: 100%;
  width: 10px;
  height: 10px;
  color: var(--token-JDvyxAtm9ONK);
  flex-shrink: 0;
}
