.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 7px 25px 0px #98a1a933;
  background: #ffffff;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-W6cMLA0AZVBO);
}
.filterSelected:global(.__wab_instance) {
  max-width: 100%;
}
