.ariaSelect:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-9Cwse874ebqD);
  min-width: 0;
}
.ariaSelect[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  box-shadow: 0px 4px 16px 0px transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ffffff;
  align-items: center;
  outline-style: none;
  outline-color: transparent;
  min-width: 150px;
  border-radius: var(--token-e9vbXyHeme5W);
  padding: var(--token-e9vbXyHeme5W) var(--token-JTP_I64kPmN_);
  border-width: 0px;
  border-style: none;
}
.ariaSelect[data-focused][data-focus-visible]
  .ariaButton:global(.__wab_instance) {
  transform: none;
}
.ariaSelectedValue:global(.__wab_instance) {
  font-size: var(--token-6NbVMeD6zQwn);
  line-height: var(--token-9evef4D4tD-c);
  font-weight: 500;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token--OFi8MN_ymYh);
  min-width: 0;
}
.svg {
  width: var(--token-6C7jV1KCwFTZ);
  height: var(--token-6C7jV1KCwFTZ);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
}
.ariaSelect[data-focus-visible] .svg {
  transform: none;
}
.ariaSelect[data-focused] .svg {
  transform: none;
}
.ariaSelect[data-focused][data-focus-visible] .svg {
  transform: none;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.menuPopover:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.menuSection__yPHyJ:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__rkJcX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
