.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-W6cMLA0AZVBO);
  min-width: 0;
}
.freeBox__yyeat {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  overflow: auto;
  margin-bottom: var(--token-vMUQwr5Jto1d);
  column-gap: var(--token-_c276Gs_1FIE);
  row-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.freeBox__wvnew {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  column-gap: var(--token-fhaz6q6bl-fW);
  border-radius: 1000px;
  padding: var(--token-fhaz6q6bl-fW) var(--token-vMUQwr5Jto1d);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-rjAIDXsTjJqJ);
  font-weight: 500;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-rjAIDXsTjJqJ);
  width: 16px;
  cursor: pointer;
  flex-shrink: 0;
  height: 1em;
}
