.root:global(.__wab_instance) {
  position: relative;
  cursor: pointer;
  color: var(--token-LXnAFDUkrIJT);
  font-family: var(--token-uXLnbRD-R6zJ);
  font-size: var(--token-1nDNJIYJ8foS);
  line-height: var(--token-9evef4D4tD-c);
  outline-style: none;
  border-radius: var(--token-e9vbXyHeme5W);
}
.root[data-hovered]:global(.__wab_instance) {
  background: var(--token-0CrE9F96BTf4);
}
.root[data-selected]:global(.__wab_instance) {
  background: var(--token-xCc3TN264G6q);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-yJJXpq_dQ2jl);
  outline-color: var(--token-Dq2PAJ8wUkNl);
  outline-offset: 1px;
}
.freeBox__nR8QP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token--8CCgm4ivqmI) var(--token-JTP_I64kPmN_);
}
.freeBox__nR8QP > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
  margin-top: calc(0px - var(--token-yJJXpq_dQ2jl));
  height: calc(100% + var(--token-yJJXpq_dQ2jl));
}
.freeBox__nR8QP > :global(.__wab_flex-container) > *,
.freeBox__nR8QP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nR8QP > :global(.__wab_flex-container) > picture > img,
.freeBox__nR8QP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
  margin-top: var(--token-yJJXpq_dQ2jl);
}
.freeBox___9IwKv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__tx4V8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token--OFi8MN_ymYh);
  min-width: 0;
}
