.root {
  display: flex;
  position: relative;
  height: auto;
  flex-direction: column;
  background: #ffffff;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  border-radius: 0.5rem;
  padding: var(--token-Fv8-L_kN-2Ma);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.freeBox__bcNgL {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__bcNgL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__bcNgL > :global(.__wab_flex-container) > *,
.freeBox__bcNgL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bcNgL > :global(.__wab_flex-container) > picture > img,
.freeBox__bcNgL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.text__hKulC {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-kpM4b4mG4f2d);
  color: var(--token-It8BufY6ejOY);
  align-self: center;
  padding-left: 0px;
  padding-right: 6px;
  border-top-right-radius: var(--token-fhaz6q6bl-fW);
  border-bottom-right-radius: var(--token-fhaz6q6bl-fW);
  z-index: 5;
}
.text__hUA {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-kpM4b4mG4f2d);
  color: var(--token-It8BufY6ejOY);
  align-self: center;
  padding-left: 11px;
  padding-right: 6px;
  transform: translateX(20px) translateY(0px) translateZ(0px) skewX(43deg)
    skewY(0deg);
  z-index: 4;
  border-radius: var(--token-fhaz6q6bl-fW);
}
.freeBox__wJlKm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__wJlKm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__wJlKm > :global(.__wab_flex-container) > *,
.freeBox__wJlKm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wJlKm > :global(.__wab_flex-container) > picture > img,
.freeBox__wJlKm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox__vbw0E {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 74px;
  height: auto;
  max-width: 74px;
  min-width: 74px;
  flex-shrink: 0;
}
.freeBox__vbw0E > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - var(--token-fhaz6q6bl-fW));
  height: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__vbw0E > :global(.__wab_flex-container) > *,
.freeBox__vbw0E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vbw0E > :global(.__wab_flex-container) > picture > img,
.freeBox__vbw0E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-fhaz6q6bl-fW);
}
.link__hyRw8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
}
.avatar:global(.__wab_instance) {
  max-width: 74px;
  width: 74px;
  height: 74px;
  max-height: 74px;
  min-width: 74px;
  left: auto;
  top: auto;
  position: relative;
  flex-shrink: 0;
}
.classificationApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
.text___7PCh {
  display: none;
}
.text__yApKc {
  display: none;
}
.classificationTitle {
  height: auto;
  min-width: auto;
  display: flex;
  flex-direction: row;
  background: var(--token-Y3HOiwZmAcAF);
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 100px;
}
.slotTargetChildren {
  font-size: var(--token-VrIY9r5RDQZ_);
  font-weight: 500;
  white-space: pre-wrap;
}
.freeBox__uwhEa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
}
.freeBox__uwhEa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__uwhEa > :global(.__wab_flex-container) > *,
.freeBox__uwhEa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uwhEa > :global(.__wab_flex-container) > picture > img,
.freeBox__uwhEa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.link__iYnI7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.cardTitle {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-RxWJli6xyBzp);
  color: #000000;
  white-space: pre;
  min-width: 0;
}
.lineClamp__lmqY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.cardSubtitle {
  height: auto;
  font-size: var(--token-tM2Vh4zTir7U);
  font-weight: 400;
  white-space: pre-wrap;
  min-width: auto;
}
.freeBox__zf7Bm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0.5rem + var(--token-_c276Gs_1FIE)) !important;
  min-width: 0;
}
.freeBox__zf7Bm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__zf7Bm > :global(.__wab_flex-container) > *,
.freeBox__zf7Bm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zf7Bm > :global(.__wab_flex-container) > picture > img,
.freeBox__zf7Bm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.freeBox_5StarRatingMode3__5StarA__zf7BmfZd0 {
  margin-top: calc(0.5rem + var(--token-_c276Gs_1FIE)) !important;
}
.freeBoxexternalBookDesign__zf7BmHqYe {
  margin-top: calc(0.5rem + var(--token-_c276Gs_1FIE)) !important;
}
.svg___4KelP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-1Ycj6LtmzBSK);
  margin-bottom: 5px;
  filter: none;
  box-shadow: none;
  flex-shrink: 0;
}
.svgexternalBookDesign___4KelPhqYe {
  color: var(--token-1Ycj6LtmzBSK);
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.span__zMlGi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-JDvyxAtm9ONK);
  font-weight: 500;
  font-size: var(--token-tM2Vh4zTir7U);
}
.span__qbAn4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-tM2Vh4zTir7U);
}
.freeBox__rdT8C {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__rdT8C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__rdT8C > :global(.__wab_flex-container) > *,
.freeBox__rdT8C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rdT8C > :global(.__wab_flex-container) > picture > img,
.freeBox__rdT8C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__uyLb1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  min-width: 18px;
  color: var(--token-LqpCVPPZF4_r);
  flex-shrink: 0;
}
.lineClamp__sDffa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.cardAddressRow {
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 400;
  white-space: pre-wrap;
  width: 100%;
  filter: grayscale(100%);
  color: var(--token-LqpCVPPZF4_r);
  min-width: 0;
}
.freeBox__ddsL {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ddsL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__ddsL > :global(.__wab_flex-container) > *,
.freeBox__ddsL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ddsL > :global(.__wab_flex-container) > picture > img,
.freeBox__ddsL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__oF6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.cardPrice {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 400;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
}
.freeBox__sd0 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__sd0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
  margin-top: calc(0px - var(--token-fhaz6q6bl-fW));
  height: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__sd0 > :global(.__wab_flex-container) > *,
.freeBox__sd0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sd0 > :global(.__wab_flex-container) > picture > img,
.freeBox__sd0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
  margin-top: var(--token-fhaz6q6bl-fW);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sd0 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-content: flex-start;
  }
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 1;
}
.badgesChip:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  width: auto;
  transform: translateX(0px) translateY(0px) translateZ(0px);
}
.svg__fj8S {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-sMH6_tUwTYlv);
  min-width: 20px;
}
.svg__vdNz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: #1d4ed8;
  min-width: 20px;
}
.svg___2BpJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-sMH6_tUwTYlv);
  min-width: 20px;
}
.svg___4AT6K {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: var(--token-zGjeYJZOhQzx);
  min-width: 18px;
  display: none;
}
.text__qVzhr {
  font-size: var(--token-VrIY9r5RDQZ_);
}
.text__aNeb4 {
  max-width: 100%;
  font-size: var(--token-tM2Vh4zTir7U);
  font-weight: 500;
  flex-shrink: 1;
  flex-grow: 0;
}
.cardActionSduiV2UiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___9H2S0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__s4JDx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__ybVvU {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ybVvU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__ybVvU > :global(.__wab_flex-container) > *,
.freeBox__ybVvU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ybVvU > :global(.__wab_flex-container) > picture > img,
.freeBox__ybVvU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox__mf4Qz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mf4Qz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__mf4Qz > :global(.__wab_flex-container) > *,
.freeBox__mf4Qz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mf4Qz > :global(.__wab_flex-container) > picture > img,
.freeBox__mf4Qz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.span___0BetQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.button__j7YzP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__fAvHp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ptUpu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.oldActionButtonsHorizontalStack {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.oldActionButtonsHorizontalStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.oldActionButtonsHorizontalStack > :global(.__wab_flex-container) > *,
.oldActionButtonsHorizontalStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.oldActionButtonsHorizontalStack
  > :global(.__wab_flex-container)
  > picture
  > img,
.oldActionButtonsHorizontalStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox__xozVc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 7px;
  border: 0px solid var(--token-JDvyxAtm9ONK);
}
.freeBox__xozVc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__xozVc > :global(.__wab_flex-container) > *,
.freeBox__xozVc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xozVc > :global(.__wab_flex-container) > picture > img,
.freeBox__xozVc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.span__mY5Gg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 95%;
  font-size: var(--token-VrIY9r5RDQZ_);
  flex-shrink: 1;
  margin-bottom: -6px;
  min-width: 0;
}
.freeBox__xzb64 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.getProviderFromSlugApiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__c1SLh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__lq4Dj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.availabilityStatus:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__emhrt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__utvuQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.span__dqNWz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VrIY9r5RDQZ_);
  min-width: 0;
}
.button__kYXz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__dDPe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__b1Zmp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__pV4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___7UCt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__bz8I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.text__yzXdY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.freeBox__u1Q0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___7Gyd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
