.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
}
.serchiaSuggestion:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-Fv8-L_kN-2Ma);
  padding-bottom: var(--token-Fv8-L_kN-2Ma);
  min-width: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-BCWljTOyDNmw);
  flex-shrink: 0;
  height: 1em;
}
.searchContentSuggestion:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 0px;
  height: auto;
}
.sendSplunkEvent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
