.root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootisFocus {
    align-items: stretch;
  }
}
.freeBox__rWaf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 15;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rWaf {
    z-index: 99;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxisFocus__rWafMexBq {
    background: var(--token-BU1JCAY6hntB);
    left: 0;
    top: 0;
    position: fixed;
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
  }
}
.freeBox__qeT0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qeT0 {
    background: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxisFocus__qeT0MexBq {
    background: #ffffff;
    padding: var(--token-_c276Gs_1FIE);
  }
}
.searchInput__cXqko:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__vKSpO {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  left: 0px;
  top: 65px;
  overflow: hidden;
  height: auto;
  border-bottom-right-radius: var(--token-vMUQwr5Jto1d);
  border-bottom-left-radius: var(--token-vMUQwr5Jto1d);
  background: #ffffff;
  min-width: 0;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vKSpO {
    top: auto;
    overflow: auto;
    height: 100%;
    position: relative;
    left: auto;
    right: auto;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxisFocus__vKSpOmexBq {
    left: auto;
    top: auto;
    right: auto;
  }
}
.suggestionApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__lD73P {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-UIMkdd_bvvx_);
}
.svg__ukSyf {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.searchContent___9SIt:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .searchContent___9SIt:global(.__wab_instance) {
    height: 100%;
    min-height: 0;
  }
}
.overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  right: 0;
  bottom: 0;
  background: none;
}
.overlayhasOverlay {
  background: #0f172a99;
}
.selectCityDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  z-index: 9999;
}
@media (min-width: 0px) and (max-width: 768px) {
  .selectCityDialog:global(.__wab_instance):global(.__wab_instance) {
    position: relative;
  }
}
.text___71LBn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg___6ZmBk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___7Tn0S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___8CERd {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 400px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 0;
  padding: var(--token-Fv8-L_kN-2Ma) 0px 0px;
  border-top: 1px solid var(--token-Y3HOiwZmAcAF);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8CERd {
    height: 400px;
    overflow-y: auto;
  }
}
.getLocationList:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__iKi06 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-W6cMLA0AZVBO);
}
.svg__g3HAz {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.locationView:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__qUu1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxisFocus__qUu1MexBq {
    display: none;
  }
}
.searchInput__lnXWz:global(.__wab_instance) {
  max-width: 100%;
}
.fragmentPortal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fragmentPortal:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__vDoMn {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  z-index: 15;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxisFocus__vDoMnMexBq {
    display: flex;
  }
}
.freeBox__njZqc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__njZqc {
    background: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxisFocus__njZqcmexBq {
    background: #ffffff;
    padding: var(--token-_c276Gs_1FIE);
    margin: 0px;
  }
}
.searchInput___9QpFr:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .searchInput___9QpFr:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .searchInputisFocus___9QpFrmexBq:global(.__wab_instance) {
    display: flex;
    margin: var(--token-_c276Gs_1FIE);
  }
}
.freeBox__pmx5R {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  left: 0px;
  top: 65px;
  overflow: hidden;
  height: auto;
  border-bottom-right-radius: var(--token-vMUQwr5Jto1d);
  border-bottom-left-radius: var(--token-vMUQwr5Jto1d);
  background: #ffffff;
  min-width: 0;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmx5R {
    top: auto;
    overflow: auto;
    height: 100%;
    position: relative;
    left: auto;
    right: auto;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxisFocus__pmx5RMexBq {
    left: auto;
    top: auto;
    right: auto;
  }
}
.suggestionApi2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__k0GLd {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-UIMkdd_bvvx_);
}
.svg__bpU30 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.searchContent__kekcs:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .searchContent__kekcs:global(.__wab_instance) {
    height: 100%;
    min-height: 0;
  }
}
