.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  overflow: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.filterRowItem__y0CiX:global(.__wab_instance) {
  max-width: 100%;
  min-width: auto;
  width: auto;
  margin-bottom: var(--token-_c276Gs_1FIE);
  margin-top: var(--token-_c276Gs_1FIE);
}
.filterRowItem__q1JtC:global(.__wab_instance) {
  max-width: 100%;
  min-width: auto;
  width: auto;
  margin-bottom: var(--token-_c276Gs_1FIE);
  margin-top: var(--token-_c276Gs_1FIE);
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__pmcFt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__gGpMv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ggOsF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___9Z8Y0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  max-height: 29rem;
  min-width: 0;
}
.freeBox___0AFrI {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  transition-property: background;
  transition-duration: 1s;
  min-width: 0;
  -webkit-transition-property: background;
  -webkit-transition-duration: 1s;
  border-radius: 8px;
  padding: 10px;
}
.filterItemToggle:global(.__wab_instance) {
  max-width: 100%;
}
.filterItemSingleSelect:global(.__wab_instance) {
  max-width: 100%;
}
