.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-cG0xlY_dm1ko);
  position: relative;
  overflow: auto;
  box-shadow:
    0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token-dxs2gGegj6PX);
  border-radius: var(--token-JTP_I64kPmN_);
  padding: var(--token-e9vbXyHeme5W);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  height: auto;
  max-height: 240px;
  min-width: 0;
}
.menuSection__xvw8Y:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
