.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
}
.freeBox__xnRm8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xnRm8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__xnRm8 > :global(.__wab_flex-container) > *,
.freeBox__xnRm8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xnRm8 > :global(.__wab_flex-container) > picture > img,
.freeBox__xnRm8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.freeBox__bLpwi {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 12px;
  height: 12px;
  background: var(--token-VeLONbiJQakl);
  flex-shrink: 0;
  border-radius: 0.125rem;
}
.text__l9Onv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  min-width: 0;
}
.freeBox__lvcKr {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: var(--token-vMUQwr5Jto1d);
  margin-top: var(--token-_c276Gs_1FIE);
  min-width: 0;
  border-right: 1px solid var(--token-VeLONbiJQakl);
}
.freeBox__puw5N {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: var(--token-Fv8-L_kN-2Ma);
  min-width: 0;
}
.text__ncMdh {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
  color: var(--token-sMH6_tUwTYlv);
  background: var(--token-BU1JCAY6hntB);
  white-space: pre-wrap;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-fhaz6q6bl-fW) var(--token-_c276Gs_1FIE);
}
.freeBox__qg5E {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: var(--token-Fv8-L_kN-2Ma);
  transform: translateX(0px) translateY(14px) translateZ(0px);
  min-width: 0;
}
.freeBox__i8FmB {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
}
.freeBox__i8FmB > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__i8FmB > :global(.__wab_flex-container) > *,
.freeBox__i8FmB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i8FmB > :global(.__wab_flex-container) > picture > img,
.freeBox__i8FmB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.freeBox__qn0Zo {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 12px;
  height: 1px;
  background: var(--token-VeLONbiJQakl);
  flex-shrink: 0;
  border-radius: 0.125rem;
}
.text__lubU0 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
  font-style: normal;
  color: var(--token-sMH6_tUwTYlv);
  cursor: pointer;
}
