.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
}
