.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: 30px;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  background: #ffffff;
  min-width: 5rem;
  cursor: pointer;
  column-gap: var(--token-_c276Gs_1FIE);
  border-radius: 7px;
  padding: 0px 10px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.rootactive {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  column-gap: 3px;
  row-gap: 0px;
  border: 1px solid var(--token-JDvyxAtm9ONK);
}
.svg__z1Wpp {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  min-width: 16px;
  flex-shrink: 0;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 500;
  white-space: pre;
}
.textactive {
  color: var(--token-JDvyxAtm9ONK);
}
.freeBox {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 24px;
  height: 100%;
  max-width: 100%;
  padding-left: 10px;
  min-width: 24px;
  padding-right: 5px;
  flex-shrink: 0;
  min-height: 0;
  display: none;
}
.freeBoxactive {
  align-items: center;
  justify-content: center;
  width: 28px;
  min-width: 15px;
  padding-right: 2px;
  flex-shrink: 0;
  display: flex;
}
.svg__iqJxy {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-JDvyxAtm9ONK);
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  flex-shrink: 0;
  display: none;
}
.svgactive__iqJxy7W96W {
  display: block;
}
