.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.seoBoxBreadcrumbs:global(.__wab_instance) {
  max-width: 100%;
  margin-top: var(--token-W6cMLA0AZVBO);
  margin-bottom: var(--token-W6cMLA0AZVBO);
}
.seoBoxInfo:global(.__wab_instance) {
  max-width: 100%;
  margin-top: var(--token-W6cMLA0AZVBO);
}
