.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.rootselected {
  background: var(--token-BU1JCAY6hntB);
}
.svg {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
