.root:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.searchRequest:global(.__wab_instance) {
  max-width: 100%;
}
.link__jm7Vv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
  padding: var(--token-Fv8-L_kN-2Ma);
}
.svg__jiTxY {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-tM2Vh4zTir7U);
  font-weight: 500;
  min-width: 0;
}
.link__sNaaj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  column-gap: var(--token-_c276Gs_1FIE);
  padding: var(--token-fhaz6q6bl-fW);
}
.svg__wxoOf {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
