.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  justify-self: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: auto;
    justify-self: flex-start;
    display: inline-flex;
  }
}
.freeBox__xFe0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  min-width: 0;
}
.freeBox__dbjg {
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
  padding: var(--token-Fv8-L_kN-2Ma);
  border-top: 1px solid var(--token-Y3HOiwZmAcAF);
  border-bottom: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__dbjg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__dbjg > :global(.__wab_flex-container) > *,
.freeBox__dbjg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dbjg > :global(.__wab_flex-container) > picture > img,
.freeBox__dbjg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dbjg {
    overflow-x: auto;
    overflow-y: hidden;
  }
}
.filterRowSingle:global(.__wab_instance) {
  max-width: 100%;
}
.sortDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.filterListItem__qVlOy:global(.__wab_instance) {
  max-width: 100%;
}
.filterListDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__psYtf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: var(--token-QcxRWQfhgyJI);
  min-width: 0;
}
.freeBox__mZLm {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 5rem;
  min-width: 0;
}
.freeBox__n8D9U {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-_c276Gs_1FIE);
  padding-bottom: var(--token-_c276Gs_1FIE);
  margin-bottom: var(--token-_c276Gs_1FIE);
  cursor: pointer;
  min-width: 0;
  border-bottom: 1px solid var(--token-Y3HOiwZmAcAF);
}
.text__uefUm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-6NbVMeD6zQwn);
}
.lineClamp:global(.__wab_instance) {
  max-width: 100%;
  width: 10rem;
  flex-shrink: 0;
}
.text__wnBxJ {
  position: relative;
  width: 10rem;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-6NbVMeD6zQwn);
}
.filterList:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__hpRvf {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-vMUQwr5Jto1d);
  padding-bottom: var(--token-vMUQwr5Jto1d);
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  margin: 0rem;
  border-top: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__hpRvf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__hpRvf > :global(.__wab_flex-container) > *,
.freeBox__hpRvf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hpRvf > :global(.__wab_flex-container) > picture > img,
.freeBox__hpRvf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hpRvf {
    left: 0;
    top: auto;
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    background: #ffffff;
    padding: var(--token-vMUQwr5Jto1d);
  }
}
.button__k6JMe:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__mQjuz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___1RaMx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__yg7Pb:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__yJhdZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pAdUl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.categoriesDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.filterExpertiseList:global(.__wab_instance) {
  max-width: 100%;
}
.optionsDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.filterListItem___1JNj6:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__nGtd4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 0;
}
.freeBox__nGtd4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__nGtd4 > :global(.__wab_flex-container) > *,
.freeBox__nGtd4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nGtd4 > :global(.__wab_flex-container) > picture > img,
.freeBox__nGtd4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox__aOblI {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}
.chip:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__qZ1Ej {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 13px;
  height: 13px;
  color: var(--token-8itld8j2DCdr);
}
.svg__apGh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: #15803d;
}
