.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
}
.svgisOpen {
  transform: rotate3d(0, 0, 1, 180deg);
}
