.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  background: #ffffff;
  column-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-vMUQwr5Jto1d);
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.rootsuccess {
  background: #f0fdf4;
  border-color: #15803d;
}
.rooterror {
  background: #fef2f2;
  border-color: var(--token-1jTXKEDkeRHC);
}
.svg___3QaI9 {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #15803d;
  flex-shrink: 0;
  display: none;
}
.svgerror___3QaI9Ai3I4 {
  display: none;
}
.svgsuccess_hasIcon___3QaI9HnKiEFFdXi {
  display: block;
}
.svgerror_hasIcon___3QaI9Ai3I4FFdXi {
  display: none;
}
.svg___08Glw {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-1jTXKEDkeRHC);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
.svgerror_hasIcon___08Glwai3I4FFdXi {
  display: block;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.textsuccess {
  color: #15803d;
}
.texterror {
  color: var(--token-1jTXKEDkeRHC);
  background: none;
}
