.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-W6cMLA0AZVBO);
  min-width: 0;
}
.freeBox__l81Mj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__dtT9W {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__hNol6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__f19MM {
  color: var(--token-1jTXKEDkeRHC);
}
.svg__pmuZd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___17Ie4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  column-gap: var(--token-_c276Gs_1FIE);
  row-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.freeBox___7Lfff {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  column-gap: var(--token-fhaz6q6bl-fW);
  border-radius: 1000px;
  padding: var(--token-fhaz6q6bl-fW) var(--token-vMUQwr5Jto1d);
}
.text__fMuel {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-rjAIDXsTjJqJ);
  font-weight: 500;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-rjAIDXsTjJqJ);
  width: 16px;
  cursor: pointer;
  flex-shrink: 0;
  height: 1em;
}
