.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50rem;
  height: auto;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___0ThdV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.freeBox__fOgx {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fOgx {
    grid-row-gap: 20px;
  }
}
.link {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  cursor: pointer;
  min-width: 0;
}
.link > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.freeBox___3MuYb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80px;
  height: 80px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  flex-shrink: 0;
  border-radius: 10px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text__cf4Vq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
