.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  background: #ffffff;
  border-radius: 5px;
  padding: var(--token-_c276Gs_1FIE);
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBoxcolor_green {
  background: #eafaee;
}
.freeBoxcolor_green > :global(.__wab_flex-container) {
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxcolor_green > :global(.__wab_flex-container) > *,
.freeBoxcolor_green > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBoxcolor_green > :global(.__wab_flex-container) > picture > img,
.freeBoxcolor_green
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
  margin-top: 0px;
}
.freeBoxcolor_blue {
  background: #e5f6fd;
}
.freeBoxcolor_gray {
  background: var(--token-BU1JCAY6hntB);
}
.freeBoxsize_small {
  padding: var(--token-fhaz6q6bl-fW) var(--token-vMUQwr5Jto1d);
}
.freeBoxsize_small > :global(.__wab_flex-container) {
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxsize_small > :global(.__wab_flex-container) > *,
.freeBoxsize_small > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBoxsize_small > :global(.__wab_flex-container) > picture > img,
.freeBoxsize_small
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
  margin-top: 0px;
}
.freeBoxrounded {
  border-radius: 100px;
}
.svg__s8UeY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-8itld8j2DCdr);
  flex-shrink: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 500;
  color: var(--token-u3OudfMChOo3);
  min-width: 0;
}
.textcolor_green {
  color: #15803d;
}
.textcolor_blue {
  color: #1d4ed8;
}
.textcolor_gray {
  color: var(--token-sMH6_tUwTYlv);
}
.textsize_small {
  font-size: var(--token-VrIY9r5RDQZ_);
}
.svg__f8Wpi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: #15803d;
  flex-shrink: 0;
}
