.ariaSwitch:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  display: flex;
  box-sizing: border-box;
  color: var(--token-AModGQUCETRq);
  font-family: var(--token-Klq6PHJY37-K);
  font-size: var(--token-rLUlPanKtReH);
  line-height: var(--token-jwJrvwtvI65X);
  width: 100%;
  flex-direction: column;
  row-gap: var(--token-AKdG-nuLDo0x);
  min-width: 0;
}
.ariaSwitch[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.ariaSwitch[data-readonly]:global(.__wab_instance) {
  pointer-events: none;
  cursor: default;
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--token-tVqBleQwGi5r);
}
.switchIndicator {
  height: auto;
  width: var(--token-rBs5GFgoFZOK);
  display: flex;
  background: var(--token-pLnerIiPdQ24);
  cursor: pointer;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 99px;
  padding: var(--token-K7G83kLdSDUe);
}
.ariaSwitch[data-selected] .switchIndicator {
  background: var(--token-xsO_xBTj_yy4);
}
.ariaSwitch[data-focus-visible] .switchIndicator {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-xsO_xBTj_yy4);
  outline-offset: 1px;
}
.ariaSwitch[data-disabled] .switchIndicator {
  cursor: not-allowed;
}
.thumb {
  display: flex;
  position: relative;
  width: var(--token-koViH_LxZXeU);
  background: var(--token-tjCXFYmrYg7Q);
  height: var(--token-koViH_LxZXeU);
  flex-direction: row;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transform: skew(0deg, 0deg);
  box-shadow: 0px 0px 3px 0px #00000040;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.1s;
  border-radius: 99px;
}
.ariaSwitch[data-selected] .thumb {
  transform: translate3d(12px, 0px, 0px);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
