.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__pmfY1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__fTTq {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__fTTq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-RPGjJxLh3tUl));
  height: calc(100% + var(--token-RPGjJxLh3tUl));
}
.freeBox__fTTq > :global(.__wab_flex-container) > *,
.freeBox__fTTq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fTTq > :global(.__wab_flex-container) > picture > img,
.freeBox__fTTq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-RPGjJxLh3tUl);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fTTq {
    padding: var(--token-KVcr9NiMwFLr);
  }
}
.text__ha5P0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
}
.freeBox__giY {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__giY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-KVcr9NiMwFLr));
  width: calc(100% + var(--token-KVcr9NiMwFLr));
}
.freeBox__giY > :global(.__wab_flex-container) > *,
.freeBox__giY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__giY > :global(.__wab_flex-container) > picture > img,
.freeBox__giY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-KVcr9NiMwFLr);
}
.freeBox__z3P7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.raviRateStar:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.text__gwuGh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  color: var(--token-azHduLBqoiGZ);
}
.freeBox__p5Ee {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-KVcr9NiMwFLr);
}
.freeBox__p5Ee > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-KVcr9NiMwFLr));
  height: calc(100% + var(--token-KVcr9NiMwFLr));
}
.freeBox__p5Ee > :global(.__wab_flex-container) > *,
.freeBox__p5Ee > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p5Ee > :global(.__wab_flex-container) > picture > img,
.freeBox__p5Ee
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-KVcr9NiMwFLr);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p5Ee {
    padding: 0px;
  }
}
.freeBox__cvqo5 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__cvqo5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-omrXvBNBcWTN));
  width: calc(100% + var(--token-omrXvBNBcWTN));
}
.freeBox__cvqo5 > :global(.__wab_flex-container) > *,
.freeBox__cvqo5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cvqo5 > :global(.__wab_flex-container) > picture > img,
.freeBox__cvqo5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-omrXvBNBcWTN);
}
.paziresh24Button__rtUjF:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__qy0Zr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___85X6D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paziresh24Button__dvDL:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__xH10I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__piyto {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___1Bslz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__rbnhc {
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token-_T1cyz1fvJ5i);
  min-width: 0;
  flex-shrink: 0;
  display: none;
  padding: 0px;
}
.freeBox__h8Ig4 {
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token-lBXxoq0q4VUt);
  min-width: 0;
  flex-shrink: 0;
  display: none;
  padding: 0px;
}
.freeBox__vOlxk {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-3WxvfyIdJppy);
}
.freeBox__vOlxk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-KVcr9NiMwFLr));
  width: calc(100% + var(--token-KVcr9NiMwFLr));
  margin-top: calc(0px - var(--token-KVcr9NiMwFLr));
  height: calc(100% + var(--token-KVcr9NiMwFLr));
}
.freeBox__vOlxk > :global(.__wab_flex-container) > *,
.freeBox__vOlxk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vOlxk > :global(.__wab_flex-container) > picture > img,
.freeBox__vOlxk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-KVcr9NiMwFLr);
  margin-top: var(--token-KVcr9NiMwFLr);
}
.paziresh24Button__bHSuU:global(.__wab_instance) {
  max-width: 100%;
}
.svg__xaFd6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wo6DO {
  font-weight: 400;
}
.svg__pp5XZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__xuCq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xuCq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-KVcr9NiMwFLr));
  height: calc(100% + var(--token-KVcr9NiMwFLr));
}
.freeBox__xuCq > :global(.__wab_flex-container) > *,
.freeBox__xuCq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xuCq > :global(.__wab_flex-container) > picture > img,
.freeBox__xuCq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-KVcr9NiMwFLr);
}
.paziresh24Button__gIf2F:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__wszOu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__qoOy {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qoOy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-omrXvBNBcWTN));
  width: calc(100% + var(--token-omrXvBNBcWTN));
}
.freeBox__qoOy > :global(.__wab_flex-container) > *,
.freeBox__qoOy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qoOy > :global(.__wab_flex-container) > picture > img,
.freeBox__qoOy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-omrXvBNBcWTN);
}
.svg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paziresh24Button__q1Rv7:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__iXr27 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__mt1Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.commentDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___4HpLt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___4HpLt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-3WxvfyIdJppy));
  height: calc(100% + var(--token-3WxvfyIdJppy));
}
.freeBox___4HpLt > :global(.__wab_flex-container) > *,
.freeBox___4HpLt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4HpLt > :global(.__wab_flex-container) > picture > img,
.freeBox___4HpLt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-3WxvfyIdJppy);
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.paziresh24Button___56OIw:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__xJozM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__c9Kd6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
