.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
}
.popoverCore:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__jp5SJ {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: none;
  cursor: pointer;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jp5SJ {
    padding: 3px;
  }
}
.svg___4Ta3X {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox__gYjii {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  border-radius: 8px;
  padding: 0px;
  border: 1px solid #e2e8f0;
}
.freeBox__rnAqM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  column-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  padding: var(--token-3WxvfyIdJppy);
}
.svg__yzaqe {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox__i4Lgq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  column-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  padding: var(--token-3WxvfyIdJppy);
}
.svg__pNEbA {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox__gwNoZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  column-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  padding: var(--token-3WxvfyIdJppy);
}
.svg___28Cxz {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.reportDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__rBBuf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: var(--token-3WxvfyIdJppy);
  min-width: 0;
  padding: 0px;
}
.freeBox__sFqba {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0px;
}
.raviOption:global(.__wab_instance) {
  max-width: 100%;
}
.textarea {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-KUiXUfHPkqkm);
  min-width: 100%;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-KVcr9NiMwFLr);
}
.freeBox__triVb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-KVcr9NiMwFLr);
}
.paziresh24Button___71Rt3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__rq61N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-s_XuzePAGmOh);
}
.text__tqZsV {
  color: var(--token-s_XuzePAGmOh);
  font-size: var(--token-podr231_9RBN);
}
.svg__qLK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-s_XuzePAGmOh);
}
.paziresh24Button__oU0Ku:global(.__wab_instance) {
  max-width: 100%;
}
.svg__gpZg7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___0ARn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.deleteDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__kondS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0px;
}
.paziresh24Button__fbvq8:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__bsVwd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__yOszf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paziresh24Button___0Hy1:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__t1W2Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fBe5Y {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.editDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___0HOhi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0px;
}
.editComment {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-KUiXUfHPkqkm);
  min-width: 100%;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-KVcr9NiMwFLr);
}
.paziresh24Button__i1ZQh:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__kTps5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fShqJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
