.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-KVcr9NiMwFLr);
  padding: 0px;
}
.text__cqlN {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-7E1YyiP6sAP9);
  font-weight: 700;
}
.text__egfJv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 0.65rem;
  color: var(--token--fsPf0hcXOpA);
}
.link {
  text-decoration-line: underline;
  color: var(--token-I_yaFrj8gHQz);
  font-size: var(--token-P2saABvfDCPH);
}
