.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__bvPaw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0px;
}
.freeBox__hbgQp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  padding: 0px;
}
.raviUser:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__fXjRy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35px;
  max-width: 100%;
  background: var(--token-VzWdrvFHnhlm);
  align-self: auto;
  width: 35px;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 5px 5px 0px;
  padding: 1px 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fXjRy {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
}
.text__orIvg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-RjKMA1J_35QG);
  font-size: var(--token-KUiXUfHPkqkm);
  font-weight: 700;
  white-space: pre;
  text-align: center;
  user-select: text;
  padding-bottom: 0px;
  line-height: 1rem;
}
.freeBox__oix5Z {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.text__lTjcn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: var(--token-KUiXUfHPkqkm);
  text-align: justify;
  min-width: 0;
}
.freeBox__b7MAv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__lbidY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.paziresh24Button__e0FnY:global(.__wab_instance) {
  max-width: 100%;
}
.svg__lzAa {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__zMbEi {
  font-weight: 400;
}
.svg__rd9YR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__kv2Iy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-3WxvfyIdJppy);
  padding: 0px;
}
.popoverCore:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___3LcFx {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  align-self: center;
  column-gap: var(--token-KVcr9NiMwFLr);
  padding: 0px;
}
.text__ykqG3 {
  position: relative;
  width: auto;
  max-width: 100%;
  font-size: var(--token-P2saABvfDCPH);
  text-align: center;
  align-self: center;
}
.svg__qxVr8 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__uc4Ku {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-qc3RjKzQDJ33);
  height: 1em;
}
.text__t6Ixd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-KUiXUfHPkqkm);
}
.freeBox__fBedF {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  column-gap: var(--token-omrXvBNBcWTN);
  border-radius: 8px;
  padding: var(--token-KVcr9NiMwFLr);
  border: 1px solid #e2e8f0;
}
.freeBox__vNfI {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.raviRateStar:global(.__wab_instance) {
  max-width: 100%;
}
.paziresh24Button__ae33Y:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ejx0Y {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__rKbaW {
  color: var(--token-aWDgJo5BrkPj);
  font-weight: 400;
}
.svg__aNsM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__oYtt5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: var(--token-KVcr9NiMwFLr);
  margin-bottom: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0px;
}
.multilineTextInput:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__mM6Pz {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 10px;
  left: 9px;
  padding: 0px;
}
.text__zoEu {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-s_XuzePAGmOh);
  cursor: pointer;
}
.svg___0HioH {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__yzxqQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.repliesDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__kDd2H {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  max-height: 500px;
  min-width: 0;
  padding: 0px;
}
.shareDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__ragMz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
