@import url("https://fonts.googleapis.com/css2?family=Vazirmatn%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-RjKMA1J_35QG: #ffffff;
  --plasmic-token-unnamed-style-token: var(--token-RjKMA1J_35QG);
  --token-0nqi15WETvbv: 1px;
  --plasmic-token-unnamed-style-token-2: var(--token-0nqi15WETvbv);
  --token-AModGQUCETRq: #030712;
  --plasmic-token-basic-text-primary: var(--token-AModGQUCETRq);
  --token-Klq6PHJY37-K: Inter;
  --plasmic-token-sans-serif: var(--token-Klq6PHJY37-K);
  --token-rLUlPanKtReH: 1rem;
  --plasmic-token-font-md: var(--token-rLUlPanKtReH);
  --token-jwJrvwtvI65X: 1.25;
  --plasmic-token-line-height-md: var(--token-jwJrvwtvI65X);
  --token-AKdG-nuLDo0x: 0.25rem;
  --plasmic-token-size-4: var(--token-AKdG-nuLDo0x);
  --token-tVqBleQwGi5r: 0.5rem;
  --plasmic-token-size-8: var(--token-tVqBleQwGi5r);
  --token-rBs5GFgoFZOK: 2rem;
  --plasmic-token-size-32: var(--token-rBs5GFgoFZOK);
  --token-pLnerIiPdQ24: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-pLnerIiPdQ24);
  --token-K7G83kLdSDUe: 0.125rem;
  --plasmic-token-size-2: var(--token-K7G83kLdSDUe);
  --token-xsO_xBTj_yy4: #2563eb;
  --plasmic-token-brand-brand: var(--token-xsO_xBTj_yy4);
  --token-koViH_LxZXeU: 1rem;
  --plasmic-token-size-16: var(--token-koViH_LxZXeU);
  --token-tjCXFYmrYg7Q: #ffffff;
  --plasmic-token-basic-container-background: var(--token-tjCXFYmrYg7Q);
  --token-SkavLOK6yfrA: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-SkavLOK6yfrA);
  --token-n_6ucod1rCgS: 1.25rem;
  --plasmic-token-size-20: var(--token-n_6ucod1rCgS);
  --token-_dE6MAhG385f: #9ca3af;
  --plasmic-token-basic-ring: var(--token-_dE6MAhG385f);
  --token-W-gwKNvWvHd-: var(--antd-colorInfoText);
  --plasmic-token-system-info-text: var(--token-W-gwKNvWvHd-);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-cOJO4lYUDsPA_font-family: "Vazirmatn", sans-serif;
  --mixin-cOJO4lYUDsPA_font-size: var(--token-podr231_9RBN);
  --mixin-cOJO4lYUDsPA_font-weight: 400;
  --mixin-cOJO4lYUDsPA_font-style: normal;
  --mixin-cOJO4lYUDsPA_color: var(--token-aWDgJo5BrkPj);
  --mixin-cOJO4lYUDsPA_text-align: right;
  --mixin-cOJO4lYUDsPA_text-transform: none;
  --mixin-cOJO4lYUDsPA_line-height: 1.5;
  --mixin-cOJO4lYUDsPA_letter-spacing: normal;
  --mixin-cOJO4lYUDsPA_white-space: pre-wrap;
  --mixin-cOJO4lYUDsPA_user-select: text;
  --mixin-cOJO4lYUDsPA_text-decoration-line: none;
  --mixin-cOJO4lYUDsPA_text-overflow: clip;
  --mixin-PAZd7EzgU-vj_color: #000000;
  --mixin-PAZd7EzgU-vj_font-weight: 700;
  --mixin-PAZd7EzgU-vj_font-size: 64px;
  --mixin-PAZd7EzgU-vj_line-height: 1;
  --mixin-PAZd7EzgU-vj_letter-spacing: -1px;
  --mixin-PAZd7EzgU-vj_white-space: pre-wrap;
  --mixin-H18pIWehiq-l_color: #000000;
  --mixin-H18pIWehiq-l_font-size: 48px;
  --mixin-H18pIWehiq-l_font-weight: 700;
  --mixin-H18pIWehiq-l_letter-spacing: -0.5px;
  --mixin-H18pIWehiq-l_line-height: 1.1;
  --mixin-H18pIWehiq-l_white-space: pre-wrap;
  --mixin-bszOo8Zxkk3q_color: #0070f3;
  --mixin-bszOo8Zxkk3q_white-space: pre-wrap;
  --mixin--LY5Qws4C6kZ_color: #000000;
  --mixin--LY5Qws4C6kZ_font-size: 32px;
  --mixin--LY5Qws4C6kZ_font-weight: 600;
  --mixin--LY5Qws4C6kZ_line-height: 1.2;
  --mixin--LY5Qws4C6kZ_white-space: pre-wrap;
  --mixin--zxUVaul6DtO_color: #000000;
  --mixin--zxUVaul6DtO_font-size: 24px;
  --mixin--zxUVaul6DtO_font-weight: 600;
  --mixin--zxUVaul6DtO_line-height: 1.3;
  --mixin--zxUVaul6DtO_white-space: pre-wrap;
  --mixin-pGN74he4ytPO_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-pGN74he4ytPO_border-bottom-color: #dddddd;
  --mixin-pGN74he4ytPO_border-bottom-style: solid;
  --mixin-pGN74he4ytPO_border-bottom-width: 1px;
  --mixin-pGN74he4ytPO_border-left-color: #dddddd;
  --mixin-pGN74he4ytPO_border-left-style: solid;
  --mixin-pGN74he4ytPO_border-left-width: 1px;
  --mixin-pGN74he4ytPO_border-right-color: #dddddd;
  --mixin-pGN74he4ytPO_border-right-style: solid;
  --mixin-pGN74he4ytPO_border-right-width: 1px;
  --mixin-pGN74he4ytPO_border-top-color: #dddddd;
  --mixin-pGN74he4ytPO_border-top-style: solid;
  --mixin-pGN74he4ytPO_border-top-width: 1px;
  --mixin-pGN74he4ytPO_border-bottom-left-radius: 3px;
  --mixin-pGN74he4ytPO_border-bottom-right-radius: 3px;
  --mixin-pGN74he4ytPO_border-top-left-radius: 3px;
  --mixin-pGN74he4ytPO_border-top-right-radius: 3px;
  --mixin-pGN74he4ytPO_font-family: "Inconsolata";
  --mixin-pGN74he4ytPO_padding-bottom: 1px;
  --mixin-pGN74he4ytPO_padding-left: 4px;
  --mixin-pGN74he4ytPO_padding-right: 4px;
  --mixin-pGN74he4ytPO_padding-top: 1px;
  --mixin-pGN74he4ytPO_white-space: pre-wrap;
  --mixin-ciAJzhQl3NIA_border-left-color: #dddddd;
  --mixin-ciAJzhQl3NIA_border-left-style: solid;
  --mixin-ciAJzhQl3NIA_border-left-width: 3px;
  --mixin-ciAJzhQl3NIA_color: #888888;
  --mixin-ciAJzhQl3NIA_padding-left: 10px;
  --mixin-ciAJzhQl3NIA_white-space: pre-wrap;
  --mixin-U5O81GUQieG8_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-U5O81GUQieG8_border-bottom-color: #dddddd;
  --mixin-U5O81GUQieG8_border-bottom-style: solid;
  --mixin-U5O81GUQieG8_border-bottom-width: 1px;
  --mixin-U5O81GUQieG8_border-left-color: #dddddd;
  --mixin-U5O81GUQieG8_border-left-style: solid;
  --mixin-U5O81GUQieG8_border-left-width: 1px;
  --mixin-U5O81GUQieG8_border-right-color: #dddddd;
  --mixin-U5O81GUQieG8_border-right-style: solid;
  --mixin-U5O81GUQieG8_border-right-width: 1px;
  --mixin-U5O81GUQieG8_border-top-color: #dddddd;
  --mixin-U5O81GUQieG8_border-top-style: solid;
  --mixin-U5O81GUQieG8_border-top-width: 1px;
  --mixin-U5O81GUQieG8_border-bottom-left-radius: 3px;
  --mixin-U5O81GUQieG8_border-bottom-right-radius: 3px;
  --mixin-U5O81GUQieG8_border-top-left-radius: 3px;
  --mixin-U5O81GUQieG8_border-top-right-radius: 3px;
  --mixin-U5O81GUQieG8_font-family: "Inconsolata";
  --mixin-U5O81GUQieG8_padding-bottom: 3px;
  --mixin-U5O81GUQieG8_padding-left: 6px;
  --mixin-U5O81GUQieG8_padding-right: 6px;
  --mixin-U5O81GUQieG8_padding-top: 3px;
  --mixin-U5O81GUQieG8_white-space: pre-wrap;
  --mixin-nrm6S_yFwEId_display: flex;
  --mixin-nrm6S_yFwEId_flex-direction: column;
  --mixin-nrm6S_yFwEId_align-items: stretch;
  --mixin-nrm6S_yFwEId_justify-content: flex-start;
  --mixin-nrm6S_yFwEId_list-style-position: outside;
  --mixin-nrm6S_yFwEId_padding-left: 40px;
  --mixin-nrm6S_yFwEId_position: relative;
  --mixin-nrm6S_yFwEId_list-style-type: disc;
  --mixin-nrm6S_yFwEId_white-space: pre-wrap;
  --mixin--vzohWWzjxIp_display: flex;
  --mixin--vzohWWzjxIp_flex-direction: column;
  --mixin--vzohWWzjxIp_align-items: stretch;
  --mixin--vzohWWzjxIp_justify-content: flex-start;
  --mixin--vzohWWzjxIp_list-style-position: outside;
  --mixin--vzohWWzjxIp_padding-left: 40px;
  --mixin--vzohWWzjxIp_position: relative;
  --mixin--vzohWWzjxIp_list-style-type: decimal;
  --mixin--vzohWWzjxIp_white-space: pre-wrap;
  --mixin-IShpp0y_X1nv_color: #000000;
  --mixin-IShpp0y_X1nv_font-size: 20px;
  --mixin-IShpp0y_X1nv_font-weight: 600;
  --mixin-IShpp0y_X1nv_line-height: 1.5;
  --mixin-IShpp0y_X1nv_white-space: pre-wrap;
  --mixin-yYmsdy4VHRYV_color: #000000;
  --mixin-yYmsdy4VHRYV_font-size: 16px;
  --mixin-yYmsdy4VHRYV_font-weight: 600;
  --mixin-yYmsdy4VHRYV_line-height: 1.5;
  --mixin-yYmsdy4VHRYV_white-space: pre-wrap;
  --mixin-IpNQFjF-T5oH_color: #3291ff;
  --mixin-IpNQFjF-T5oH_white-space: pre-wrap;
  --mixin-FG0K2dTEiGfJ_white-space: pre-wrap;
  --mixin-wZryFk43kLTU_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-cOJO4lYUDsPA_font-family);
  font-size: var(--mixin-cOJO4lYUDsPA_font-size);
  font-weight: var(--mixin-cOJO4lYUDsPA_font-weight);
  font-style: var(--mixin-cOJO4lYUDsPA_font-style);
  color: var(--mixin-cOJO4lYUDsPA_color);
  text-align: var(--mixin-cOJO4lYUDsPA_text-align);
  text-transform: var(--mixin-cOJO4lYUDsPA_text-transform);
  line-height: var(--mixin-cOJO4lYUDsPA_line-height);
  letter-spacing: var(--mixin-cOJO4lYUDsPA_letter-spacing);
  white-space: var(--mixin-cOJO4lYUDsPA_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-PAZd7EzgU-vj_color);
  font-weight: var(--mixin-PAZd7EzgU-vj_font-weight);
  font-size: var(--mixin-PAZd7EzgU-vj_font-size);
  line-height: var(--mixin-PAZd7EzgU-vj_line-height);
  letter-spacing: var(--mixin-PAZd7EzgU-vj_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-H18pIWehiq-l_color);
  font-size: var(--mixin-H18pIWehiq-l_font-size);
  font-weight: var(--mixin-H18pIWehiq-l_font-weight);
  letter-spacing: var(--mixin-H18pIWehiq-l_letter-spacing);
  line-height: var(--mixin-H18pIWehiq-l_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-bszOo8Zxkk3q_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin--LY5Qws4C6kZ_color);
  font-size: var(--mixin--LY5Qws4C6kZ_font-size);
  font-weight: var(--mixin--LY5Qws4C6kZ_font-weight);
  line-height: var(--mixin--LY5Qws4C6kZ_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin--zxUVaul6DtO_color);
  font-size: var(--mixin--zxUVaul6DtO_font-size);
  font-weight: var(--mixin--zxUVaul6DtO_font-weight);
  line-height: var(--mixin--zxUVaul6DtO_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-pGN74he4ytPO_font-family);
  border-radius: var(--mixin-pGN74he4ytPO_border-top-left-radius)
    var(--mixin-pGN74he4ytPO_border-top-right-radius)
    var(--mixin-pGN74he4ytPO_border-bottom-right-radius)
    var(--mixin-pGN74he4ytPO_border-bottom-left-radius);
  padding: var(--mixin-pGN74he4ytPO_padding-top)
    var(--mixin-pGN74he4ytPO_padding-right)
    var(--mixin-pGN74he4ytPO_padding-bottom)
    var(--mixin-pGN74he4ytPO_padding-left);
  border-top: var(--mixin-pGN74he4ytPO_border-top-width)
    var(--mixin-pGN74he4ytPO_border-top-style)
    var(--mixin-pGN74he4ytPO_border-top-color);
  border-right: var(--mixin-pGN74he4ytPO_border-right-width)
    var(--mixin-pGN74he4ytPO_border-right-style)
    var(--mixin-pGN74he4ytPO_border-right-color);
  border-bottom: var(--mixin-pGN74he4ytPO_border-bottom-width)
    var(--mixin-pGN74he4ytPO_border-bottom-style)
    var(--mixin-pGN74he4ytPO_border-bottom-color);
  border-left: var(--mixin-pGN74he4ytPO_border-left-width)
    var(--mixin-pGN74he4ytPO_border-left-style)
    var(--mixin-pGN74he4ytPO_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ciAJzhQl3NIA_color);
  padding-left: var(--mixin-ciAJzhQl3NIA_padding-left);
  border-left: var(--mixin-ciAJzhQl3NIA_border-left-width)
    var(--mixin-ciAJzhQl3NIA_border-left-style)
    var(--mixin-ciAJzhQl3NIA_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-U5O81GUQieG8_font-family);
  border-radius: var(--mixin-U5O81GUQieG8_border-top-left-radius)
    var(--mixin-U5O81GUQieG8_border-top-right-radius)
    var(--mixin-U5O81GUQieG8_border-bottom-right-radius)
    var(--mixin-U5O81GUQieG8_border-bottom-left-radius);
  padding: var(--mixin-U5O81GUQieG8_padding-top)
    var(--mixin-U5O81GUQieG8_padding-right)
    var(--mixin-U5O81GUQieG8_padding-bottom)
    var(--mixin-U5O81GUQieG8_padding-left);
  border-top: var(--mixin-U5O81GUQieG8_border-top-width)
    var(--mixin-U5O81GUQieG8_border-top-style)
    var(--mixin-U5O81GUQieG8_border-top-color);
  border-right: var(--mixin-U5O81GUQieG8_border-right-width)
    var(--mixin-U5O81GUQieG8_border-right-style)
    var(--mixin-U5O81GUQieG8_border-right-color);
  border-bottom: var(--mixin-U5O81GUQieG8_border-bottom-width)
    var(--mixin-U5O81GUQieG8_border-bottom-style)
    var(--mixin-U5O81GUQieG8_border-bottom-color);
  border-left: var(--mixin-U5O81GUQieG8_border-left-width)
    var(--mixin-U5O81GUQieG8_border-left-style)
    var(--mixin-U5O81GUQieG8_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-nrm6S_yFwEId_display);
  flex-direction: var(--mixin-nrm6S_yFwEId_flex-direction);
  align-items: var(--mixin-nrm6S_yFwEId_align-items);
  justify-content: var(--mixin-nrm6S_yFwEId_justify-content);
  list-style-position: var(--mixin-nrm6S_yFwEId_list-style-position);
  padding-left: var(--mixin-nrm6S_yFwEId_padding-left);
  position: var(--mixin-nrm6S_yFwEId_position);
  list-style-type: var(--mixin-nrm6S_yFwEId_list-style-type);
  flex-column-gap: var(--mixin-nrm6S_yFwEId_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin--vzohWWzjxIp_display);
  flex-direction: var(--mixin--vzohWWzjxIp_flex-direction);
  align-items: var(--mixin--vzohWWzjxIp_align-items);
  justify-content: var(--mixin--vzohWWzjxIp_justify-content);
  list-style-position: var(--mixin--vzohWWzjxIp_list-style-position);
  padding-left: var(--mixin--vzohWWzjxIp_padding-left);
  position: var(--mixin--vzohWWzjxIp_position);
  list-style-type: var(--mixin--vzohWWzjxIp_list-style-type);
  flex-column-gap: var(--mixin--vzohWWzjxIp_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-IShpp0y_X1nv_color);
  font-size: var(--mixin-IShpp0y_X1nv_font-size);
  font-weight: var(--mixin-IShpp0y_X1nv_font-weight);
  line-height: var(--mixin-IShpp0y_X1nv_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-yYmsdy4VHRYV_color);
  font-size: var(--mixin-yYmsdy4VHRYV_font-size);
  font-weight: var(--mixin-yYmsdy4VHRYV_font-weight);
  line-height: var(--mixin-yYmsdy4VHRYV_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-IpNQFjF-T5oH_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
