.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__pmfY1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: var(--token-6eH8UjLOmr7v);
}
.freeBox__fTTq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-RPGjJxLh3tUl);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fTTq {
    padding: var(--token-KVcr9NiMwFLr);
  }
}
.text__ha5P0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
}
.freeBox__giY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0px;
}
.freeBox__z3P7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.raviRateStar:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.text__gwuGh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  color: var(--token-azHduLBqoiGZ);
}
.freeBox__p5Ee {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p5Ee {
    padding: 0px;
  }
}
.freeBox__cvqo5 {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  display: none;
  padding: 0px;
}
.paziresh24Button__rtUjF:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___5UXur {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___3Y03H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paziresh24Button__dvDL:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__ahzIe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uh4Y6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__zM4De {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.raviTabs:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___1Bslz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__rbnhc {
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token-W-gwKNvWvHd-);
  min-width: 0;
  flex-shrink: 0;
  display: none;
  padding: 0px;
}
.freeBox__h8Ig4 {
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token-lBXxoq0q4VUt);
  min-width: 0;
  flex-shrink: 0;
  display: none;
  padding: 0px;
}
.freeBox__vOlxk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: center;
  column-gap: var(--token-KVcr9NiMwFLr);
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: var(--token-KDnC5QlJdkgq);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vOlxk {
    padding: var(--token-3WxvfyIdJppy);
  }
}
.paziresh24Button__bHSuU:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ekWUr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wo6DO {
  font-weight: 400;
}
.svg__c6Rq5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__aMz0P {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: var(--token-QMEhwYzwsf71);
  min-width: 0;
  padding: 0px;
}
.text__qrSj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  text-align: center;
  font-size: var(--token-Gq2ZclrSKBOi);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qrSj {
    font-size: var(--token-podr231_9RBN);
  }
}
.freeBox___2JhQn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: center;
  column-gap: var(--token-KVcr9NiMwFLr);
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: var(--token-KDnC5QlJdkgq);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2JhQn {
    padding: var(--token-3WxvfyIdJppy);
  }
}
.paziresh24Button__sgucu:global(.__wab_instance) {
  max-width: 100%;
}
.svg__q9WC9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__r0Gau {
  font-weight: 400;
}
.svg__mlp18 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__xuCq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: var(--token-rjo2t_xMK-6Z);
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0px;
}
.paziresh24Button__gIf2F:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__ca7Rq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__qoOy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  padding: 0px;
}
.svg___1W4Rg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__xBXdG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  padding: 0px;
}
.svg__qtxDh {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text__bVjan {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-KUiXUfHPkqkm);
  align-self: auto;
}
.paziresh24Button__q1Rv7:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__uA1Yr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__c5B2Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.commentDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___4HpLt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-3WxvfyIdJppy);
  min-width: 0;
  padding: 0px;
}
.freeBox__fzD7 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: var(--token-KVcr9NiMwFLr);
  margin: 0px;
}
.checkbox:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___9PFwN {
  text-align: center;
}
.multilineTextInput:global(.__wab_instance) {
  max-width: 100%;
}
.paziresh24Button___56OIw:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__z71O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__zX5ZJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
