.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
}
.freeBox__dCt28 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow-x: visible;
  overflow-y: visible;
  column-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  padding: 0px;
}
.filters:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__t7QIi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__a8IAv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vqSxd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
