.root {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    column-gap: var(--token-KVcr9NiMwFLr);
    row-gap: var(--token-KVcr9NiMwFLr);
  }
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  flex-wrap: wrap;
  align-content: center;
  column-gap: var(--token-KVcr9NiMwFLr);
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    width: 100%;
    column-gap: var(--token-KVcr9NiMwFLr);
    row-gap: var(--token-KVcr9NiMwFLr);
    min-width: 0;
  }
}
.paziresh24Button:global(.__wab_instance) {
  max-width: 100%;
}
.svg___0BPmN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__zqA3E {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
