.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fac52226;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  border-radius: var(--token-3WxvfyIdJppy);
  padding: 8px;
  border: 1px solid var(--token-I_yaFrj8gHQz);
}
.freeBoxisSmall {
  background: var(--token-M8SHDPuEHkX2);
  border-radius: var(--token-QMEhwYzwsf71);
  padding: 0px var(--token-3WxvfyIdJppy);
  border-color: var(--token-azHduLBqoiGZ);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-KUiXUfHPkqkm);
  text-align: right;
  font-weight: 500;
  min-width: 0;
}
.textisSmall {
  color: var(--token-azHduLBqoiGZ);
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.svgisSmall {
  color: var(--token-azHduLBqoiGZ);
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
