@import url("https://fonts.googleapis.com/css2?family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-q3NryEb6TjYu_font-family: "IRANSansXV";
  --mixin-q3NryEb6TjYu_font-size: 14px;
  --mixin-q3NryEb6TjYu_font-weight: 400;
  --mixin-q3NryEb6TjYu_font-style: normal;
  --mixin-q3NryEb6TjYu_color: #000000;
  --mixin-q3NryEb6TjYu_text-align: left;
  --mixin-q3NryEb6TjYu_text-transform: none;
  --mixin-q3NryEb6TjYu_line-height: 1.5;
  --mixin-q3NryEb6TjYu_letter-spacing: normal;
  --mixin-q3NryEb6TjYu_white-space: pre-wrap;
  --mixin-q3NryEb6TjYu_user-select: text;
  --mixin-q3NryEb6TjYu_text-decoration-line: none;
  --mixin-q3NryEb6TjYu_text-overflow: clip;
  --mixin-18uGx5DMx6_4_color: #000000;
  --mixin-18uGx5DMx6_4_font-weight: 700;
  --mixin-18uGx5DMx6_4_font-size: 64px;
  --mixin-18uGx5DMx6_4_line-height: 1;
  --mixin-18uGx5DMx6_4_letter-spacing: -1px;
  --mixin-18uGx5DMx6_4_white-space: pre-wrap;
  --mixin-ihgENPHiz60Q_color: #000000;
  --mixin-ihgENPHiz60Q_font-size: 48px;
  --mixin-ihgENPHiz60Q_font-weight: 700;
  --mixin-ihgENPHiz60Q_letter-spacing: -0.5px;
  --mixin-ihgENPHiz60Q_line-height: 1.1;
  --mixin-ihgENPHiz60Q_white-space: pre-wrap;
  --mixin-pRHOwgzGuAc6_color: #0070f3;
  --mixin-pRHOwgzGuAc6_white-space: pre-wrap;
  --mixin-5SUSdx24MG1R_color: #000000;
  --mixin-5SUSdx24MG1R_font-size: 32px;
  --mixin-5SUSdx24MG1R_font-weight: 600;
  --mixin-5SUSdx24MG1R_line-height: 1.2;
  --mixin-5SUSdx24MG1R_white-space: pre-wrap;
  --mixin-DNs00kZw04Ya_color: #000000;
  --mixin-DNs00kZw04Ya_font-size: 24px;
  --mixin-DNs00kZw04Ya_font-weight: 600;
  --mixin-DNs00kZw04Ya_line-height: 1.3;
  --mixin-DNs00kZw04Ya_white-space: pre-wrap;
  --mixin-w8jLkRLgOfOJ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-w8jLkRLgOfOJ_border-bottom-color: #dddddd;
  --mixin-w8jLkRLgOfOJ_border-bottom-style: solid;
  --mixin-w8jLkRLgOfOJ_border-bottom-width: 1px;
  --mixin-w8jLkRLgOfOJ_border-left-color: #dddddd;
  --mixin-w8jLkRLgOfOJ_border-left-style: solid;
  --mixin-w8jLkRLgOfOJ_border-left-width: 1px;
  --mixin-w8jLkRLgOfOJ_border-right-color: #dddddd;
  --mixin-w8jLkRLgOfOJ_border-right-style: solid;
  --mixin-w8jLkRLgOfOJ_border-right-width: 1px;
  --mixin-w8jLkRLgOfOJ_border-top-color: #dddddd;
  --mixin-w8jLkRLgOfOJ_border-top-style: solid;
  --mixin-w8jLkRLgOfOJ_border-top-width: 1px;
  --mixin-w8jLkRLgOfOJ_border-bottom-left-radius: 3px;
  --mixin-w8jLkRLgOfOJ_border-bottom-right-radius: 3px;
  --mixin-w8jLkRLgOfOJ_border-top-left-radius: 3px;
  --mixin-w8jLkRLgOfOJ_border-top-right-radius: 3px;
  --mixin-w8jLkRLgOfOJ_font-family: "Inconsolata";
  --mixin-w8jLkRLgOfOJ_padding-bottom: 1px;
  --mixin-w8jLkRLgOfOJ_padding-left: 4px;
  --mixin-w8jLkRLgOfOJ_padding-right: 4px;
  --mixin-w8jLkRLgOfOJ_padding-top: 1px;
  --mixin-w8jLkRLgOfOJ_white-space: pre-wrap;
  --mixin-J4wx2He9UaDF_border-left-color: #dddddd;
  --mixin-J4wx2He9UaDF_border-left-style: solid;
  --mixin-J4wx2He9UaDF_border-left-width: 3px;
  --mixin-J4wx2He9UaDF_color: #888888;
  --mixin-J4wx2He9UaDF_padding-left: 10px;
  --mixin-J4wx2He9UaDF_white-space: pre-wrap;
  --mixin-6AmnGTSXkmCH_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-6AmnGTSXkmCH_border-bottom-color: #dddddd;
  --mixin-6AmnGTSXkmCH_border-bottom-style: solid;
  --mixin-6AmnGTSXkmCH_border-bottom-width: 1px;
  --mixin-6AmnGTSXkmCH_border-left-color: #dddddd;
  --mixin-6AmnGTSXkmCH_border-left-style: solid;
  --mixin-6AmnGTSXkmCH_border-left-width: 1px;
  --mixin-6AmnGTSXkmCH_border-right-color: #dddddd;
  --mixin-6AmnGTSXkmCH_border-right-style: solid;
  --mixin-6AmnGTSXkmCH_border-right-width: 1px;
  --mixin-6AmnGTSXkmCH_border-top-color: #dddddd;
  --mixin-6AmnGTSXkmCH_border-top-style: solid;
  --mixin-6AmnGTSXkmCH_border-top-width: 1px;
  --mixin-6AmnGTSXkmCH_border-bottom-left-radius: 3px;
  --mixin-6AmnGTSXkmCH_border-bottom-right-radius: 3px;
  --mixin-6AmnGTSXkmCH_border-top-left-radius: 3px;
  --mixin-6AmnGTSXkmCH_border-top-right-radius: 3px;
  --mixin-6AmnGTSXkmCH_font-family: "Inconsolata";
  --mixin-6AmnGTSXkmCH_padding-bottom: 3px;
  --mixin-6AmnGTSXkmCH_padding-left: 6px;
  --mixin-6AmnGTSXkmCH_padding-right: 6px;
  --mixin-6AmnGTSXkmCH_padding-top: 3px;
  --mixin-6AmnGTSXkmCH_white-space: pre-wrap;
  --mixin--2fFMoE3YR2A_display: flex;
  --mixin--2fFMoE3YR2A_flex-direction: column;
  --mixin--2fFMoE3YR2A_align-items: stretch;
  --mixin--2fFMoE3YR2A_justify-content: flex-start;
  --mixin--2fFMoE3YR2A_list-style-position: outside;
  --mixin--2fFMoE3YR2A_padding-left: 40px;
  --mixin--2fFMoE3YR2A_position: relative;
  --mixin--2fFMoE3YR2A_list-style-type: disc;
  --mixin--2fFMoE3YR2A_white-space: pre-wrap;
  --mixin-zQn_P-lKS8qY_display: flex;
  --mixin-zQn_P-lKS8qY_flex-direction: column;
  --mixin-zQn_P-lKS8qY_align-items: stretch;
  --mixin-zQn_P-lKS8qY_justify-content: flex-start;
  --mixin-zQn_P-lKS8qY_list-style-position: outside;
  --mixin-zQn_P-lKS8qY_padding-left: 40px;
  --mixin-zQn_P-lKS8qY_position: relative;
  --mixin-zQn_P-lKS8qY_list-style-type: decimal;
  --mixin-zQn_P-lKS8qY_white-space: pre-wrap;
  --mixin-gkGcVpos_c4Q_color: #000000;
  --mixin-gkGcVpos_c4Q_font-size: 20px;
  --mixin-gkGcVpos_c4Q_font-weight: 600;
  --mixin-gkGcVpos_c4Q_line-height: 1.5;
  --mixin-gkGcVpos_c4Q_white-space: pre-wrap;
  --mixin-npBuhL0KztWn_color: #000000;
  --mixin-npBuhL0KztWn_font-size: 16px;
  --mixin-npBuhL0KztWn_font-weight: 600;
  --mixin-npBuhL0KztWn_line-height: 1.5;
  --mixin-npBuhL0KztWn_white-space: pre-wrap;
  --mixin-EiFVBm0ql2E__color: #3291ff;
  --mixin-EiFVBm0ql2E__white-space: pre-wrap;
  --mixin-m4tOdBJHLvUC_white-space: pre-wrap;
  --mixin-d7s5_khcL-m3_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-AHio1fEILgeF_white-space: pre-wrap;
  --plasmic-mixin-selected-item_white-space: var(
    --mixin-AHio1fEILgeF_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-q3NryEb6TjYu_font-family);
  font-size: var(--mixin-q3NryEb6TjYu_font-size);
  font-weight: var(--mixin-q3NryEb6TjYu_font-weight);
  font-style: var(--mixin-q3NryEb6TjYu_font-style);
  color: var(--mixin-q3NryEb6TjYu_color);
  text-align: var(--mixin-q3NryEb6TjYu_text-align);
  text-transform: var(--mixin-q3NryEb6TjYu_text-transform);
  line-height: var(--mixin-q3NryEb6TjYu_line-height);
  letter-spacing: var(--mixin-q3NryEb6TjYu_letter-spacing);
  white-space: var(--mixin-q3NryEb6TjYu_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-18uGx5DMx6_4_color);
  font-weight: var(--mixin-18uGx5DMx6_4_font-weight);
  font-size: var(--mixin-18uGx5DMx6_4_font-size);
  line-height: var(--mixin-18uGx5DMx6_4_line-height);
  letter-spacing: var(--mixin-18uGx5DMx6_4_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-ihgENPHiz60Q_color);
  font-size: var(--mixin-ihgENPHiz60Q_font-size);
  font-weight: var(--mixin-ihgENPHiz60Q_font-weight);
  letter-spacing: var(--mixin-ihgENPHiz60Q_letter-spacing);
  line-height: var(--mixin-ihgENPHiz60Q_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-pRHOwgzGuAc6_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-5SUSdx24MG1R_color);
  font-size: var(--mixin-5SUSdx24MG1R_font-size);
  font-weight: var(--mixin-5SUSdx24MG1R_font-weight);
  line-height: var(--mixin-5SUSdx24MG1R_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-DNs00kZw04Ya_color);
  font-size: var(--mixin-DNs00kZw04Ya_font-size);
  font-weight: var(--mixin-DNs00kZw04Ya_font-weight);
  line-height: var(--mixin-DNs00kZw04Ya_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-w8jLkRLgOfOJ_font-family);
  border-radius: var(--mixin-w8jLkRLgOfOJ_border-top-left-radius)
    var(--mixin-w8jLkRLgOfOJ_border-top-right-radius)
    var(--mixin-w8jLkRLgOfOJ_border-bottom-right-radius)
    var(--mixin-w8jLkRLgOfOJ_border-bottom-left-radius);
  padding: var(--mixin-w8jLkRLgOfOJ_padding-top)
    var(--mixin-w8jLkRLgOfOJ_padding-right)
    var(--mixin-w8jLkRLgOfOJ_padding-bottom)
    var(--mixin-w8jLkRLgOfOJ_padding-left);
  border-top: var(--mixin-w8jLkRLgOfOJ_border-top-width)
    var(--mixin-w8jLkRLgOfOJ_border-top-style)
    var(--mixin-w8jLkRLgOfOJ_border-top-color);
  border-right: var(--mixin-w8jLkRLgOfOJ_border-right-width)
    var(--mixin-w8jLkRLgOfOJ_border-right-style)
    var(--mixin-w8jLkRLgOfOJ_border-right-color);
  border-bottom: var(--mixin-w8jLkRLgOfOJ_border-bottom-width)
    var(--mixin-w8jLkRLgOfOJ_border-bottom-style)
    var(--mixin-w8jLkRLgOfOJ_border-bottom-color);
  border-left: var(--mixin-w8jLkRLgOfOJ_border-left-width)
    var(--mixin-w8jLkRLgOfOJ_border-left-style)
    var(--mixin-w8jLkRLgOfOJ_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-J4wx2He9UaDF_color);
  padding-left: var(--mixin-J4wx2He9UaDF_padding-left);
  border-left: var(--mixin-J4wx2He9UaDF_border-left-width)
    var(--mixin-J4wx2He9UaDF_border-left-style)
    var(--mixin-J4wx2He9UaDF_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-6AmnGTSXkmCH_font-family);
  border-radius: var(--mixin-6AmnGTSXkmCH_border-top-left-radius)
    var(--mixin-6AmnGTSXkmCH_border-top-right-radius)
    var(--mixin-6AmnGTSXkmCH_border-bottom-right-radius)
    var(--mixin-6AmnGTSXkmCH_border-bottom-left-radius);
  padding: var(--mixin-6AmnGTSXkmCH_padding-top)
    var(--mixin-6AmnGTSXkmCH_padding-right)
    var(--mixin-6AmnGTSXkmCH_padding-bottom)
    var(--mixin-6AmnGTSXkmCH_padding-left);
  border-top: var(--mixin-6AmnGTSXkmCH_border-top-width)
    var(--mixin-6AmnGTSXkmCH_border-top-style)
    var(--mixin-6AmnGTSXkmCH_border-top-color);
  border-right: var(--mixin-6AmnGTSXkmCH_border-right-width)
    var(--mixin-6AmnGTSXkmCH_border-right-style)
    var(--mixin-6AmnGTSXkmCH_border-right-color);
  border-bottom: var(--mixin-6AmnGTSXkmCH_border-bottom-width)
    var(--mixin-6AmnGTSXkmCH_border-bottom-style)
    var(--mixin-6AmnGTSXkmCH_border-bottom-color);
  border-left: var(--mixin-6AmnGTSXkmCH_border-left-width)
    var(--mixin-6AmnGTSXkmCH_border-left-style)
    var(--mixin-6AmnGTSXkmCH_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin--2fFMoE3YR2A_display);
  flex-direction: var(--mixin--2fFMoE3YR2A_flex-direction);
  align-items: var(--mixin--2fFMoE3YR2A_align-items);
  justify-content: var(--mixin--2fFMoE3YR2A_justify-content);
  list-style-position: var(--mixin--2fFMoE3YR2A_list-style-position);
  padding-left: var(--mixin--2fFMoE3YR2A_padding-left);
  position: var(--mixin--2fFMoE3YR2A_position);
  list-style-type: var(--mixin--2fFMoE3YR2A_list-style-type);
  flex-column-gap: var(--mixin--2fFMoE3YR2A_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-zQn_P-lKS8qY_display);
  flex-direction: var(--mixin-zQn_P-lKS8qY_flex-direction);
  align-items: var(--mixin-zQn_P-lKS8qY_align-items);
  justify-content: var(--mixin-zQn_P-lKS8qY_justify-content);
  list-style-position: var(--mixin-zQn_P-lKS8qY_list-style-position);
  padding-left: var(--mixin-zQn_P-lKS8qY_padding-left);
  position: var(--mixin-zQn_P-lKS8qY_position);
  list-style-type: var(--mixin-zQn_P-lKS8qY_list-style-type);
  flex-column-gap: var(--mixin-zQn_P-lKS8qY_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-gkGcVpos_c4Q_color);
  font-size: var(--mixin-gkGcVpos_c4Q_font-size);
  font-weight: var(--mixin-gkGcVpos_c4Q_font-weight);
  line-height: var(--mixin-gkGcVpos_c4Q_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-npBuhL0KztWn_color);
  font-size: var(--mixin-npBuhL0KztWn_font-size);
  font-weight: var(--mixin-npBuhL0KztWn_font-weight);
  line-height: var(--mixin-npBuhL0KztWn_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-EiFVBm0ql2E__color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
