.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-2R0EEM_RdwJL);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-CXo9F1JKCpFC);
  font-family: var(--token-gaTkMw9kkGHE);
  font-size: var(--token-yv-9Egr_XgGB);
  line-height: var(--token-vDNQOIgIlM8l);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-Qvf4rAwVCU_3);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-POZzoASmJaxZ);
  outline-offset: 1px;
  outline-color: var(--token-2R0EEM_RdwJL);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-RHrERINdqQpT);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-WJbOnwW4Y1n8);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-e6RJq_9r3FWT);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-p5doOlqhmDwA);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-SnNNUChHUsY7);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-bUhTpGRLNcLr);
  font-size: var(--token-Tg25ZKG8RlCT);
  column-gap: var(--token-POZzoASmJaxZ);
  row-gap: 0px;
  border-radius: var(--token-Ufx-udQH4aIw);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-Tg25ZKG8RlCT);
  line-height: var(--token-bUhTpGRLNcLr);
  column-gap: var(--token-Ufx-udQH4aIw);
  row-gap: 0px;
  border-radius: var(--token-Ufx-udQH4aIw);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-Gwfj04XVwdE_);
  line-height: var(--token-vTQBi2Hs7E8T);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-Gwfj04XVwdE_);
  line-height: var(--token-vTQBi2Hs7E8T);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-wki6ubeJTFOV);
  border-radius: var(--token-Qvf4rAwVCU_3);
}
.softBackgroundcolor_neutral {
  background: var(--token-BFm4FhLcnpCs);
}
.softBackgroundcolor_muted {
  background: var(--token-pJN9Ktae7eKV);
}
.softBackgroundcolor_success {
  background: var(--token-djU411IgET80);
}
.softBackgroundcolor_warning {
  background: var(--token-TGQEp0iL3fjz);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-eNM8d8D_TzEp);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-Qvf4rAwVCU_3);
  border: 0px solid var(--token-94xuDlo8y_V4);
}
.bordercolor_neutral {
  border-color: var(--token-sG-l79cO_LHP);
}
.bordercolor_muted {
  border-color: var(--token-mDxnsfQDGAUi);
}
.bordercolor_success {
  border-color: var(--token-yVbW3RQVhzyp);
}
.bordercolor_warning {
  border-color: var(--token-nFX2dH0UxxdW);
}
.bordercolor_errorDestructive {
  border-color: var(--token-x5OsCGvgO6i5);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-Qvf4rAwVCU_3);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-lYecn2CZk7pL);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-PWSm2mvoGE8i);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-hkLV68OkEKQl);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__k1HFz {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-Qvf4rAwVCU_3) var(--token-TI8tWde8romL);
}
.freeBox__k1HFz > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-Qvf4rAwVCU_3));
  width: calc(100% + var(--token-Qvf4rAwVCU_3));
}
.freeBox__k1HFz > :global(.__wab_flex-container) > *,
.freeBox__k1HFz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k1HFz > :global(.__wab_flex-container) > picture > img,
.freeBox__k1HFz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Qvf4rAwVCU_3);
}
.freeBoxsize_extraSmall__k1HFzmGa4L {
  padding: var(--token-Ufx-udQH4aIw) var(--token-Qvf4rAwVCU_3);
}
.freeBoxsize_small__k1HFzADjvh {
  padding: var(--token-Qvf4rAwVCU_3) var(--token-CXo9F1JKCpFC);
}
.freeBoxsize_large__k1HFzEXvph {
  padding-top: var(--token-Ufx-udQH4aIw);
  padding-bottom: var(--token-Ufx-udQH4aIw);
}
.freeBoxsize_extraLarge__k1HFzssqPm {
  padding-left: var(--token-aZQ2s5eeQ3I1);
  padding-right: var(--token-aZQ2s5eeQ3I1);
}
.freeBoxroundedFull__k1HFzrcah0 {
  padding-right: var(--token-aZQ2s5eeQ3I1);
  padding-left: var(--token-aZQ2s5eeQ3I1);
}
.freeBox__iBrW6 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__iBrW61E3B4 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-npMzlN_1z6bw);
}
.slotTargetStartcolor_neutral {
  color: var(--token-Tj8l-gG8DOrL);
}
.slotTargetStartcolor_muted {
  color: var(--token-sLLv-P9Nxv2l);
}
.slotTargetStartcolor_success {
  color: var(--token-b20BVHMakkRw);
}
.slotTargetStartcolor_warning {
  color: var(--token-IzX1ttEPJIMm);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-QK0d12EQ93JM);
}
.slotTargetStarttype_soft {
  color: var(--token-ZFbpFcxE7IDw);
}
.slotTargetStarttype_bordered {
  color: var(--token-ZFbpFcxE7IDw);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-Tg25ZKG8RlCT);
}
.slotTargetStartsize_small {
  font-size: var(--token-Tg25ZKG8RlCT);
}
.slotTargetStartsize_large {
  font-size: var(--token-Gwfj04XVwdE_);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-Gwfj04XVwdE_);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-PcGO2b1N1TCU);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-PcGO2b1N1TCU);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-cHtibw30Mspk);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-cHtibw30Mspk);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-rMguR-S-OO0n);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-rMguR-S-OO0n);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-qHsfwJTZTmI1);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-qHsfwJTZTmI1);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-lCOEX5rFMd0C);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-lCOEX5rFMd0C);
}
.svg__lcaPz {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-npMzlN_1z6bw);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-Tj8l-gG8DOrL);
}
.slotTargetLabelcolor_muted {
  color: var(--token-sLLv-P9Nxv2l);
}
.slotTargetLabelcolor_success {
  color: var(--token-b20BVHMakkRw);
}
.slotTargetLabelcolor_warning {
  color: var(--token-IzX1ttEPJIMm);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-QK0d12EQ93JM);
}
.slotTargetLabeltype_soft {
  color: var(--token-ZFbpFcxE7IDw);
}
.slotTargetLabeltype_bordered {
  color: var(--token-ZFbpFcxE7IDw);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-PcGO2b1N1TCU);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-cHtibw30Mspk);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-PcGO2b1N1TCU);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-rMguR-S-OO0n);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-cHtibw30Mspk);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-qHsfwJTZTmI1);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-rMguR-S-OO0n);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-lCOEX5rFMd0C);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-qHsfwJTZTmI1);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-lCOEX5rFMd0C);
}
.text__n7JJ {
  white-space: pre;
}
.freeBox__exEBl {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__exEBl46SLm {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-npMzlN_1z6bw);
}
.slotTargetEndcolor_neutral {
  color: var(--token-Tj8l-gG8DOrL);
}
.slotTargetEndcolor_muted {
  color: var(--token-sLLv-P9Nxv2l);
}
.slotTargetEndcolor_success {
  color: var(--token-b20BVHMakkRw);
}
.slotTargetEndcolor_warning {
  color: var(--token-IzX1ttEPJIMm);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-QK0d12EQ93JM);
}
.slotTargetEndtype_soft {
  color: var(--token-ZFbpFcxE7IDw);
}
.slotTargetEndtype_bordered {
  color: var(--token-ZFbpFcxE7IDw);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-Tg25ZKG8RlCT);
}
.slotTargetEndsize_small {
  font-size: var(--token-Tg25ZKG8RlCT);
}
.slotTargetEndsize_large {
  font-size: var(--token-Gwfj04XVwdE_);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-Gwfj04XVwdE_);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-PcGO2b1N1TCU);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-PcGO2b1N1TCU);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-cHtibw30Mspk);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-cHtibw30Mspk);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-rMguR-S-OO0n);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-rMguR-S-OO0n);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-qHsfwJTZTmI1);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-qHsfwJTZTmI1);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-lCOEX5rFMd0C);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-lCOEX5rFMd0C);
}
.svg__iDttF {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
