.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__zdzqO {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.profileBreadcrumbs:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__ql5Ki {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-Fv8-L_kN-2Ma);
}
.collapsible:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__psc85 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  margin-bottom: var(--token-_c276Gs_1FIE);
  margin-top: var(--token-_c276Gs_1FIE);
  min-width: 0;
  border-radius: 0px;
  padding: 0px;
}
.freeBox__psc85 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__psc85 > :global(.__wab_flex-container) > *,
.freeBox__psc85 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__psc85 > :global(.__wab_flex-container) > picture > img,
.freeBox__psc85
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__psc85 {
    border-radius: 0px;
  }
}
.text__yN06V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  line-height: 1.5rem;
  font-size: var(--token-KeHe2fFUQ6pK);
  text-align: justify;
  min-width: 0;
}
.fragmentAccordion:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__wprRi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
}
.freeBox__wprRi > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__wprRi > :global(.__wab_flex-container) > *,
.freeBox__wprRi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wprRi > :global(.__wab_flex-container) > picture > img,
.freeBox__wprRi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
  margin-top: var(--token-_c276Gs_1FIE);
}
.profileSeoSimilarLinks:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__zoS6D {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 40;
  min-width: 0;
}
.button__miWji:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__yLk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__au9Xq {
  font-weight: 500;
}
.svg__ntbzP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___3Oxqh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__wSPyY:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__slO1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xaxc6 {
  font-weight: 500;
}
.svg__isRsT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
