.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  justify-self: flex-start;
}
.freeBox__jYihM {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__jYihM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__jYihM > :global(.__wab_flex-container) > *,
.freeBox__jYihM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jYihM > :global(.__wab_flex-container) > picture > img,
.freeBox__jYihM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.getIsBookedMark:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__gj1H3:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___9AqJn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___9AqJn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox___9AqJn > :global(.__wab_flex-container) > *,
.freeBox___9AqJn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9AqJn > :global(.__wab_flex-container) > picture > img,
.freeBox___9AqJn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__oOJz {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__xvZLk {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__pNu88 {
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg__zWpFz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___0Gl8R:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___51XSf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___51XSf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox___51XSf > :global(.__wab_flex-container) > *,
.freeBox___51XSf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___51XSf > :global(.__wab_flex-container) > picture > img,
.freeBox___51XSf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg___3MpXu {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__v4B9N {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__lH8UP {
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg__zD5S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__dta93:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__uYlGw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__uYlGw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__uYlGw > :global(.__wab_flex-container) > *,
.freeBox__uYlGw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uYlGw > :global(.__wab_flex-container) > picture > img,
.freeBox__uYlGw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__jnLwj {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__kOpCb {
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg__bx4S0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__rWXt:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__ccKef {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ccKef > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__ccKef > :global(.__wab_flex-container) > *,
.freeBox__ccKef > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ccKef > :global(.__wab_flex-container) > picture > img,
.freeBox__ccKef
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__mdGYz {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__dgMxy {
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg__d85Wn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
