.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  justify-self: flex-start;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  column-gap: var(--token-Fv8-L_kN-2Ma);
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-_c276Gs_1FIE);
}
.root:hover .freeBox {
  background: var(--token-It8BufY6ejOY);
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  font-size: var(--token-KeHe2fFUQ6pK);
}
.svg {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
