.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  flex-shrink: 0;
  column-gap: 0px;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
}
.root:hover .freeBox {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-KeHe2fFUQ6pK);
  color: var(--token-rjAIDXsTjJqJ);
  font-weight: 500;
  white-space: pre;
  min-width: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  color: var(--token-rjAIDXsTjJqJ);
  margin-right: var(--token-_c276Gs_1FIE);
  height: 1em;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
}
.svgisHover {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
}
.svgnoIcon {
  display: none;
}
.root:hover .svg {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
}
