.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-Fv8-L_kN-2Ma);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.freeBox__exjNw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__exjNw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__exjNw > :global(.__wab_flex-container) > *,
.freeBox__exjNw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__exjNw > :global(.__wab_flex-container) > picture > img,
.freeBox__exjNw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.freeBox__tuVqM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.profileActions:global(.__wab_instance) {
  max-width: 100%;
}
.viewCount {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.viewCount > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.viewCount > :global(.__wab_flex-container) > *,
.viewCount > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.viewCount > :global(.__wab_flex-container) > picture > img,
.viewCount
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.text__plQaR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  min-width: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-u3OudfMChOo3);
  flex-shrink: 0;
}
.profileInfo:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__ekp4F {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  padding-right: var(--token-fhaz6q6bl-fW);
  padding-left: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
.freeBox__ekp4F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__ekp4F > :global(.__wab_flex-container) > *,
.freeBox__ekp4F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ekp4F > :global(.__wab_flex-container) > picture > img,
.freeBox__ekp4F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.text__yflB8 {
  position: relative;
  width: auto;
  height: auto;
  background: #f1f5f900;
  color: var(--token-rjAIDXsTjJqJ);
  font-size: var(--token-VrIY9r5RDQZ_);
  font-weight: 600;
  white-space: pre-wrap;
  text-align: center;
  border-radius: 14px;
  padding: var(--token-fhaz6q6bl-fW) var(--token-vMUQwr5Jto1d);
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__k5Fnv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
