.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  justify-self: flex-start;
}
.freeBox__jYihM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-vMUQwr5Jto1d);
}
.getIsBookedMark:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__gj1H3:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___9AqJn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
.svg__oOJz {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__xvZLk {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__pNu88 {
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg__rNBtD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___0Gl8R:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___51XSf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
.svg___3MpXu {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__v4B9N {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__lH8UP {
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg__mujZf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__dta93:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__uYlGw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
.svg__jnLwj {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__kOpCb {
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg__lmbGw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__rWXt:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__ccKef {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
.svg__mdGYz {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__dgMxy {
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg__qXd9P {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
