.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  justify-self: flex-start;
}
.freeBox__ib9Qf {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-vMUQwr5Jto1d);
}
.getIsBookedMark:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.button___2WWol:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__iuUjW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
.svg__atoCv {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__oAFkQ {
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg__xquhK {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__zs4Q5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__cz3Yt:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.freeBox__nBwVl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
.svg___7ChE {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__mKLz {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__z2WGf {
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg__dkzGt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__xjAnJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  display: none;
}
.freeBox__avNNd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
.svg__tk5Y {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__ieTQ {
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg___7LdNj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__wvbjB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__vez0E {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
.svg___9UClU {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__xQqSu {
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg__xYhC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
