.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  justify-self: flex-start;
}
.freeBox__ib9Qf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__ib9Qf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__ib9Qf > :global(.__wab_flex-container) > *,
.freeBox__ib9Qf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ib9Qf > :global(.__wab_flex-container) > picture > img,
.freeBox__ib9Qf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.getIsBookedMark:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button___2WWol:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__iuUjW {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__iuUjW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__iuUjW > :global(.__wab_flex-container) > *,
.freeBox__iuUjW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iuUjW > :global(.__wab_flex-container) > picture > img,
.freeBox__iuUjW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__atoCv {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__xquhK {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__oAFkQ {
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg__zs4Q5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__cz3Yt:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__nBwVl {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nBwVl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__nBwVl > :global(.__wab_flex-container) > *,
.freeBox__nBwVl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nBwVl > :global(.__wab_flex-container) > picture > img,
.freeBox__nBwVl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.text__z2WGf {
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg___7ChE {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__mKLz {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__dkzGt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__xjAnJ:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__avNNd {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__avNNd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__avNNd > :global(.__wab_flex-container) > *,
.freeBox__avNNd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__avNNd > :global(.__wab_flex-container) > picture > img,
.freeBox__avNNd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.text__ieTQ {
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg__tk5Y {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg___7LdNj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__wvbjB:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__vez0E {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vez0E > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__vez0E > :global(.__wab_flex-container) > *,
.freeBox__vez0E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vez0E > :global(.__wab_flex-container) > picture > img,
.freeBox__vez0E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.text__xQqSu {
  color: var(--token-u3OudfMChOo3);
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg___9UClU {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__xYhC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
