.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) - var(--plsmc-viewport-gap));
}

.plasmic_default_styles {
  --mixin-6Vi5UdpaT25A_font-family: 'Inter', sans-serif;
  --mixin-6Vi5UdpaT25A_font-size: 16px;
  --mixin-6Vi5UdpaT25A_font-weight: 400;
  --mixin-6Vi5UdpaT25A_font-style: normal;
  --mixin-6Vi5UdpaT25A_color: #535353;
  --mixin-6Vi5UdpaT25A_text-align: left;
  --mixin-6Vi5UdpaT25A_text-transform: none;
  --mixin-6Vi5UdpaT25A_line-height: 1.5;
  --mixin-6Vi5UdpaT25A_letter-spacing: normal;
  --mixin-6Vi5UdpaT25A_white-space: pre-wrap;
  --mixin-6Vi5UdpaT25A_user-select: text;
  --mixin-6Vi5UdpaT25A_text-decoration-line: none;
  --mixin-6Vi5UdpaT25A_text-overflow: clip;
  --mixin-WJgciOxuKOCh_color: #000000;
  --mixin-WJgciOxuKOCh_font-weight: 700;
  --mixin-WJgciOxuKOCh_font-size: 64px;
  --mixin-WJgciOxuKOCh_line-height: 1;
  --mixin-WJgciOxuKOCh_letter-spacing: -1px;
  --mixin-WJgciOxuKOCh_white-space: pre-wrap;
  --mixin-NJ0TT74Lm8gv_color: #000000;
  --mixin-NJ0TT74Lm8gv_font-size: 48px;
  --mixin-NJ0TT74Lm8gv_font-weight: 700;
  --mixin-NJ0TT74Lm8gv_letter-spacing: -0.5px;
  --mixin-NJ0TT74Lm8gv_line-height: 1.1;
  --mixin-NJ0TT74Lm8gv_white-space: pre-wrap;
  --mixin-BCO5I_hVQQgV_color: #0070f3;
  --mixin-BCO5I_hVQQgV_white-space: pre-wrap;
  --mixin-Fro61cyhtI_U_color: #000000;
  --mixin-Fro61cyhtI_U_font-size: 32px;
  --mixin-Fro61cyhtI_U_font-weight: 600;
  --mixin-Fro61cyhtI_U_line-height: 1.2;
  --mixin-Fro61cyhtI_U_white-space: pre-wrap;
  --mixin-je24pW05wHS3_color: #000000;
  --mixin-je24pW05wHS3_font-size: 24px;
  --mixin-je24pW05wHS3_font-weight: 600;
  --mixin-je24pW05wHS3_line-height: 1.3;
  --mixin-je24pW05wHS3_white-space: pre-wrap;
  --mixin-6v78LIqtISLf_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-6v78LIqtISLf_border-bottom-color: #dddddd;
  --mixin-6v78LIqtISLf_border-bottom-style: solid;
  --mixin-6v78LIqtISLf_border-bottom-width: 1px;
  --mixin-6v78LIqtISLf_border-left-color: #dddddd;
  --mixin-6v78LIqtISLf_border-left-style: solid;
  --mixin-6v78LIqtISLf_border-left-width: 1px;
  --mixin-6v78LIqtISLf_border-right-color: #dddddd;
  --mixin-6v78LIqtISLf_border-right-style: solid;
  --mixin-6v78LIqtISLf_border-right-width: 1px;
  --mixin-6v78LIqtISLf_border-top-color: #dddddd;
  --mixin-6v78LIqtISLf_border-top-style: solid;
  --mixin-6v78LIqtISLf_border-top-width: 1px;
  --mixin-6v78LIqtISLf_border-bottom-left-radius: 3px;
  --mixin-6v78LIqtISLf_border-bottom-right-radius: 3px;
  --mixin-6v78LIqtISLf_border-top-left-radius: 3px;
  --mixin-6v78LIqtISLf_border-top-right-radius: 3px;
  --mixin-6v78LIqtISLf_font-family: 'Inconsolata';
  --mixin-6v78LIqtISLf_padding-bottom: 1px;
  --mixin-6v78LIqtISLf_padding-left: 4px;
  --mixin-6v78LIqtISLf_padding-right: 4px;
  --mixin-6v78LIqtISLf_padding-top: 1px;
  --mixin-6v78LIqtISLf_white-space: pre-wrap;
  --mixin-MPWVM_J5ZwdN_border-left-color: #dddddd;
  --mixin-MPWVM_J5ZwdN_border-left-style: solid;
  --mixin-MPWVM_J5ZwdN_border-left-width: 3px;
  --mixin-MPWVM_J5ZwdN_color: #888888;
  --mixin-MPWVM_J5ZwdN_padding-left: 10px;
  --mixin-MPWVM_J5ZwdN_white-space: pre-wrap;
  --mixin-MKZQAnANDQbt_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-MKZQAnANDQbt_border-bottom-color: #dddddd;
  --mixin-MKZQAnANDQbt_border-bottom-style: solid;
  --mixin-MKZQAnANDQbt_border-bottom-width: 1px;
  --mixin-MKZQAnANDQbt_border-left-color: #dddddd;
  --mixin-MKZQAnANDQbt_border-left-style: solid;
  --mixin-MKZQAnANDQbt_border-left-width: 1px;
  --mixin-MKZQAnANDQbt_border-right-color: #dddddd;
  --mixin-MKZQAnANDQbt_border-right-style: solid;
  --mixin-MKZQAnANDQbt_border-right-width: 1px;
  --mixin-MKZQAnANDQbt_border-top-color: #dddddd;
  --mixin-MKZQAnANDQbt_border-top-style: solid;
  --mixin-MKZQAnANDQbt_border-top-width: 1px;
  --mixin-MKZQAnANDQbt_border-bottom-left-radius: 3px;
  --mixin-MKZQAnANDQbt_border-bottom-right-radius: 3px;
  --mixin-MKZQAnANDQbt_border-top-left-radius: 3px;
  --mixin-MKZQAnANDQbt_border-top-right-radius: 3px;
  --mixin-MKZQAnANDQbt_font-family: 'Inconsolata';
  --mixin-MKZQAnANDQbt_padding-bottom: 3px;
  --mixin-MKZQAnANDQbt_padding-left: 6px;
  --mixin-MKZQAnANDQbt_padding-right: 6px;
  --mixin-MKZQAnANDQbt_padding-top: 3px;
  --mixin-MKZQAnANDQbt_white-space: pre-wrap;
  --mixin-e8bC5237D06H_display: flex;
  --mixin-e8bC5237D06H_flex-direction: column;
  --mixin-e8bC5237D06H_align-items: stretch;
  --mixin-e8bC5237D06H_justify-content: flex-start;
  --mixin-e8bC5237D06H_list-style-position: outside;
  --mixin-e8bC5237D06H_padding-left: 40px;
  --mixin-e8bC5237D06H_position: relative;
  --mixin-e8bC5237D06H_list-style-type: disc;
  --mixin-e8bC5237D06H_white-space: pre-wrap;
  --mixin-bwIibokOlvfx_display: flex;
  --mixin-bwIibokOlvfx_flex-direction: column;
  --mixin-bwIibokOlvfx_align-items: stretch;
  --mixin-bwIibokOlvfx_justify-content: flex-start;
  --mixin-bwIibokOlvfx_list-style-position: outside;
  --mixin-bwIibokOlvfx_padding-left: 40px;
  --mixin-bwIibokOlvfx_position: relative;
  --mixin-bwIibokOlvfx_list-style-type: decimal;
  --mixin-bwIibokOlvfx_white-space: pre-wrap;
  --mixin-igTm_CGNqfHR_color: #000000;
  --mixin-igTm_CGNqfHR_font-size: 20px;
  --mixin-igTm_CGNqfHR_font-weight: 600;
  --mixin-igTm_CGNqfHR_line-height: 1.5;
  --mixin-igTm_CGNqfHR_white-space: pre-wrap;
  --mixin-NAwA_6llIlW8_color: #000000;
  --mixin-NAwA_6llIlW8_font-size: 16px;
  --mixin-NAwA_6llIlW8_font-weight: 600;
  --mixin-NAwA_6llIlW8_line-height: 1.5;
  --mixin-NAwA_6llIlW8_white-space: pre-wrap;
  --mixin-6mLiG8KdhCjf_color: #3291ff;
  --mixin-6mLiG8KdhCjf_white-space: pre-wrap;
  --mixin-6ZeTi_-QebdX_white-space: pre-wrap;
  --mixin-sKwMYTA3LKBP_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-6Vi5UdpaT25A_font-family);
  font-size: var(--mixin-6Vi5UdpaT25A_font-size);
  font-weight: var(--mixin-6Vi5UdpaT25A_font-weight);
  font-style: var(--mixin-6Vi5UdpaT25A_font-style);
  color: var(--mixin-6Vi5UdpaT25A_color);
  text-align: var(--mixin-6Vi5UdpaT25A_text-align);
  text-transform: var(--mixin-6Vi5UdpaT25A_text-transform);
  line-height: var(--mixin-6Vi5UdpaT25A_line-height);
  letter-spacing: var(--mixin-6Vi5UdpaT25A_letter-spacing);
  white-space: var(--mixin-6Vi5UdpaT25A_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-WJgciOxuKOCh_color);
  font-weight: var(--mixin-WJgciOxuKOCh_font-weight);
  font-size: var(--mixin-WJgciOxuKOCh_font-size);
  line-height: var(--mixin-WJgciOxuKOCh_line-height);
  letter-spacing: var(--mixin-WJgciOxuKOCh_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-NJ0TT74Lm8gv_color);
  font-size: var(--mixin-NJ0TT74Lm8gv_font-size);
  font-weight: var(--mixin-NJ0TT74Lm8gv_font-weight);
  letter-spacing: var(--mixin-NJ0TT74Lm8gv_letter-spacing);
  line-height: var(--mixin-NJ0TT74Lm8gv_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-BCO5I_hVQQgV_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Fro61cyhtI_U_color);
  font-size: var(--mixin-Fro61cyhtI_U_font-size);
  font-weight: var(--mixin-Fro61cyhtI_U_font-weight);
  line-height: var(--mixin-Fro61cyhtI_U_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-je24pW05wHS3_color);
  font-size: var(--mixin-je24pW05wHS3_font-size);
  font-weight: var(--mixin-je24pW05wHS3_font-weight);
  line-height: var(--mixin-je24pW05wHS3_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-6v78LIqtISLf_font-family);
  border-radius: var(--mixin-6v78LIqtISLf_border-top-left-radius) var(--mixin-6v78LIqtISLf_border-top-right-radius)
    var(--mixin-6v78LIqtISLf_border-bottom-right-radius) var(--mixin-6v78LIqtISLf_border-bottom-left-radius);
  padding: var(--mixin-6v78LIqtISLf_padding-top) var(--mixin-6v78LIqtISLf_padding-right) var(--mixin-6v78LIqtISLf_padding-bottom)
    var(--mixin-6v78LIqtISLf_padding-left);
  border-top: var(--mixin-6v78LIqtISLf_border-top-width) var(--mixin-6v78LIqtISLf_border-top-style)
    var(--mixin-6v78LIqtISLf_border-top-color);
  border-right: var(--mixin-6v78LIqtISLf_border-right-width) var(--mixin-6v78LIqtISLf_border-right-style)
    var(--mixin-6v78LIqtISLf_border-right-color);
  border-bottom: var(--mixin-6v78LIqtISLf_border-bottom-width) var(--mixin-6v78LIqtISLf_border-bottom-style)
    var(--mixin-6v78LIqtISLf_border-bottom-color);
  border-left: var(--mixin-6v78LIqtISLf_border-left-width) var(--mixin-6v78LIqtISLf_border-left-style)
    var(--mixin-6v78LIqtISLf_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-MPWVM_J5ZwdN_color);
  padding-left: var(--mixin-MPWVM_J5ZwdN_padding-left);
  border-left: var(--mixin-MPWVM_J5ZwdN_border-left-width) var(--mixin-MPWVM_J5ZwdN_border-left-style)
    var(--mixin-MPWVM_J5ZwdN_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-MKZQAnANDQbt_font-family);
  border-radius: var(--mixin-MKZQAnANDQbt_border-top-left-radius) var(--mixin-MKZQAnANDQbt_border-top-right-radius)
    var(--mixin-MKZQAnANDQbt_border-bottom-right-radius) var(--mixin-MKZQAnANDQbt_border-bottom-left-radius);
  padding: var(--mixin-MKZQAnANDQbt_padding-top) var(--mixin-MKZQAnANDQbt_padding-right) var(--mixin-MKZQAnANDQbt_padding-bottom)
    var(--mixin-MKZQAnANDQbt_padding-left);
  border-top: var(--mixin-MKZQAnANDQbt_border-top-width) var(--mixin-MKZQAnANDQbt_border-top-style)
    var(--mixin-MKZQAnANDQbt_border-top-color);
  border-right: var(--mixin-MKZQAnANDQbt_border-right-width) var(--mixin-MKZQAnANDQbt_border-right-style)
    var(--mixin-MKZQAnANDQbt_border-right-color);
  border-bottom: var(--mixin-MKZQAnANDQbt_border-bottom-width) var(--mixin-MKZQAnANDQbt_border-bottom-style)
    var(--mixin-MKZQAnANDQbt_border-bottom-color);
  border-left: var(--mixin-MKZQAnANDQbt_border-left-width) var(--mixin-MKZQAnANDQbt_border-left-style)
    var(--mixin-MKZQAnANDQbt_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-e8bC5237D06H_display);
  flex-direction: var(--mixin-e8bC5237D06H_flex-direction);
  align-items: var(--mixin-e8bC5237D06H_align-items);
  justify-content: var(--mixin-e8bC5237D06H_justify-content);
  list-style-position: var(--mixin-e8bC5237D06H_list-style-position);
  padding-left: var(--mixin-e8bC5237D06H_padding-left);
  position: var(--mixin-e8bC5237D06H_position);
  list-style-type: var(--mixin-e8bC5237D06H_list-style-type);
  column-gap: var(--mixin-e8bC5237D06H_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-bwIibokOlvfx_display);
  flex-direction: var(--mixin-bwIibokOlvfx_flex-direction);
  align-items: var(--mixin-bwIibokOlvfx_align-items);
  justify-content: var(--mixin-bwIibokOlvfx_justify-content);
  list-style-position: var(--mixin-bwIibokOlvfx_list-style-position);
  padding-left: var(--mixin-bwIibokOlvfx_padding-left);
  position: var(--mixin-bwIibokOlvfx_position);
  list-style-type: var(--mixin-bwIibokOlvfx_list-style-type);
  column-gap: var(--mixin-bwIibokOlvfx_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-igTm_CGNqfHR_color);
  font-size: var(--mixin-igTm_CGNqfHR_font-size);
  font-weight: var(--mixin-igTm_CGNqfHR_font-weight);
  line-height: var(--mixin-igTm_CGNqfHR_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-NAwA_6llIlW8_color);
  font-size: var(--mixin-NAwA_6llIlW8_font-size);
  font-weight: var(--mixin-NAwA_6llIlW8_font-weight);
  line-height: var(--mixin-NAwA_6llIlW8_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-6mLiG8KdhCjf_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
