.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  row-gap: var(--token-3WxvfyIdJppy);
  cursor: pointer;
  background: #ffffff;
  min-width: 0;
  border-radius: 9px;
  padding: 8px;
}
.appleWatchSeries1046Mm7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 7px;
  margin-top: 0px;
  height: 153px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.img > picture > img {
  object-fit: cover;
}
.a41 {
  background: rgba(255, 255, 255, 1);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.text__jitqe {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  position: relative;
  text-align: right;
  height: auto;
  margin-bottom: 5px;
}
.a42 {
  background: rgba(255, 255, 255, 1);
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.svg___4FnB3 {
  object-fit: cover;
  max-width: 100%;
  color: #4061fb;
  width: 15px;
  height: 22px;
  display: block;
  position: relative;
  overflow: hidden;
  margin-left: 3px;
  flex-shrink: 0;
}
.ماندگاری۱۲تا۱۸ماهه {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: rgba(72, 72, 73, 1);
  position: relative;
  text-align: right;
}
.freeBox__c9ThG {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end;
  margin-top: 12px;
  min-width: 0;
  padding: 6px;
}
.a43 {
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  height: auto;
  column-gap: var(--token-omrXvBNBcWTN);
  justify-content: flex-start;
  align-items: stretch;
}
.text__lEfIe {
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  position: relative;
  padding-top: 0px;
}
.svg__n8AAq {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.freeBox__mg4Fq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 8px;
  min-width: 0;
  padding: 0px;
}
.text___6Oeo6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #3861fb;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.svg__sx0Ov {
  object-fit: cover;
  max-width: 100%;
  color: #3861fb;
  width: 18px;
  height: 18px;
  margin-left: -6px;
  flex-shrink: 0;
}
