@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Vazirmatn%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-71nf5h3DK9SA_font-family: "Inter", sans-serif;
  --mixin-71nf5h3DK9SA_font-size: 16px;
  --mixin-71nf5h3DK9SA_font-weight: 400;
  --mixin-71nf5h3DK9SA_font-style: normal;
  --mixin-71nf5h3DK9SA_color: #535353;
  --mixin-71nf5h3DK9SA_text-align: left;
  --mixin-71nf5h3DK9SA_text-transform: none;
  --mixin-71nf5h3DK9SA_line-height: 1.5;
  --mixin-71nf5h3DK9SA_letter-spacing: normal;
  --mixin-71nf5h3DK9SA_white-space: pre-wrap;
  --mixin-71nf5h3DK9SA_user-select: text;
  --mixin-71nf5h3DK9SA_text-decoration-line: none;
  --mixin-71nf5h3DK9SA_text-overflow: clip;
  --mixin-CJvbbo0AMKQp_color: #000000;
  --mixin-CJvbbo0AMKQp_font-weight: 700;
  --mixin-CJvbbo0AMKQp_font-size: 64px;
  --mixin-CJvbbo0AMKQp_line-height: 1;
  --mixin-CJvbbo0AMKQp_letter-spacing: -1px;
  --mixin-CJvbbo0AMKQp_white-space: pre-wrap;
  --mixin-xSvwwrHvfTe5_color: #000000;
  --mixin-xSvwwrHvfTe5_font-size: 48px;
  --mixin-xSvwwrHvfTe5_font-weight: 700;
  --mixin-xSvwwrHvfTe5_letter-spacing: -0.5px;
  --mixin-xSvwwrHvfTe5_line-height: 1.1;
  --mixin-xSvwwrHvfTe5_white-space: pre-wrap;
  --mixin-MxEKNcb2SDq5_color: #0070f3;
  --mixin-MxEKNcb2SDq5_white-space: pre-wrap;
  --mixin-LyC17hcpLDX7_color: #000000;
  --mixin-LyC17hcpLDX7_font-size: 32px;
  --mixin-LyC17hcpLDX7_font-weight: 600;
  --mixin-LyC17hcpLDX7_line-height: 1.2;
  --mixin-LyC17hcpLDX7_white-space: pre-wrap;
  --mixin-Dg0kVKEKR1_T_color: #000000;
  --mixin-Dg0kVKEKR1_T_font-size: 24px;
  --mixin-Dg0kVKEKR1_T_font-weight: 600;
  --mixin-Dg0kVKEKR1_T_line-height: 1.3;
  --mixin-Dg0kVKEKR1_T_white-space: pre-wrap;
  --mixin-Exu2TCMPKIEf_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Exu2TCMPKIEf_border-bottom-color: #dddddd;
  --mixin-Exu2TCMPKIEf_border-bottom-style: solid;
  --mixin-Exu2TCMPKIEf_border-bottom-width: 1px;
  --mixin-Exu2TCMPKIEf_border-left-color: #dddddd;
  --mixin-Exu2TCMPKIEf_border-left-style: solid;
  --mixin-Exu2TCMPKIEf_border-left-width: 1px;
  --mixin-Exu2TCMPKIEf_border-right-color: #dddddd;
  --mixin-Exu2TCMPKIEf_border-right-style: solid;
  --mixin-Exu2TCMPKIEf_border-right-width: 1px;
  --mixin-Exu2TCMPKIEf_border-top-color: #dddddd;
  --mixin-Exu2TCMPKIEf_border-top-style: solid;
  --mixin-Exu2TCMPKIEf_border-top-width: 1px;
  --mixin-Exu2TCMPKIEf_border-bottom-left-radius: 3px;
  --mixin-Exu2TCMPKIEf_border-bottom-right-radius: 3px;
  --mixin-Exu2TCMPKIEf_border-top-left-radius: 3px;
  --mixin-Exu2TCMPKIEf_border-top-right-radius: 3px;
  --mixin-Exu2TCMPKIEf_font-family: "Inconsolata";
  --mixin-Exu2TCMPKIEf_padding-bottom: 1px;
  --mixin-Exu2TCMPKIEf_padding-left: 4px;
  --mixin-Exu2TCMPKIEf_padding-right: 4px;
  --mixin-Exu2TCMPKIEf_padding-top: 1px;
  --mixin-Exu2TCMPKIEf_white-space: pre-wrap;
  --mixin-DZO9CN3T_aM1_border-left-color: #dddddd;
  --mixin-DZO9CN3T_aM1_border-left-style: solid;
  --mixin-DZO9CN3T_aM1_border-left-width: 3px;
  --mixin-DZO9CN3T_aM1_color: #888888;
  --mixin-DZO9CN3T_aM1_padding-left: 10px;
  --mixin-DZO9CN3T_aM1_white-space: pre-wrap;
  --mixin-qJ4bEskZ-Lu-_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-qJ4bEskZ-Lu-_border-bottom-color: #dddddd;
  --mixin-qJ4bEskZ-Lu-_border-bottom-style: solid;
  --mixin-qJ4bEskZ-Lu-_border-bottom-width: 1px;
  --mixin-qJ4bEskZ-Lu-_border-left-color: #dddddd;
  --mixin-qJ4bEskZ-Lu-_border-left-style: solid;
  --mixin-qJ4bEskZ-Lu-_border-left-width: 1px;
  --mixin-qJ4bEskZ-Lu-_border-right-color: #dddddd;
  --mixin-qJ4bEskZ-Lu-_border-right-style: solid;
  --mixin-qJ4bEskZ-Lu-_border-right-width: 1px;
  --mixin-qJ4bEskZ-Lu-_border-top-color: #dddddd;
  --mixin-qJ4bEskZ-Lu-_border-top-style: solid;
  --mixin-qJ4bEskZ-Lu-_border-top-width: 1px;
  --mixin-qJ4bEskZ-Lu-_border-bottom-left-radius: 3px;
  --mixin-qJ4bEskZ-Lu-_border-bottom-right-radius: 3px;
  --mixin-qJ4bEskZ-Lu-_border-top-left-radius: 3px;
  --mixin-qJ4bEskZ-Lu-_border-top-right-radius: 3px;
  --mixin-qJ4bEskZ-Lu-_font-family: "Inconsolata";
  --mixin-qJ4bEskZ-Lu-_padding-bottom: 3px;
  --mixin-qJ4bEskZ-Lu-_padding-left: 6px;
  --mixin-qJ4bEskZ-Lu-_padding-right: 6px;
  --mixin-qJ4bEskZ-Lu-_padding-top: 3px;
  --mixin-qJ4bEskZ-Lu-_white-space: pre-wrap;
  --mixin-d_5sffIIyUtU_display: flex;
  --mixin-d_5sffIIyUtU_flex-direction: column;
  --mixin-d_5sffIIyUtU_align-items: stretch;
  --mixin-d_5sffIIyUtU_justify-content: flex-start;
  --mixin-d_5sffIIyUtU_list-style-position: outside;
  --mixin-d_5sffIIyUtU_padding-left: 40px;
  --mixin-d_5sffIIyUtU_position: relative;
  --mixin-d_5sffIIyUtU_list-style-type: disc;
  --mixin-d_5sffIIyUtU_white-space: pre-wrap;
  --mixin-s31Zm5AiEka6_display: flex;
  --mixin-s31Zm5AiEka6_flex-direction: column;
  --mixin-s31Zm5AiEka6_align-items: stretch;
  --mixin-s31Zm5AiEka6_justify-content: flex-start;
  --mixin-s31Zm5AiEka6_list-style-position: outside;
  --mixin-s31Zm5AiEka6_padding-left: 40px;
  --mixin-s31Zm5AiEka6_position: relative;
  --mixin-s31Zm5AiEka6_list-style-type: decimal;
  --mixin-s31Zm5AiEka6_white-space: pre-wrap;
  --mixin-AFjqCLRDq-7L_color: #000000;
  --mixin-AFjqCLRDq-7L_font-size: 20px;
  --mixin-AFjqCLRDq-7L_font-weight: 600;
  --mixin-AFjqCLRDq-7L_line-height: 1.5;
  --mixin-AFjqCLRDq-7L_white-space: pre-wrap;
  --mixin-pER156VKPVX9_color: #000000;
  --mixin-pER156VKPVX9_font-size: 16px;
  --mixin-pER156VKPVX9_font-weight: 600;
  --mixin-pER156VKPVX9_line-height: 1.5;
  --mixin-pER156VKPVX9_white-space: pre-wrap;
  --mixin-cZfD9K1d5dne_color: #3291ff;
  --mixin-cZfD9K1d5dne_white-space: pre-wrap;
  --mixin-6VvIjR5E6CIw_white-space: pre-wrap;
  --mixin-C3uwVGTK0E09_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-71nf5h3DK9SA_font-family);
  font-size: var(--mixin-71nf5h3DK9SA_font-size);
  font-weight: var(--mixin-71nf5h3DK9SA_font-weight);
  font-style: var(--mixin-71nf5h3DK9SA_font-style);
  color: var(--mixin-71nf5h3DK9SA_color);
  text-align: var(--mixin-71nf5h3DK9SA_text-align);
  text-transform: var(--mixin-71nf5h3DK9SA_text-transform);
  line-height: var(--mixin-71nf5h3DK9SA_line-height);
  letter-spacing: var(--mixin-71nf5h3DK9SA_letter-spacing);
  white-space: var(--mixin-71nf5h3DK9SA_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-CJvbbo0AMKQp_color);
  font-weight: var(--mixin-CJvbbo0AMKQp_font-weight);
  font-size: var(--mixin-CJvbbo0AMKQp_font-size);
  line-height: var(--mixin-CJvbbo0AMKQp_line-height);
  letter-spacing: var(--mixin-CJvbbo0AMKQp_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-xSvwwrHvfTe5_color);
  font-size: var(--mixin-xSvwwrHvfTe5_font-size);
  font-weight: var(--mixin-xSvwwrHvfTe5_font-weight);
  letter-spacing: var(--mixin-xSvwwrHvfTe5_letter-spacing);
  line-height: var(--mixin-xSvwwrHvfTe5_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-MxEKNcb2SDq5_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-LyC17hcpLDX7_color);
  font-size: var(--mixin-LyC17hcpLDX7_font-size);
  font-weight: var(--mixin-LyC17hcpLDX7_font-weight);
  line-height: var(--mixin-LyC17hcpLDX7_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-Dg0kVKEKR1_T_color);
  font-size: var(--mixin-Dg0kVKEKR1_T_font-size);
  font-weight: var(--mixin-Dg0kVKEKR1_T_font-weight);
  line-height: var(--mixin-Dg0kVKEKR1_T_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Exu2TCMPKIEf_font-family);
  border-radius: var(--mixin-Exu2TCMPKIEf_border-top-left-radius)
    var(--mixin-Exu2TCMPKIEf_border-top-right-radius)
    var(--mixin-Exu2TCMPKIEf_border-bottom-right-radius)
    var(--mixin-Exu2TCMPKIEf_border-bottom-left-radius);
  padding: var(--mixin-Exu2TCMPKIEf_padding-top)
    var(--mixin-Exu2TCMPKIEf_padding-right)
    var(--mixin-Exu2TCMPKIEf_padding-bottom)
    var(--mixin-Exu2TCMPKIEf_padding-left);
  border-top: var(--mixin-Exu2TCMPKIEf_border-top-width)
    var(--mixin-Exu2TCMPKIEf_border-top-style)
    var(--mixin-Exu2TCMPKIEf_border-top-color);
  border-right: var(--mixin-Exu2TCMPKIEf_border-right-width)
    var(--mixin-Exu2TCMPKIEf_border-right-style)
    var(--mixin-Exu2TCMPKIEf_border-right-color);
  border-bottom: var(--mixin-Exu2TCMPKIEf_border-bottom-width)
    var(--mixin-Exu2TCMPKIEf_border-bottom-style)
    var(--mixin-Exu2TCMPKIEf_border-bottom-color);
  border-left: var(--mixin-Exu2TCMPKIEf_border-left-width)
    var(--mixin-Exu2TCMPKIEf_border-left-style)
    var(--mixin-Exu2TCMPKIEf_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-DZO9CN3T_aM1_color);
  padding-left: var(--mixin-DZO9CN3T_aM1_padding-left);
  border-left: var(--mixin-DZO9CN3T_aM1_border-left-width)
    var(--mixin-DZO9CN3T_aM1_border-left-style)
    var(--mixin-DZO9CN3T_aM1_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-qJ4bEskZ-Lu-_font-family);
  border-radius: var(--mixin-qJ4bEskZ-Lu-_border-top-left-radius)
    var(--mixin-qJ4bEskZ-Lu-_border-top-right-radius)
    var(--mixin-qJ4bEskZ-Lu-_border-bottom-right-radius)
    var(--mixin-qJ4bEskZ-Lu-_border-bottom-left-radius);
  padding: var(--mixin-qJ4bEskZ-Lu-_padding-top)
    var(--mixin-qJ4bEskZ-Lu-_padding-right)
    var(--mixin-qJ4bEskZ-Lu-_padding-bottom)
    var(--mixin-qJ4bEskZ-Lu-_padding-left);
  border-top: var(--mixin-qJ4bEskZ-Lu-_border-top-width)
    var(--mixin-qJ4bEskZ-Lu-_border-top-style)
    var(--mixin-qJ4bEskZ-Lu-_border-top-color);
  border-right: var(--mixin-qJ4bEskZ-Lu-_border-right-width)
    var(--mixin-qJ4bEskZ-Lu-_border-right-style)
    var(--mixin-qJ4bEskZ-Lu-_border-right-color);
  border-bottom: var(--mixin-qJ4bEskZ-Lu-_border-bottom-width)
    var(--mixin-qJ4bEskZ-Lu-_border-bottom-style)
    var(--mixin-qJ4bEskZ-Lu-_border-bottom-color);
  border-left: var(--mixin-qJ4bEskZ-Lu-_border-left-width)
    var(--mixin-qJ4bEskZ-Lu-_border-left-style)
    var(--mixin-qJ4bEskZ-Lu-_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-d_5sffIIyUtU_display);
  flex-direction: var(--mixin-d_5sffIIyUtU_flex-direction);
  align-items: var(--mixin-d_5sffIIyUtU_align-items);
  justify-content: var(--mixin-d_5sffIIyUtU_justify-content);
  list-style-position: var(--mixin-d_5sffIIyUtU_list-style-position);
  padding-left: var(--mixin-d_5sffIIyUtU_padding-left);
  position: var(--mixin-d_5sffIIyUtU_position);
  list-style-type: var(--mixin-d_5sffIIyUtU_list-style-type);
  flex-column-gap: var(--mixin-d_5sffIIyUtU_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-s31Zm5AiEka6_display);
  flex-direction: var(--mixin-s31Zm5AiEka6_flex-direction);
  align-items: var(--mixin-s31Zm5AiEka6_align-items);
  justify-content: var(--mixin-s31Zm5AiEka6_justify-content);
  list-style-position: var(--mixin-s31Zm5AiEka6_list-style-position);
  padding-left: var(--mixin-s31Zm5AiEka6_padding-left);
  position: var(--mixin-s31Zm5AiEka6_position);
  list-style-type: var(--mixin-s31Zm5AiEka6_list-style-type);
  flex-column-gap: var(--mixin-s31Zm5AiEka6_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-AFjqCLRDq-7L_color);
  font-size: var(--mixin-AFjqCLRDq-7L_font-size);
  font-weight: var(--mixin-AFjqCLRDq-7L_font-weight);
  line-height: var(--mixin-AFjqCLRDq-7L_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-pER156VKPVX9_color);
  font-size: var(--mixin-pER156VKPVX9_font-size);
  font-weight: var(--mixin-pER156VKPVX9_font-weight);
  line-height: var(--mixin-pER156VKPVX9_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-cZfD9K1d5dne_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
