.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) - var(--plsmc-viewport-gap));
}

.plasmic_default_styles {
  --mixin-i71HvVDV_wM3_font-family: 'Inter', sans-serif;
  --mixin-i71HvVDV_wM3_font-size: 16px;
  --mixin-i71HvVDV_wM3_font-weight: 400;
  --mixin-i71HvVDV_wM3_font-style: normal;
  --mixin-i71HvVDV_wM3_color: #535353;
  --mixin-i71HvVDV_wM3_text-align: left;
  --mixin-i71HvVDV_wM3_text-transform: none;
  --mixin-i71HvVDV_wM3_line-height: 1.5;
  --mixin-i71HvVDV_wM3_letter-spacing: normal;
  --mixin-i71HvVDV_wM3_white-space: pre-wrap;
  --mixin-i71HvVDV_wM3_user-select: text;
  --mixin-i71HvVDV_wM3_text-decoration-line: none;
  --mixin-i71HvVDV_wM3_text-overflow: clip;
  --mixin-jG9fOGENbjWT_color: #000000;
  --mixin-jG9fOGENbjWT_font-weight: 700;
  --mixin-jG9fOGENbjWT_font-size: 64px;
  --mixin-jG9fOGENbjWT_line-height: 1;
  --mixin-jG9fOGENbjWT_letter-spacing: -1px;
  --mixin-jG9fOGENbjWT_white-space: pre-wrap;
  --mixin-BD6FjCCG5t4U_color: #000000;
  --mixin-BD6FjCCG5t4U_font-size: 48px;
  --mixin-BD6FjCCG5t4U_font-weight: 700;
  --mixin-BD6FjCCG5t4U_letter-spacing: -0.5px;
  --mixin-BD6FjCCG5t4U_line-height: 1.1;
  --mixin-BD6FjCCG5t4U_white-space: pre-wrap;
  --mixin-11DiwW84YFrS_color: #0070f3;
  --mixin-11DiwW84YFrS_white-space: pre-wrap;
  --mixin-UlYy7d7A7LUo_color: #000000;
  --mixin-UlYy7d7A7LUo_font-size: 32px;
  --mixin-UlYy7d7A7LUo_font-weight: 600;
  --mixin-UlYy7d7A7LUo_line-height: 1.2;
  --mixin-UlYy7d7A7LUo_white-space: pre-wrap;
  --mixin-93LjWptqdKpn_color: #000000;
  --mixin-93LjWptqdKpn_font-size: 24px;
  --mixin-93LjWptqdKpn_font-weight: 600;
  --mixin-93LjWptqdKpn_line-height: 1.3;
  --mixin-93LjWptqdKpn_white-space: pre-wrap;
  --mixin-lGWycKOqvFq5_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-lGWycKOqvFq5_border-bottom-color: #dddddd;
  --mixin-lGWycKOqvFq5_border-bottom-style: solid;
  --mixin-lGWycKOqvFq5_border-bottom-width: 1px;
  --mixin-lGWycKOqvFq5_border-left-color: #dddddd;
  --mixin-lGWycKOqvFq5_border-left-style: solid;
  --mixin-lGWycKOqvFq5_border-left-width: 1px;
  --mixin-lGWycKOqvFq5_border-right-color: #dddddd;
  --mixin-lGWycKOqvFq5_border-right-style: solid;
  --mixin-lGWycKOqvFq5_border-right-width: 1px;
  --mixin-lGWycKOqvFq5_border-top-color: #dddddd;
  --mixin-lGWycKOqvFq5_border-top-style: solid;
  --mixin-lGWycKOqvFq5_border-top-width: 1px;
  --mixin-lGWycKOqvFq5_border-bottom-left-radius: 3px;
  --mixin-lGWycKOqvFq5_border-bottom-right-radius: 3px;
  --mixin-lGWycKOqvFq5_border-top-left-radius: 3px;
  --mixin-lGWycKOqvFq5_border-top-right-radius: 3px;
  --mixin-lGWycKOqvFq5_font-family: 'Inconsolata';
  --mixin-lGWycKOqvFq5_padding-bottom: 1px;
  --mixin-lGWycKOqvFq5_padding-left: 4px;
  --mixin-lGWycKOqvFq5_padding-right: 4px;
  --mixin-lGWycKOqvFq5_padding-top: 1px;
  --mixin-lGWycKOqvFq5_white-space: pre-wrap;
  --mixin-ExQ4Ef7eIAd__border-left-color: #dddddd;
  --mixin-ExQ4Ef7eIAd__border-left-style: solid;
  --mixin-ExQ4Ef7eIAd__border-left-width: 3px;
  --mixin-ExQ4Ef7eIAd__color: #888888;
  --mixin-ExQ4Ef7eIAd__padding-left: 10px;
  --mixin-ExQ4Ef7eIAd__white-space: pre-wrap;
  --mixin-ey9a3_MZ53DA_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ey9a3_MZ53DA_border-bottom-color: #dddddd;
  --mixin-ey9a3_MZ53DA_border-bottom-style: solid;
  --mixin-ey9a3_MZ53DA_border-bottom-width: 1px;
  --mixin-ey9a3_MZ53DA_border-left-color: #dddddd;
  --mixin-ey9a3_MZ53DA_border-left-style: solid;
  --mixin-ey9a3_MZ53DA_border-left-width: 1px;
  --mixin-ey9a3_MZ53DA_border-right-color: #dddddd;
  --mixin-ey9a3_MZ53DA_border-right-style: solid;
  --mixin-ey9a3_MZ53DA_border-right-width: 1px;
  --mixin-ey9a3_MZ53DA_border-top-color: #dddddd;
  --mixin-ey9a3_MZ53DA_border-top-style: solid;
  --mixin-ey9a3_MZ53DA_border-top-width: 1px;
  --mixin-ey9a3_MZ53DA_border-bottom-left-radius: 3px;
  --mixin-ey9a3_MZ53DA_border-bottom-right-radius: 3px;
  --mixin-ey9a3_MZ53DA_border-top-left-radius: 3px;
  --mixin-ey9a3_MZ53DA_border-top-right-radius: 3px;
  --mixin-ey9a3_MZ53DA_font-family: 'Inconsolata';
  --mixin-ey9a3_MZ53DA_padding-bottom: 3px;
  --mixin-ey9a3_MZ53DA_padding-left: 6px;
  --mixin-ey9a3_MZ53DA_padding-right: 6px;
  --mixin-ey9a3_MZ53DA_padding-top: 3px;
  --mixin-ey9a3_MZ53DA_white-space: pre-wrap;
  --mixin-7pqHPKslSVnb_display: flex;
  --mixin-7pqHPKslSVnb_flex-direction: column;
  --mixin-7pqHPKslSVnb_align-items: stretch;
  --mixin-7pqHPKslSVnb_justify-content: flex-start;
  --mixin-7pqHPKslSVnb_list-style-position: outside;
  --mixin-7pqHPKslSVnb_padding-left: 40px;
  --mixin-7pqHPKslSVnb_position: relative;
  --mixin-7pqHPKslSVnb_list-style-type: disc;
  --mixin-7pqHPKslSVnb_white-space: pre-wrap;
  --mixin-SE2NKJbHME0V_display: flex;
  --mixin-SE2NKJbHME0V_flex-direction: column;
  --mixin-SE2NKJbHME0V_align-items: stretch;
  --mixin-SE2NKJbHME0V_justify-content: flex-start;
  --mixin-SE2NKJbHME0V_list-style-position: outside;
  --mixin-SE2NKJbHME0V_padding-left: 40px;
  --mixin-SE2NKJbHME0V_position: relative;
  --mixin-SE2NKJbHME0V_list-style-type: decimal;
  --mixin-SE2NKJbHME0V_white-space: pre-wrap;
  --mixin-9Le2kxfHz9WN_color: #000000;
  --mixin-9Le2kxfHz9WN_font-size: 20px;
  --mixin-9Le2kxfHz9WN_font-weight: 600;
  --mixin-9Le2kxfHz9WN_line-height: 1.5;
  --mixin-9Le2kxfHz9WN_white-space: pre-wrap;
  --mixin-rexbKyKSb7Bf_color: #000000;
  --mixin-rexbKyKSb7Bf_font-size: 16px;
  --mixin-rexbKyKSb7Bf_font-weight: 600;
  --mixin-rexbKyKSb7Bf_line-height: 1.5;
  --mixin-rexbKyKSb7Bf_white-space: pre-wrap;
  --mixin-WI7xhJbKHsRC_color: #3291ff;
  --mixin-WI7xhJbKHsRC_white-space: pre-wrap;
  --mixin-pT_LiPdW2mPn_white-space: pre-wrap;
  --mixin-iFlqhaK7g33P_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-i71HvVDV_wM3_font-family);
  font-size: var(--mixin-i71HvVDV_wM3_font-size);
  font-weight: var(--mixin-i71HvVDV_wM3_font-weight);
  font-style: var(--mixin-i71HvVDV_wM3_font-style);
  color: var(--mixin-i71HvVDV_wM3_color);
  text-align: var(--mixin-i71HvVDV_wM3_text-align);
  text-transform: var(--mixin-i71HvVDV_wM3_text-transform);
  line-height: var(--mixin-i71HvVDV_wM3_line-height);
  letter-spacing: var(--mixin-i71HvVDV_wM3_letter-spacing);
  white-space: var(--mixin-i71HvVDV_wM3_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-jG9fOGENbjWT_color);
  font-weight: var(--mixin-jG9fOGENbjWT_font-weight);
  font-size: var(--mixin-jG9fOGENbjWT_font-size);
  line-height: var(--mixin-jG9fOGENbjWT_line-height);
  letter-spacing: var(--mixin-jG9fOGENbjWT_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-BD6FjCCG5t4U_color);
  font-size: var(--mixin-BD6FjCCG5t4U_font-size);
  font-weight: var(--mixin-BD6FjCCG5t4U_font-weight);
  letter-spacing: var(--mixin-BD6FjCCG5t4U_letter-spacing);
  line-height: var(--mixin-BD6FjCCG5t4U_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-11DiwW84YFrS_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-UlYy7d7A7LUo_color);
  font-size: var(--mixin-UlYy7d7A7LUo_font-size);
  font-weight: var(--mixin-UlYy7d7A7LUo_font-weight);
  line-height: var(--mixin-UlYy7d7A7LUo_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-93LjWptqdKpn_color);
  font-size: var(--mixin-93LjWptqdKpn_font-size);
  font-weight: var(--mixin-93LjWptqdKpn_font-weight);
  line-height: var(--mixin-93LjWptqdKpn_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-lGWycKOqvFq5_font-family);
  border-radius: var(--mixin-lGWycKOqvFq5_border-top-left-radius) var(--mixin-lGWycKOqvFq5_border-top-right-radius)
    var(--mixin-lGWycKOqvFq5_border-bottom-right-radius) var(--mixin-lGWycKOqvFq5_border-bottom-left-radius);
  padding: var(--mixin-lGWycKOqvFq5_padding-top) var(--mixin-lGWycKOqvFq5_padding-right) var(--mixin-lGWycKOqvFq5_padding-bottom)
    var(--mixin-lGWycKOqvFq5_padding-left);
  border-top: var(--mixin-lGWycKOqvFq5_border-top-width) var(--mixin-lGWycKOqvFq5_border-top-style)
    var(--mixin-lGWycKOqvFq5_border-top-color);
  border-right: var(--mixin-lGWycKOqvFq5_border-right-width) var(--mixin-lGWycKOqvFq5_border-right-style)
    var(--mixin-lGWycKOqvFq5_border-right-color);
  border-bottom: var(--mixin-lGWycKOqvFq5_border-bottom-width) var(--mixin-lGWycKOqvFq5_border-bottom-style)
    var(--mixin-lGWycKOqvFq5_border-bottom-color);
  border-left: var(--mixin-lGWycKOqvFq5_border-left-width) var(--mixin-lGWycKOqvFq5_border-left-style)
    var(--mixin-lGWycKOqvFq5_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ExQ4Ef7eIAd__color);
  padding-left: var(--mixin-ExQ4Ef7eIAd__padding-left);
  border-left: var(--mixin-ExQ4Ef7eIAd__border-left-width) var(--mixin-ExQ4Ef7eIAd__border-left-style)
    var(--mixin-ExQ4Ef7eIAd__border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ey9a3_MZ53DA_font-family);
  border-radius: var(--mixin-ey9a3_MZ53DA_border-top-left-radius) var(--mixin-ey9a3_MZ53DA_border-top-right-radius)
    var(--mixin-ey9a3_MZ53DA_border-bottom-right-radius) var(--mixin-ey9a3_MZ53DA_border-bottom-left-radius);
  padding: var(--mixin-ey9a3_MZ53DA_padding-top) var(--mixin-ey9a3_MZ53DA_padding-right) var(--mixin-ey9a3_MZ53DA_padding-bottom)
    var(--mixin-ey9a3_MZ53DA_padding-left);
  border-top: var(--mixin-ey9a3_MZ53DA_border-top-width) var(--mixin-ey9a3_MZ53DA_border-top-style)
    var(--mixin-ey9a3_MZ53DA_border-top-color);
  border-right: var(--mixin-ey9a3_MZ53DA_border-right-width) var(--mixin-ey9a3_MZ53DA_border-right-style)
    var(--mixin-ey9a3_MZ53DA_border-right-color);
  border-bottom: var(--mixin-ey9a3_MZ53DA_border-bottom-width) var(--mixin-ey9a3_MZ53DA_border-bottom-style)
    var(--mixin-ey9a3_MZ53DA_border-bottom-color);
  border-left: var(--mixin-ey9a3_MZ53DA_border-left-width) var(--mixin-ey9a3_MZ53DA_border-left-style)
    var(--mixin-ey9a3_MZ53DA_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-7pqHPKslSVnb_display);
  flex-direction: var(--mixin-7pqHPKslSVnb_flex-direction);
  align-items: var(--mixin-7pqHPKslSVnb_align-items);
  justify-content: var(--mixin-7pqHPKslSVnb_justify-content);
  list-style-position: var(--mixin-7pqHPKslSVnb_list-style-position);
  padding-left: var(--mixin-7pqHPKslSVnb_padding-left);
  position: var(--mixin-7pqHPKslSVnb_position);
  list-style-type: var(--mixin-7pqHPKslSVnb_list-style-type);
  flex-column-gap: var(--mixin-7pqHPKslSVnb_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-SE2NKJbHME0V_display);
  flex-direction: var(--mixin-SE2NKJbHME0V_flex-direction);
  align-items: var(--mixin-SE2NKJbHME0V_align-items);
  justify-content: var(--mixin-SE2NKJbHME0V_justify-content);
  list-style-position: var(--mixin-SE2NKJbHME0V_list-style-position);
  padding-left: var(--mixin-SE2NKJbHME0V_padding-left);
  position: var(--mixin-SE2NKJbHME0V_position);
  list-style-type: var(--mixin-SE2NKJbHME0V_list-style-type);
  flex-column-gap: var(--mixin-SE2NKJbHME0V_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-9Le2kxfHz9WN_color);
  font-size: var(--mixin-9Le2kxfHz9WN_font-size);
  font-weight: var(--mixin-9Le2kxfHz9WN_font-weight);
  line-height: var(--mixin-9Le2kxfHz9WN_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-rexbKyKSb7Bf_color);
  font-size: var(--mixin-rexbKyKSb7Bf_font-size);
  font-weight: var(--mixin-rexbKyKSb7Bf_font-weight);
  line-height: var(--mixin-rexbKyKSb7Bf_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-WI7xhJbKHsRC_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
