.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.rootisLikeRate {
  display: flex;
  flex-direction: column;
}
.rootisLikeRate > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.rootisLikeRate > :global(.__wab_flex-container) > *,
.rootisLikeRate > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootisLikeRate > :global(.__wab_flex-container) > picture > img,
.rootisLikeRate
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-_c276Gs_1FIE);
}
.text__fM4Jq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--token-y5gXq2Mgh7sV);
  min-width: 0;
  display: none;
}
.textcompact__fM4JqRBwm9 {
  display: block;
}
.freeBox__dz2Z4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBoxcompact__dz2Z4RBwm9 {
  width: auto;
}
.freeBoxisLikeRate__dz2Z4LvHcy {
  width: auto;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
.text__zkbaK {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  text-align: center;
  align-self: center;
  display: none;
  padding: 0px;
  margin: 0px;
}
.textisLikeRate__zkbaKlvHcy {
  display: block;
}
.text__t95VZ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-RxWJli6xyBzp);
  font-weight: 500;
  display: none;
  margin: var(--token-_c276Gs_1FIE);
}
.textisLikeRate__t95VZlvHcy {
  display: block;
}
.freeBox__uVqwL {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__uVqwL > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__uVqwL > :global(.__wab_flex-container) > *,
.freeBox__uVqwL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uVqwL > :global(.__wab_flex-container) > picture > img,
.freeBox__uVqwL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.freeBoxcompact__uVqwLrBwm9 {
  display: none;
}
.freeBoxisLikeRate__uVqwLlvHcy {
  flex-direction: row;
}
.freeBoxisLikeRate__uVqwLlvHcy > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxisLikeRate__uVqwLlvHcy > :global(.__wab_flex-container) > *,
.freeBoxisLikeRate__uVqwLlvHcy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxisLikeRate__uVqwLlvHcy > :global(.__wab_flex-container) > picture > img,
.freeBoxisLikeRate__uVqwLlvHcy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.starRate2:global(.__wab_instance) {
  max-width: 100%;
  width: 18px;
  height: 30px;
  flex-shrink: 0;
}
.starRate2isLikeRate:global(.__wab_instance) {
  display: none;
}
.text__cxd8S {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-VrIY9r5RDQZ_);
  color: var(--token-rjAIDXsTjJqJ);
}
.textcompact__cxd8SrBwm9 {
  color: var(--token-LPwJqXnrei6F);
  font-weight: 400;
  font-size: 0.65rem;
}
.textisLikeRate__cxd8SlvHcy {
  font-size: 0.65rem;
  margin: var(--token-_c276Gs_1FIE);
}
.freeBox__jKc6I {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox__jKc6I > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.freeBox__jKc6I > :global(.__wab_flex-container) > *,
.freeBox__jKc6I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jKc6I > :global(.__wab_flex-container) > picture > img,
.freeBox__jKc6I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 3px;
}
.freeBoxcompact__jKc6IrBwm9 {
  display: flex;
}
.text___4KITv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-VrIY9r5RDQZ_);
  font-weight: 400;
  text-decoration-line: underline;
  color: var(--token-rjAIDXsTjJqJ);
  min-width: 0;
  display: none;
}
.textcompact___4KITvRBwm9 {
  display: block;
}
