.اردنماشنظر {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.اردنماشنظر > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-W6cMLA0AZVBO));
  height: calc(100% + var(--token-W6cMLA0AZVBO));
}
.اردنماشنظر > :global(.__wab_flex-container) > *,
.اردنماشنظر > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.اردنماشنظر > :global(.__wab_flex-container) > picture > img,
.اردنماشنظر
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-W6cMLA0AZVBO);
}
.سهنقطه:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  line-height: 2;
}
.freeBox__a8AOx {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: -10px;
  left: 0px;
  z-index: 1;
  cursor: pointer;
  padding: 8px;
}
.svg__ahbGw {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__mf64S {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  left: auto;
  top: auto;
  align-self: auto;
  margin-left: var(--token-Fv8-L_kN-2Ma);
  border-radius: 8px;
  padding: var(--token-vMUQwr5Jto1d);
  border: 1px solid #e2e8f0;
}
.freeBox__vwR23 {
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  display: none;
}
.freeBox__vwR23 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__vwR23 > :global(.__wab_flex-container) > *,
.freeBox__vwR23 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vwR23 > :global(.__wab_flex-container) > picture > img,
.freeBox__vwR23
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.freeBoxraviExpFroDrakam__vwR23Ql6C7 {
  display: none;
}
.svg__ycTkd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__cuUPa {
  font-size: var(--token-6NbVMeD6zQwn);
}
.freeBox__khS3Q {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}
.freeBox__khS3Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__khS3Q > :global(.__wab_flex-container) > *,
.freeBox__khS3Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__khS3Q > :global(.__wab_flex-container) > picture > img,
.freeBox__khS3Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.dialog3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__gt7U {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}
.freeBox__gt7U > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__gt7U > :global(.__wab_flex-container) > *,
.freeBox__gt7U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gt7U > :global(.__wab_flex-container) > picture > img,
.freeBox__gt7U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg___8ZJpu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 22px;
  width: var(--token-Fv8-L_kN-2Ma);
  flex-shrink: 0;
}
.text__ttly5 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  position: relative;
}
.edditTextBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
  border-radius: 9px;
  padding: var(--token-vMUQwr5Jto1d);
}
.button__nsoe4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: var(--token-_c276Gs_1FIE);
}
.svg__p4Ytw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__mTUf0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__lNuZw {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}
.freeBox__lNuZw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__lNuZw > :global(.__wab_flex-container) > *,
.freeBox__lNuZw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lNuZw > :global(.__wab_flex-container) > picture > img,
.freeBox__lNuZw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.dialog4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__hRt2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}
.freeBox__hRt2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__hRt2 > :global(.__wab_flex-container) > *,
.freeBox__hRt2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hRt2 > :global(.__wab_flex-container) > picture > img,
.freeBox__hRt2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__lcvor {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 22px;
  width: var(--token-Fv8-L_kN-2Ma);
  flex-shrink: 0;
}
.text__ur5Y3 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  position: relative;
}
.text___3Re7R {
  width: auto;
  text-align: center;
}
.freeBox__uRzBu {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__uRzBu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__uRzBu > :global(.__wab_flex-container) > *,
.freeBox__uRzBu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uRzBu > :global(.__wab_flex-container) > picture > img,
.freeBox__uRzBu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.button__fD6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ezf8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rfy6D {
  color: #ededec;
}
.svg__oBkZj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__rEncW:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__chO6C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__re2O6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__ikKmq {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}
.freeBox__ikKmq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__ikKmq > :global(.__wab_flex-container) > *,
.freeBox__ikKmq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ikKmq > :global(.__wab_flex-container) > picture > img,
.freeBox__ikKmq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__kBx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.text__mUuQt {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  position: relative;
}
.reportText2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
  border-radius: 9px;
  padding: var(--token-vMUQwr5Jto1d);
}
.button__xJzIt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: var(--token-_c276Gs_1FIE);
}
.svg__kLFdy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___3Y0Ja {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.نامتتارخ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__n7A1U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}
.httpRestApiFetcher__eXJp:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.userAvatar2:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 55px;
  height: 55px;
  align-self: auto;
  z-index: 1;
  right: auto;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  -webkit-transition-property: all, all;
  -webkit-transition-duration: 1s, 1s;
}
.userAvatar:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 55px;
  height: 55px;
  align-self: auto;
  z-index: 1;
  right: auto;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  -webkit-transition-property: all, all;
  -webkit-transition-duration: 1s, 1s;
}
.freeBox__hJuBl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hJuBl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-fhaz6q6bl-fW));
  height: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__hJuBl > :global(.__wab_flex-container) > *,
.freeBox__hJuBl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hJuBl > :global(.__wab_flex-container) > picture > img,
.freeBox__hJuBl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-fhaz6q6bl-fW);
}
.freeBox__mTvMh {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mTvMh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__mTvMh > :global(.__wab_flex-container) > *,
.freeBox__mTvMh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mTvMh > :global(.__wab_flex-container) > picture > img,
.freeBox__mTvMh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.text___2VaV1 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-6NbVMeD6zQwn);
  display: none;
}
.ناماربر:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text___21RLp {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-6NbVMeD6zQwn);
}
.chip:global(.__wab_instance) {
  position: relative;
  margin-left: calc(0px + var(--token-_c276Gs_1FIE)) !important;
  width: auto;
}
.svg__lsXDn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-8itld8j2DCdr);
}
.svg__h3Tzz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: #15803d;
}
.freeBox__vdK60 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vdK60 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__vdK60 > :global(.__wab_flex-container) > *,
.freeBox__vdK60 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vdK60 > :global(.__wab_flex-container) > picture > img,
.freeBox__vdK60
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.text__aF3Jg {
  height: auto;
  max-width: 100%;
  position: relative;
  color: #2b2f33;
  font-size: var(--token-VrIY9r5RDQZ_);
}
.text__yTb2M {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  opacity: 0.3;
}
.text__pm0Q5 {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VrIY9r5RDQZ_);
}
.متننظر {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.متننظر > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.متننظر > :global(.__wab_flex-container) > *,
.متننظر > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.متننظر > :global(.__wab_flex-container) > picture > img,
.متننظر
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.freeBox___53H3H {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___53H3H > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox___53H3H > :global(.__wab_flex-container) > *,
.freeBox___53H3H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___53H3H > :global(.__wab_flex-container) > picture > img,
.freeBox___53H3H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox__cAdEv {
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  background: var(--token-kpM4b4mG4f2d);
  border-radius: 5px;
  padding: 1px;
}
.freeBox__cAdEv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__cAdEv > :global(.__wab_flex-container) > *,
.freeBox__cAdEv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cAdEv > :global(.__wab_flex-container) > picture > img,
.freeBox__cAdEv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__cvunB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-It8BufY6ejOY);
  width: 15px;
  height: 15px;
  margin-left: var(--token-fhaz6q6bl-fW) !important;
  margin-right: var(--token-fhaz6q6bl-fW);
  flex-shrink: 0;
}
.text__rnD7L {
  position: relative;
  height: auto;
  max-width: 100%;
  color: var(--token-It8BufY6ejOY);
  font-weight: 700;
  font-size: var(--token-VrIY9r5RDQZ_);
  padding-left: 5px;
  border-radius: 6px;
}
.freeBox__zoUnv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__zoUnv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__zoUnv > :global(.__wab_flex-container) > *,
.freeBox__zoUnv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zoUnv > :global(.__wab_flex-container) > picture > img,
.freeBox__zoUnv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.text__wZ5Sn {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-6NbVMeD6zQwn);
  position: relative;
  color: var(--token-1jTXKEDkeRHC);
}
.svg__ecNXv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-1jTXKEDkeRHC);
  width: 20px;
  align-self: flex-end;
  height: 20px;
  flex-shrink: 0;
}
.freeBox__zLXc8 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__zLXc8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__zLXc8 > :global(.__wab_flex-container) > *,
.freeBox__zLXc8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zLXc8 > :global(.__wab_flex-container) > picture > img,
.freeBox__zLXc8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.text___62Bj {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-6NbVMeD6zQwn);
  position: relative;
  color: var(--token-kpM4b4mG4f2d);
}
.svg__a8Ad {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kpM4b4mG4f2d);
  width: 20px;
  align-self: flex-end;
  height: 20px;
  flex-shrink: 0;
}
.text__le3Kw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: var(--token-6NbVMeD6zQwn);
  text-align: justify;
  min-width: 0;
}
.httpRestApiFetcher__dvNua:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.نظربشتراز1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
}
.نظربشتراز1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.نظربشتراز1 > :global(.__wab_flex-container) > *,
.نظربشتراز1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.نظربشتراز1 > :global(.__wab_flex-container) > picture > img,
.نظربشتراز1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.svg___34YvM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__fw275 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VrIY9r5RDQZ_);
  align-self: flex-start;
  font-weight: 500;
}
.freeBox__x126B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 30rem;
  overflow: auto;
  min-width: 0;
}
.freeBox__x126B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__x126B > :global(.__wab_flex-container) > *,
.freeBox__x126B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x126B > :global(.__wab_flex-container) > picture > img,
.freeBox__x126B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.replyCard__sQuYr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: var(--token-_c276Gs_1FIE);
}
.لارورت {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.لارورت > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.لارورت > :global(.__wab_flex-container) > *,
.لارورت > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.لارورت > :global(.__wab_flex-container) > picture > img,
.لارورت
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.freeBox__qhLa0 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}
.freeBox__qhLa0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__qhLa0 > :global(.__wab_flex-container) > *,
.freeBox__qhLa0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qhLa0 > :global(.__wab_flex-container) > picture > img,
.freeBox__qhLa0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.text__zTaJf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VrIY9r5RDQZ_);
}
.svg__lsG2C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  margin-bottom: 4px;
  flex-shrink: 0;
}
.svgraviExpFroDrakam__lsG2CQl6C7 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__sdFgJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kpM4b4mG4f2d);
  width: 16px;
  height: 20px;
  flex-shrink: 0;
}
.svgraviExpFroDrakam__sdFgJQl6C7 {
  color: var(--token-kpM4b4mG4f2d);
  width: 16px;
  flex-shrink: 0;
}
.text__dw8Rz {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  position: relative;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.dialograviExpFroDrakam:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.freeBox___0EXmx {
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  display: none;
}
.freeBox___0EXmx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox___0EXmx > :global(.__wab_flex-container) > *,
.freeBox___0EXmx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0EXmx > :global(.__wab_flex-container) > picture > img,
.freeBox___0EXmx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.freeBoxraviExpFroDrakam___0EXmxQl6C7 {
  display: none;
}
.svg__phmAr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.text__lDnuA {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  position: relative;
}
.reportText {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
  border-radius: 9px;
  padding: var(--token-vMUQwr5Jto1d);
}
.button__iuHVx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: var(--token-_c276Gs_1FIE);
}
.svg__nr5Ux {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__epBv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__iAvTv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}
.freeBox__iAvTv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__iAvTv > :global(.__wab_flex-container) > *,
.freeBox__iAvTv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iAvTv > :global(.__wab_flex-container) > picture > img,
.freeBox__iAvTv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__buJg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__v5Zas {
  font-size: var(--token-6NbVMeD6zQwn);
}
.رلا {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.replyText {
  position: relative;
  width: 100%;
  max-width: 100%;
  font-weight: 500;
  font-size: var(--token-6NbVMeD6zQwn);
  height: 34px;
  min-width: 0;
  display: none;
  border-radius: 10px;
  padding: var(--token-fhaz6q6bl-fW) var(--token-vMUQwr5Jto1d);
}
.multilineTextInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__eTi4F {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: var(--token-vMUQwr5Jto1d);
  top: 10px;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 600;
  color: var(--token-JDvyxAtm9ONK);
  cursor: pointer;
}
.رفتنرلا:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.replyCard__ardMi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
