.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.dialog6:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__e5NKf {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}
.freeBox__e5NKf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__e5NKf > :global(.__wab_flex-container) > *,
.freeBox__e5NKf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e5NKf > :global(.__wab_flex-container) > picture > img,
.freeBox__e5NKf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__toA7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text___8JOzh {
  font-size: var(--token-6NbVMeD6zQwn);
}
.text__e3V6T {
  padding-top: 0px;
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  display: none;
}
.svg__axytm {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  align-self: center;
}
.freeBox__jhKz0 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__jhKz0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__jhKz0 > :global(.__wab_flex-container) > *,
.freeBox__jhKz0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jhKz0 > :global(.__wab_flex-container) > picture > img,
.freeBox__jhKz0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text__b9Kpg {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-top: 0px;
  min-width: 0;
}
.سوشالها {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.توئیتر:global(.__wab_instance) {
  max-width: 100%;
  margin: var(--token-_c276Gs_1FIE);
}
.svg__ogsR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__u0B4K {
  object-fit: cover;
  max-width: 100%;
  margin-top: 3px;
  margin-left: var(--token-fhaz6q6bl-fW);
  width: var(--token-Fv8-L_kN-2Ma);
  height: 1em;
}
.text__jgZCp {
  padding-top: 0px;
}
.svg__jlcIa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.ایتا:global(.__wab_instance) {
  margin: var(--token-_c276Gs_1FIE);
}
.svg__ksYmj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__sd340 {
  object-fit: cover;
  max-width: 100%;
  margin-top: 3px;
  margin-left: var(--token-fhaz6q6bl-fW);
  width: var(--token-Fv8-L_kN-2Ma);
  color: #ffffff;
  height: 1em;
}
.text__dWOee {
  padding-top: 0px;
}
.svg___3L9Ru {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.تلگرام:global(.__wab_instance) {
  max-width: 100%;
  margin: var(--token-_c276Gs_1FIE);
}
.svg__aPxcp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___3E6Pi {
  object-fit: cover;
  max-width: 100%;
  margin-top: 3px;
  margin-left: var(--token-fhaz6q6bl-fW);
  width: var(--token-Fv8-L_kN-2Ma);
  height: 1em;
}
.svg__bgsV2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.واتساپ:global(.__wab_instance) {
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: var(--token-_c276Gs_1FIE);
}
.svg___7DRh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___5VlZ8 {
  object-fit: cover;
  max-width: 100%;
  margin-top: 3px;
  margin-left: var(--token-fhaz6q6bl-fW);
  width: var(--token-Fv8-L_kN-2Ma);
  height: 1em;
}
.svg___7OW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___62WXk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: 0.5px;
  max-width: 100%;
  width: 100%;
  background: var(--token-Y3HOiwZmAcAF);
  min-width: 0;
  flex-shrink: 0;
}
.کپیکردن {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__jxjee {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  min-width: 0;
}
.کپیلینک:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__k3Kab {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__z5Y4O {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-JDvyxAtm9ONK);
  width: var(--token-Fv8-L_kN-2Ma);
  height: var(--token-Fv8-L_kN-2Ma);
  margin-left: 7px;
  margin-top: 2px;
}
.text___901OG {
  padding-top: 0px;
}
.svg__rrGls {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
