.کاردنمایشنظر {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.کاردنمایشنظر > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-fhaz6q6bl-fW));
  height: calc(100% + var(--token-fhaz6q6bl-fW));
}
.کاردنمایشنظر > :global(.__wab_flex-container) > *,
.کاردنمایشنظر > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.کاردنمایشنظر > :global(.__wab_flex-container) > picture > img,
.کاردنمایشنظر
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-fhaz6q6bl-fW);
}
.نامکاربر:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.نامتگتاریخ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__cAdEv {
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 35px;
  max-width: 100%;
  background: var(--token-n7oRIobFxMYD);
  align-self: auto;
  width: 35px;
  left: 28px;
  top: auto;
  flex-shrink: 0;
  border-radius: 5px 5px 0px;
  padding: 1px 4px;
}
.freeBox__cAdEv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__cAdEv > :global(.__wab_flex-container) > *,
.freeBox__cAdEv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cAdEv > :global(.__wab_flex-container) > picture > img,
.freeBox__cAdEv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.text__rnD7L {
  position: relative;
  height: auto;
  max-width: 100%;
  color: var(--token-It8BufY6ejOY);
  font-weight: 700;
  font-size: var(--token-6NbVMeD6zQwn);
  padding-left: -12px;
  border-radius: 6px;
}
.editAndReport:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: -8px;
  top: auto;
}
.freeBox__n7A1U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}
.httpRestApiFetcher__eXJp:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__o8OOa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 35px;
  height: 35px;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  border-radius: 100px;
}
.userAvatar:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 35px;
  height: 35px;
  align-self: auto;
  z-index: 1;
  right: auto;
  transform: none;
}
.freeBox__hJuBl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 6px;
}
.freeBox__mTvMh {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mTvMh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__mTvMh > :global(.__wab_flex-container) > *,
.freeBox__mTvMh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mTvMh > :global(.__wab_flex-container) > picture > img,
.freeBox__mTvMh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.text___2VaV1 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-6NbVMeD6zQwn);
  display: none;
}
.text___21RLp {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-VrIY9r5RDQZ_);
}
.chip:global(.__wab_instance) {
  position: relative;
  margin-left: calc(0px + var(--token-fhaz6q6bl-fW)) !important;
  width: auto;
}
.svg__lsXDn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-8itld8j2DCdr);
}
.svg__h3Tzz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: #15803d;
}
.نمایشفقطبرایدرمانگر:global(.__wab_instance) {
  position: relative;
  margin-left: calc(0px + var(--token-fhaz6q6bl-fW)) !important;
  width: auto;
}
.svg___91WbQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-8itld8j2DCdr);
}
.svg__r0FJe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: #15803d;
}
.freeBox__vdK60 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vdK60 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__vdK60 > :global(.__wab_flex-container) > *,
.freeBox__vdK60 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vdK60 > :global(.__wab_flex-container) > picture > img,
.freeBox__vdK60
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.text__aF3Jg {
  height: auto;
  max-width: 100%;
  position: relative;
  color: #2b2f33;
  font-size: 0.65rem;
}
.text__yTb2M {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  opacity: 0.3;
  font-size: var(--token-VrIY9r5RDQZ_);
}
.text__pm0Q5 {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 0.65rem;
}
.متننظر {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.متننظر > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.متننظر > :global(.__wab_flex-container) > *,
.متننظر > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.متننظر > :global(.__wab_flex-container) > picture > img,
.متننظر
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.freeBox___53H3H {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox___53H3H > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox___53H3H > :global(.__wab_flex-container) > *,
.freeBox___53H3H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___53H3H > :global(.__wab_flex-container) > picture > img,
.freeBox___53H3H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox__zoUnv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__zoUnv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__zoUnv > :global(.__wab_flex-container) > *,
.freeBox__zoUnv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zoUnv > :global(.__wab_flex-container) > picture > img,
.freeBox__zoUnv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.text__wZ5Sn {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-6NbVMeD6zQwn);
  position: relative;
  color: var(--token-1jTXKEDkeRHC);
}
.svg__ecNXv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-1jTXKEDkeRHC);
  width: 20px;
  align-self: flex-end;
  height: 20px;
  flex-shrink: 0;
}
.freeBox__zLXc8 {
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
}
.freeBox__zLXc8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__zLXc8 > :global(.__wab_flex-container) > *,
.freeBox__zLXc8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zLXc8 > :global(.__wab_flex-container) > picture > img,
.freeBox__zLXc8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.text___62Bj {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-6NbVMeD6zQwn);
  position: relative;
  color: var(--token-kpM4b4mG4f2d);
}
.svg__a8Ad {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kpM4b4mG4f2d);
  width: 20px;
  align-self: flex-end;
  height: 20px;
  flex-shrink: 0;
}
.text__le3Kw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: var(--token-6NbVMeD6zQwn);
  text-align: justify;
  min-width: 0;
}
.لایکریپورت {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(10px + var(--token-fhaz6q6bl-fW)) !important;
  min-width: 0;
}
.لایکریپورت > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.لایکریپورت > :global(.__wab_flex-container) > *,
.لایکریپورت > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.لایکریپورت > :global(.__wab_flex-container) > picture > img,
.لایکریپورت
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.dialograviExpFroDrakam:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.freeBox___0EXmx {
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  display: none;
}
.freeBox___0EXmx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox___0EXmx > :global(.__wab_flex-container) > *,
.freeBox___0EXmx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0EXmx > :global(.__wab_flex-container) > picture > img,
.freeBox___0EXmx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.freeBoxraviExpFroDrakam___0EXmxQl6C7 {
  display: none;
}
.svg__phmAr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.text__lDnuA {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  position: relative;
}
.reportText {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
  border-radius: 9px;
  padding: var(--token-vMUQwr5Jto1d);
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: var(--token-_c276Gs_1FIE);
}
.svg__nr5Ux {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__epBv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.httpRestApiFetcher__dvNua:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.نظربیشتراز1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
}
.نظربیشتراز1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.نظربیشتراز1 > :global(.__wab_flex-container) > *,
.نظربیشتراز1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.نظربیشتراز1 > :global(.__wab_flex-container) > picture > img,
.نظربیشتراز1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.svg___34YvM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__fw275 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VrIY9r5RDQZ_);
  align-self: flex-start;
  font-weight: 500;
}
.freeBox__x126B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 30rem;
  overflow: auto;
  min-width: 0;
}
.freeBox__x126B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__x126B > :global(.__wab_flex-container) > *,
.freeBox__x126B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x126B > :global(.__wab_flex-container) > picture > img,
.freeBox__x126B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.replyCard__sQuYr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: var(--token-_c276Gs_1FIE);
}
.freeBox__o8WyD {
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
  max-width: 100%;
}
.freeBox__o8WyD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__o8WyD > :global(.__wab_flex-container) > *,
.freeBox__o8WyD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o8WyD > :global(.__wab_flex-container) > picture > img,
.freeBox__o8WyD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.popoverCore:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__qhLa0 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}
.freeBox__qhLa0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__qhLa0 > :global(.__wab_flex-container) > *,
.freeBox__qhLa0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qhLa0 > :global(.__wab_flex-container) > picture > img,
.freeBox__qhLa0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.text__zTaJf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VrIY9r5RDQZ_);
}
.svg__lsG2C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  margin-bottom: 4px;
  flex-shrink: 0;
}
.svgraviExpFroDrakam__lsG2CQl6C7 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__sdFgJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kpM4b4mG4f2d);
  width: 16px;
  height: 20px;
  flex-shrink: 0;
}
.svgraviExpFroDrakam__sdFgJQl6C7 {
  color: var(--token-kpM4b4mG4f2d);
  width: 16px;
  flex-shrink: 0;
}
.text__dw8Rz {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  position: relative;
}
.freeBox__gJfpv {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 170px;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  margin-top: -10px;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #e2e8f0;
}
.starRate:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__wNjA9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  height: auto;
  max-width: 100%;
}
.dialog6:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__iAvTv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}
.freeBox__iAvTv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__iAvTv > :global(.__wab_flex-container) > *,
.freeBox__iAvTv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iAvTv > :global(.__wab_flex-container) > picture > img,
.freeBox__iAvTv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__buJg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__v5Zas {
  font-size: var(--token-6NbVMeD6zQwn);
}
.httpRestApiFetcher__ituI3:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.svg__bbdhD {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  align-self: center;
}
.freeBox__o41Sk {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__o41Sk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__o41Sk > :global(.__wab_flex-container) > *,
.freeBox__o41Sk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o41Sk > :global(.__wab_flex-container) > picture > img,
.freeBox__o41Sk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text__tjC {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-top: 0px;
  min-width: 0;
}
.سوشالها {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.توئیتر:global(.__wab_instance) {
  max-width: 100%;
  margin: var(--token-_c276Gs_1FIE);
}
.svg__tivy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__dcuHo {
  object-fit: cover;
  max-width: 100%;
  margin-top: 3px;
  margin-left: var(--token-fhaz6q6bl-fW);
  width: var(--token-Fv8-L_kN-2Ma);
  height: 1em;
}
.text__j9D5J {
  padding-top: 0px;
}
.svg__fly5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.ایتا:global(.__wab_instance) {
  margin: var(--token-_c276Gs_1FIE);
}
.svg__aLait {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___8OaBn {
  object-fit: cover;
  max-width: 100%;
  margin-top: 3px;
  margin-left: var(--token-fhaz6q6bl-fW);
  width: var(--token-Fv8-L_kN-2Ma);
  color: #ffffff;
  height: 1em;
}
.text__mNgXb {
  padding-top: 0px;
}
.svg__ubbUy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.تلگرام:global(.__wab_instance) {
  max-width: 100%;
  margin: var(--token-_c276Gs_1FIE);
}
.svg__vt1C0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__oYc9Q {
  object-fit: cover;
  max-width: 100%;
  margin-top: 3px;
  margin-left: var(--token-fhaz6q6bl-fW);
  width: var(--token-Fv8-L_kN-2Ma);
  height: 1em;
}
.svg__xe4Eu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.واتساپ:global(.__wab_instance) {
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: var(--token-_c276Gs_1FIE);
}
.svg___3OEf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jcPhF {
  object-fit: cover;
  max-width: 100%;
  margin-top: 3px;
  margin-left: var(--token-fhaz6q6bl-fW);
  width: var(--token-Fv8-L_kN-2Ma);
  height: 1em;
}
.svg__vutwu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__kjRpj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: 0.5px;
  max-width: 100%;
  width: 100%;
  background: var(--token-Y3HOiwZmAcAF);
  min-width: 0;
  flex-shrink: 0;
}
.کپیکردن {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__vjYtk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  min-width: 0;
}
.کپیلینک:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__cvcIj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wewyW {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-JDvyxAtm9ONK);
  width: var(--token-Fv8-L_kN-2Ma);
  height: var(--token-Fv8-L_kN-2Ma);
  margin-left: 7px;
  margin-top: 2px;
}
.text__rmbH3 {
  padding-top: 0px;
}
.svg__ri3Rd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.ریپلای {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.replyText {
  position: relative;
  width: 100%;
  max-width: 100%;
  font-weight: 500;
  font-size: var(--token-6NbVMeD6zQwn);
  height: 34px;
  min-width: 0;
  display: none;
  border-radius: 10px;
  padding: var(--token-fhaz6q6bl-fW) var(--token-vMUQwr5Jto1d);
}
.multilineTextInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__eTi4F {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: var(--token-vMUQwr5Jto1d);
  top: 10px;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 600;
  color: var(--token-JDvyxAtm9ONK);
  cursor: pointer;
}
.گرفتنریپلای:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.replyCard__ardMi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: var(--token-_c276Gs_1FIE);
}
