.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  min-width: 0;
}
.text___74CBm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 8px;
  min-width: 0;
}
.freeBox__vTb0S {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__gj9Uu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__pl3JC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__aKb16 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__klCi4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: auto;
  align-self: auto;
  min-width: 0;
  min-height: 0;
}
.freeBox__psyxg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.text__cie6B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  text-align: center;
  text-decoration-line: underline;
  color: var(--token-n7oRIobFxMYD);
  min-width: 0;
}
.text___0KxbA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  text-align: center;
  min-width: 0;
}
.text___6TE8Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VrIY9r5RDQZ_);
  text-align: center;
  color: var(--token-rjAIDXsTjJqJ);
  min-width: 0;
}
