.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  justify-self: flex-start;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox__aawEq {
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  background: var(--token-kpM4b4mG4f2d);
  border-radius: 19px;
  padding: var(--token-fhaz6q6bl-fW) var(--token-_c276Gs_1FIE);
}
.freeBox__aawEq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__aawEq > :global(.__wab_flex-container) > *,
.freeBox__aawEq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aawEq > :global(.__wab_flex-container) > picture > img,
.freeBox__aawEq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__yhwpm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-It8BufY6ejOY);
  width: 20px;
  height: 24px;
  flex-shrink: 0;
}
.text__eMUo {
  position: relative;
  height: auto;
  max-width: 100%;
  color: var(--token-It8BufY6ejOY);
  font-weight: 700;
  font-size: var(--token-tM2Vh4zTir7U);
  padding-top: 5px;
  border-radius: 6px;
}
.popoverCore:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-size: var(--token-VrIY9r5RDQZ_);
  text-align: justify;
}
.freeBox__ref8W {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
}
.svg___6Itud {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-It8BufY6ejOY);
  height: 24px;
  width: 20px;
  flex-shrink: 0;
}
.freeBox__grWqQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  border-radius: 8px;
  padding: var(--token-vMUQwr5Jto1d);
  border: 1px solid #e2e8f0;
}
.text__qOs7Z {
  font-size: var(--token-6NbVMeD6zQwn);
  text-align: right;
}
.text__ePvxi {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: var(--token-6NbVMeD6zQwn);
}
