.root {
  position: relative;
  border-radius: 6px;
  padding: 16px 32px;
  border-width: 2px;
  border-color: #185adb;
}
.rootshowStartIcon {
  display: flex;
}
.rootshowEndIcon {
  padding-right: 0px;
  padding-left: 24px;
}
.rootcolor_green {
  background: #34c759;
}
.rootcolor_indigo {
  cursor: pointer;
  flex-direction: row;
  background: #5856d6;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.rootcolor_indigo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootcolor_indigo > :global(.__wab_flex-container) > *,
.rootcolor_indigo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootcolor_indigo > :global(.__wab_flex-container) > picture > img,
.rootcolor_indigo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootcolor_blue {
  background: #185adb;
  padding: 15px 24px;
}
.rootcolor_red {
  background: #ff3b30;
}
.rootcolor_white {
  background: #ffffff;
  border-style: none;
}
.rootcolor_darkGray {
  background: #92959bd9;
}
.rootcolor_navLink {
  padding: 10px 16px;
  border-width: 0px;
}
.rootcolor_footerButton {
  padding: 0px;
  border-style: none;
}
.rootcolor_navLinkBlue {
  background: #185adb;
  padding: 10px 16px;
  border-style: none;
}
.rootcolor_smaillWhite {
  background: #ffffff;
  padding: 15px 20px;
  border-style: none;
}
.rootcolor_blueBorder {
  border-style: solid;
  border-color: #185adb;
}
.rootcolor_clear {
  border-style: solid;
  border-color: #ffffff;
}
.rooticonOnly {
  padding-top: 11px;
  padding-bottom: 11px;
}
.rootoutline {
  border: 1px solid #e5e5ea;
}
.rootbgDifference {
  mix-blend-mode: difference;
}
.rootround {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 24px;
}
.rootflat {
  padding: 0px;
}
.rootextraSmallShadow {
  box-shadow: 0px 1px 1px 1px #0000001a;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.rootsmall {
  padding-top: 12px;
  padding-bottom: 12px;
}
.slotTargetStartIcon {
  color: #92959bd9;
}
.slotTargetStartIconcolor_green {
  color: #ffffff;
}
.slotTargetStartIconcolor_indigo {
  color: #ffffff;
}
.slotTargetStartIconcolor_blue {
  color: #ffffff;
}
.slotTargetStartIconcolor_red {
  color: #ffffff;
}
.slotTargetStartIconcolor_white {
  color: #92959bd9;
}
.slotTargetStartIconcolor_darkGray {
  color: #ffffffd9;
}
.slotTargetStartIconcolor_link {
  color: #007aff;
}
.svg__qeKu3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.slotTargetChildren {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  white-space: pre;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
.slotTargetChildrencolor_green {
  color: #ffffff;
}
.slotTargetChildrencolor_indigo {
  color: #ffffff;
}
.slotTargetChildrencolor_blue {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.slotTargetChildrencolor_red {
  color: #ffffff;
}
.slotTargetChildrencolor_white {
  color: #185adb;
}
.slotTargetChildrencolor_darkGray {
  color: #ffffffd9;
}
.slotTargetChildrencolor_link {
  color: #007aff;
}
.slotTargetChildrencolor_navLink {
  font-weight: 500;
  color: #eeeeee;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.slotTargetChildrencolor_blueBorder {
  color: #185adb;
  font-weight: 500;
}
.slotTargetChildrenlarge {
  font-size: 24px;
  line-height: 1.5em;
}
.slotTargetEndIcon {
  color: #92959bd9;
}
.slotTargetEndIconcolor_green {
  color: #ffffff;
}
.slotTargetEndIconcolor_indigo {
  color: #ffffff;
}
.slotTargetEndIconcolor_blue {
  color: #ffffff;
}
.slotTargetEndIconcolor_red {
  color: #ffffff;
}
.slotTargetEndIconcolor_white {
  color: #92959bd9;
}
.slotTargetEndIconcolor_darkGray {
  color: #ffffffd9;
}
.slotTargetEndIconcolor_link {
  color: #007aff;
}
.svg__dk96C {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
