.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
}
.raviProgress:global(.__wab_instance) {
  max-width: 100%;
}
