.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: var(--token-Fv8-L_kN-2Ma);
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 140px;
  flex-shrink: 0;
}
.svg__hOyRg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__nQwA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
