.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
}
.freeBox__xkVkB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.rateDetail:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__zqtUq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token-Y3HOiwZmAcAF);
  min-width: 0;
  flex-shrink: 0;
}
.setNweReview:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___3DZjG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token-Y3HOiwZmAcAF);
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___6RwG3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-Fv8-L_kN-2Ma);
}
.freeBox___6RwG3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox___6RwG3 > :global(.__wab_flex-container) > *,
.freeBox___6RwG3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6RwG3 > :global(.__wab_flex-container) > picture > img,
.freeBox___6RwG3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.freeBox__alcob {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__alcob > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__alcob > :global(.__wab_flex-container) > *,
.freeBox__alcob > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__alcob > :global(.__wab_flex-container) > picture > img,
.freeBox__alcob
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.filterInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.sortInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.searchInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__e63Vh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rvyNf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__juWhk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token-Y3HOiwZmAcAF);
  min-width: 0;
  flex-shrink: 0;
}
.cardLine {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-Fv8-L_kN-2Ma) var(--token-Fv8-L_kN-2Ma) 0px;
}
.cardLine > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Fv8-L_kN-2Ma));
  height: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.cardLine > :global(.__wab_flex-container) > *,
.cardLine > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardLine > :global(.__wab_flex-container) > picture > img,
.cardLine
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Fv8-L_kN-2Ma);
}
.reviewCard:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__q1VhB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token-Y3HOiwZmAcAF);
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__kwRs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-Fv8-L_kN-2Ma);
}
.freeBox__pnl53 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Y3HOiwZmAcAF);
  min-width: 0;
  border-radius: 10px;
  padding: var(--token-BCWljTOyDNmw);
}
.text__x0PVy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-bottom: 0px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__imJd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-Fv8-L_kN-2Ma);
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__vo0Bm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___4XpEt {
  height: auto;
}
.svg__xJg3B {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
